{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">
  
  <header id="courseheader" style="background-image: url(/media/img/ariadne_1.jpg);">
	<h2>Grieks</h2>
  </header>
</div>

<div class="item">
  <h3>Tekst 27.B lesvoorbereiding</h3>
  <p>Upload hieronder de les voorbereiding die je moet maken voor tekst 27.B. Het volgende moet er zeker in:</p>
  <ul>
  <li>Je naam</li>
  <li>Datum</li>
  <li>Bronnen</li>
  <li>Waar het verhaal over gaat</li>
  <li>Hulpmiddelen die je gaat gebruiken zoals Prezi, Powerpoint etc.</li>
  </ul>
  <p>Maak het niet langer dan 2 A4'tjes en niet korter dan 1. Veel succes!</p>  
</div>

<div class="item">  
  <div class="uploadfile"
    <form id="upload">
      <input type="file" name="upload">
      <input type="submit" value="Upload">
    </form>
  </div>  
</div>

{% endblock %}
