@CHARSET "ISO-8859-1";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #111;
  line-height: 160%;
  text-align: justify;
  background: #f0f0f0 url(../img/backgroundlarge.png) no-repeat fixed center;
  overflow-y: scroll;
}

@font-face {
  font-family: Aldus;
  src: url(../fonts/aldus.ttf);
}

p.clear, div.clear {
  clear: both;
  margin: 0;
}
a:link, a:visited {
  color: #006;
}

header, footer {
  display: block;
}

span.bold {
  font-weight: bold;
}
span.italic {
  font-style: italic;
}
#shadow {
  box-shadow: 0 0 7px #777;
  margin: 0 auto;
  width: 900px;
  background: #fff url(../img/background.png) repeat-x;
}

p, li {
  word-wrap: break-word;
}

div.clear {
  clear: both;
}


/*------------------------------header------------------------------*/    
header {
  width: 900px;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

img#logo {
  float: left;
  width: 140px;
  margin: 10px 0 10px 35px;
}

h1 {
  font-family: Aldus, Georgia, serif;
  font-size: 82px;
  float: right;
  margin: 70px 35px 70px 0;
  text-decoration: none;
}

h1 a {
  text-decoration: none;
}

#firstletter {
  font-size: 78px;
}

nav {
  width: 850px;
  margin: auto;
  background: #f5f5f5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  padding: 0;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

ul#menu {
  margin: 0;
  padding: 0;
}

ul#menu, ul.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.dropdown {
  position: absolute;
  width: 200px;
  background: #eee;
  box-shadow: 0px 0px 6px #777;
  -moz-box-shadow: 0px 0px 6px #777;
  -webkit-box-shadow: 0px 0px 6px #777;
  z-index: 3;
  top: 46px;
}

li.navmenu {
  float: left;
  font-size: 14px;
  list-style: none;
  position: relative;
  z-index: 1;
}

a.menuitem:link, a.menuitem:visited {
  padding: 10px 15px 11px;
  display: block;
  text-decoration: none;
  color: #333;
  position: relative;
  z-index: 1;
}

a.menuitem:hover {
  background: #008;
  color: #fff;
}

a.menuitem:active {
  padding: 11px 15px 10px;
}

a.submenu-item:link, a.submenu-item:visited {
  background: #eee;
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  width: 170px;
  cursor: pointer;
}

a.submenu-item:hover {
  background: #008;
  color: #eee;
} 

a.submenu-item:active {
  padding: 11px 15px 9px;
}

li.liright {
  float: right !important;
  position: relative;
}

ul#menu img {
  height: 46px;
}

a.imagenav#homebtn {
  display: block;
  height: 46px;
  width: 46px;
  background: url(../img/home.png) 0 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a.imagenav#homebtn:hover {
  background: #008 url(../img/home.png) 0 -46px;
}

/*------------------------------search------------------------------*/
#search {
  position: absolute;
  right: 0;
}

#search input[type="text"] {
  padding: 12px 10px 12px 38px;
  width: 35px;
  height: 46px;
  background: #f5f5f5 url(../img/mag.png) no-repeat;
  line-height: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  color: #f5f5f5;
}

#search input[type="text"]:hover {
  background: url(../img/mag.png) 0 -46px no-repeat #008;
  color: #008;
}

#search input[type="text"]:focus {
  width: 260px;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(100, 100, 100, 1);
  -moz-box-shadow: 0 0 5px rgba(100, 100, 100, 1);
  cursor: text;
  background: #f5f5f5 url(../img/mag.png) no-repeat;
  color: #333;
}​

/*------------------------------loginform------------------------------*/
input {
  border: none;
  font-size: 14px;
  color: #333;
  outline: none;
  padding: 2px 8px 2px 30px;
}

#loginhome {
  float: right !important;
}

div#darken {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(1, 1, 1);
  background: rgba(10, 10, 10, 0.8);
  position: fixed;
  z-index: 6;
}

div#inlogform {
  text-align: center;
  position: relative;
  background: #ddd;
  margin: 100px auto 0;
  width: 280px;
  box-shadow: 0 0 100px #000;
  font-size: 13px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 337px;
  overflow: visible !important;
}

#closelogin {
  height: 24px;
  width: 24px;
  background: #000 url(../img/cross.png);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  position: absolute;
  top: -15px;
  right: -15px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
}

div#inlogform a:link, div#inlogform a:visited {
  text-decoration: none;
  color: #006;
}

div#inlogform a:hover, div#inlogform a:active {
  text-decoration: underline;
}

form#login {
  margin: 0 0 20px;
}

div#loginandpassword {
  width: 560px;
}

div#password, div#focuslogin {
  padding: 15px;
  float: left;
  width: 250px;
}
div#password {
  float: right;
}

/*------------------------------content------------------------------*/
.wrapper {
  width: 800px;
  margin: -25px auto;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  padding: 20px 50px 40px;
  position: relative;
  word-wrap: break-word;
  z-index: 0;
}

.wrapper:after {
  -webkit-box-shadow: 0 0 15px #000;
  -moz-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
  bottom: -10px;
  height: 12px;
  width: 850px;
  margin: 0 auto;
  background: #007;
  -moz-border-radius: 400px / 7px;
  border-radius: 400px / 7px;
  content: "";
  position: absolute;
}

h2 {
  font-size: 40px;
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  margin: 30px 0 30px;
  line-height: 38px;
}

h2 a:link, a:visited{
  text-decoration: none;
  color: #000;
} 
  
#inlogform h2 {
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}

div.item {
  padding: 1px 0 10px;
  border-bottom: 1px solid #cfcfcf;
}

a.leesmeer {
  float: right;
  text-decoration: none;
}

div.pagination {
  width: 400px;
  height: 30px;
  padding: 0 0 0 200px;
}

a.pagenav {
  display: block;
  float: left;
  width: 25px;
  padding: 5px;
  margin: 10px 7px 10px 0;
  background: #EEE;
  text-decoration: none;
  text-align: center;
}

a.pagenav:hover {
  background: #006;
  color: #FFF;
}

p.morepages {
  display: block;
  float: left;
  width: 25px;
  padding: 5px;
  margin: 10px 7px 10px 0;
  background: #EEE;
  text-decoration: none;
  text-align: center;
}

/*------------------------------photos------------------------------*/
div.photos {
  padding: 0;
  border-bottom: 1px solid #cfcfcf;
  width: 798px;
}

div#slider {
  overflow: hidden;
  padding: 0 0 0 1px;
}

a.slide {
  height: 200px;
  width: 266px;
  float: left;
  text-align: center;
  display: block;
}
a.slide img {
  height: 200px;
}

ul#sliderul {
	margin: 0px auto;
	padding: 0px;
	width: 86px;
}

li.slidernav {
	display: inline-block;
	list-style: none;
	width: 14px;
	margin: 15px 5px;
	height: 14px;
}

a.li {
	width: 14px;
	display: block;
	height: 14px;
	border-radius: 7px;
	-moz-border-radius: 7px;
}

.act {
	background: #11b;
	border-radius: 7px;
	-moz-border-radius: 7px;
  box-shadow: inset 0 2px 4px #000;
  -moz-box-shadow: inset 0 2px 4px #000;
}

.inact {
	background: #777;
  border-radius: 7px;
	-moz-border-radius: 7px;
}

/*------------------------------rooster------------------------------*/
div#rooster {
  position: relative;
  float: left;
  box-shadow: 0 0 5px #777;
  -moz-box-shadow: 0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  width: 800px;
}

div.dag {
  width: 250px;
  float: left;
}

div#nummers {
  width: 39px;
  float: left;
  margin-top: 57px;
  color: #333;
}

div.divider {
  width: 1px;
  background: #bbb;
  float: left;
}

p.dag {
  text-align: center;
  font-weight: bold;
}

div.uure {
  padding: 7px 15px 7px 9px;
  background: #eaeaea;
  position: relative;
  border-left: 6px solid #eaeaea;
  height: 25px;
  font-size: 14px;
}

div.uuru {
  padding: 7px 15px 7px 9px;
  background: #f3f3f3;
  position: relative;
  border-left: 6px solid #f3f3f3;
  height: 25px;
  font-size: 14px;
}

div.uuri {
  font-size: 14px;
  padding: 7px 15px 7px 9px;
  color: #555 !important;
  position: relative;
  border-left: 6px solid #fff;
  height: 25px;
}

.valtuit {
  color: #555;
  position: relative;
}

.valtuit:before {
  height: 39px;
  width: 250px;
  background: url(../img/raster.png);
  content: "";
  display: block;
  top: -7px;
  left: -9px;
  position: absolute;
}

p.vak {
  margin: 0;
}

div.leraarles {
  width: 68px;
  float: left;
}

div.time {
  width: 77px;
  text-align: right;
  margin-left: 15px;
  float: right;
}

div.lokaal {
  width: 25px;
  margin-left: 10px;
  float: right;
}

#weekend {
  width: 79px;
  border-left: #bbb 1px solid;
  float: left;
  background: #efefef;
  font-size: 23px;
  color: #777;
  word-wrap: normal;
}

#weekend span {
  display: block;
  transform:           rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    -webkit-transform: rotate(90deg);
  text-align: center;
  margin: 220px 0 0 5px;
  font-weight: bold;
}

.weekendday {
  width: 226px !important;
}

span.right {
  float: right;
}

div.huiswerkind {
  height: 6px;
  width: 100%;
  background: #e55;
}

ul.huiswerk {
  margin: 10px 5px;
  padding: 0 12px 12px;
  background: #fefefe;
  position: relative;
  box-shadow: 0 0 7px #777;
  -moz-box-shadow: 0 0 7px #777;
  -webkit-box-shadow: 0 0 7px #777;
  z-index: 2;
  display: none;
  top: 20px;
}

ul.huiswerk:before {
  background-color: #fefefe;
  content: "";
  display: block;
  height: 20px;
  left: 3px;
  position: relative;
  top: -9px;
  transform:           rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    -webkit-transform: rotate(45deg);
  width:  20px;
}

div.triangle {
  box-shadow: 0 0 7px #777;
  -moz-box-shadow: 0 0 7px #777;
  -webkit-box-shadow: 0 0 7px #777;
  background-color: #fefefe;
  display: none;
  height: 20px;
  position: relative;
  top: 20px;
  transform:           rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    -webkit-transform: rotate(45deg);
  width:  20px;
  position: relative;
  margin: 0 0 -21px 20px;
  z-index: 1;
}

li.huiswerkitem {
  list-style: none;
  font-size: 13px;
  padding: 2px 0 2px 10px;
  border-left: #9ffe49 solid 6px;
  text-align: left;
}

.pw {
  border-left: solid #FF5860 6px !important;
}

.opdr {
  border-left: solid #70b6f2 6px !important;
}

.so {
  border-left: solid #f6e44b 6px !important;
}

span.verkort {
  color: #f849af;
}

.meldingen {
  font-size: 14px;
  border-bottom: 1px solid #bbb;
}

div.note {
  background: #ececec;
  padding: 10px 20px 20px;
  text-shadow: 0 1px 0 #fff;
  margin: 0 0 20px;
}

div.note:before, div.note:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-2deg);    
  -moz-transform: rotate(-2deg);   
  -o-transform: rotate(-2deg);
    }

div.note:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  right: 10px;
  left: auto;
}

.headermessage {
  font-weight: bold;
}

#meldingen h3 {
  margin: 15px 5px 3px;
}

ul.belangrijk {
  margin: 0;
}

div#komend {
  box-shadow: 0 0 5px #777;
  -moz-box-shadow: 0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  padding: 1px 15px 15px;
  font-size: 14px;
  margin: 20px 0 10px;
}

div#komend li.huiswerkitem {
  font-size: 14px;
}

#meldingenlinks {
  float: left;
  width: 540px;
  padding: 1px 15px 15px;
}

#legend {
  float: left;
  width: 200px;
  padding-left: 20px;
  border-left: #bbb 1px solid;
}

.legendleft {
  width: 50px;
  float: left;
}

.legendright {
  width: 110px;
  float: left;
}

#legendul {
  padding: 0;
}

#valtuitlegend {
  position: relative;
  color: #333;
  border-color: #eee;
  margin-top: 10px;
}

#valtuitlegend:before {
  height: 29px;
  width: 190px;
  background: url(../img/raster.png);
  content: "";
  display: block;
  top: -1px;
  left: 0;
  position: absolute;
}

/*------------------------------letters------------------------------*/
ul#letters {
  padding: 0;
}

li.odd {
  background: #eee;
  list-style: none;
  margin: 0;
  padding: 8px 12px;
}

li.even {
  background: #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 8px 12px;
}

li.odd a, li.even a {
  text-decoration: none;
}

/*------------------------------courses------------------------------*/

header#courseheader {
  width: 800px;
  margin: -21px -50px 30px;
  text-align: left;
  padding: 34px 50px 20px;
  background: #444;
  background-size: 900px;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  font-weight: normal;
  position: relative;
}
header#courseheader:after {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 1);
  bottom: 0px;
  height: 12px;
  width: 876px;
  margin: 0 auto;
  -moz-border-radius: 433px / 7px;
  border-radius: 433px / 7px;
  content: "";
  position: absolute;
  left: 15px; 
  z-index: -1;
}

li.head {
  list-style: none;
  font-weight: bold;
  width: 320px;
  height: 30px;
}

li.head span.coursename {
  padding: 0 0 2px 10px;
}

li.head span.year {
  padding: 0 10px 2px 0;
  float: right;
}

ul#courses {
  width: 320px;
  margin: 10px 0;
  padding: 0 240px;
}

a.course {
  display: block;
  width: 280px;
  text-decoration: none;
  float: left;
}

a.odd {
  list-style: none;
  background: #EEE;
  width: 296px;
  padding: 8px 12px;
}

a.even {
  list-style: none;
  background: #FEFEFE;
  width: 296px;
  padding: 8px 12px;
}

span.coursename {
  float: left;
  width: 220px;
}

span.year {
  float: right;
}

span.menu {
  float: right;
}

input.course[type="submit"] {
  width: 320px;
  margin: 0 240px;
}

label.checkbox {
  float: right;
  padding: 8px 12px;
}

img.fileicon {
  height: 18px;
  margin: 2px 2px 0 0;
}

/*------------------------------loginpage------------------------------*/
#loginpage {
  text-align: center;
}

#loginpage a:link, #loginpage a:visited {
  text-decoration: none;
  font-size: 14px;
}

#loginpage a:hover, #loginpage a:active {
  text-decoration: underline;
}

#loginerror {
  background: #d44;
  color: #fff;
  padding: 8px 15px;
  margin: 30px auto;
  position: relative;
}

#loginformpage {
  margin: 10px auto;
  width: 170px;
  text-align: center;
}

input.text, #id_username, #id_password {
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 150px;
  font-size: 17px;
  background: #f9f9f9;
  box-shadow: 0 0 5px #aaa;
  border-radius: 2px;
  border: none;
  outline: none;
}

input.text:focus, #id_username:focus, #id_password:focus {
  box-shadow: 0 0 10px #60c6ff;
}

input[type=submit] {
  padding: 8px 10px;
  width: 100px;
  cursor: pointer;
  text-transform: capitalize;
  background-image:           linear-gradient(bottom, rgb(40,40,199) 17%, rgb(58,67,250) 100%);
    background-image:      -o-linear-gradient(bottom, rgb(40,40,199) 17%, rgb(58,67,250) 100%);
    background-image:     -ms-linear-gradient(bottom, rgb(40,40,199) 17%, rgb(58,67,250) 100%);
    background-image:    -moz-linear-gradient(bottom, rgb(40,40,199) 17%, rgb(58,67,250) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(40,40,199) 17%, rgb(58,67,250) 100%);
    background-image: -webkit-gradient(
	    left bottom,
	    linear,
	    left top,
	    color-stop(0.17, rgb(40,40,199)),
	    color-stop(1.00, rgb(58,67,250))
    );
  font-size: 17px;
  color: #fff;
  box-shadow: 1px 1px 1px #000;
  border-radius: 3px;
  margin: 10px auto 0;
  outline: none;
  border: none;
}

input.button:hover, input[type=submit]:hover {
  background-image:           linear-gradient(bottom, rgb(50,50,210) 17%, rgb(68,77,255) 100%);
    background-image:      -o-linear-gradient(bottom, rgb(50,50,210) 17%, rgb(68,77,255) 100%);
    background-image:     -ms-linear-gradient(bottom, rgb(50,50,210) 17%, rgb(68,77,255) 100%);
    background-image:    -moz-linear-gradient(bottom, rgb(50,50,210) 17%, rgb(68,77,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(50,50,210) 17%, rgb(68,77,255) 100%);
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.17, rgb(50,50,210)),
	    color-stop(1.00, rgb(68,77,255))
    );
}

input.button:active, input[type=submit]:active {
  box-shadow: 1px 1px 2px #fff, inset 1px 1px 2px #333;
  background-image:           linear-gradient(bottom, rgb(58,67,250) 17%, rgb(40,40,199) 100%);
    background-image:      -o-linear-gradient(bottom, rgb(58,67,250) 17%, rgb(40,40,199) 100%);
    background-image:     -ms-linear-gradient(bottom, rgb(58,67,250) 17%, rgb(40,40,199) 100%);
    background-image:    -moz-linear-gradient(bottom, rgb(58,67,250) 17%, rgb(40,40,199) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(58,67,250) 17%, rgb(40,40,199) 100%);
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.17, rgb(58,67,250)),
	    color-stop(1.00, rgb(40,40,199))
    );
}

/*------------------------------contact------------------------------*/

div#location {
  width: 480px;
}

div#adress {
  width: 480px;
}

p.contact {
 margin: 0;
}

div#map {
 float: right;
 width: 300px;
 height: 360px;
}
div#map iframe {
 width: 300px;
 height: 250px;
}

div#map a {
  display: block;
  padding: 8px 10px;
  cursor: pointer;
  background-image: linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -o-linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -ms-linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -moz-linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -webkit-linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -webkit-gradient(
   left bottom,
   linear,
   left top,
   color-stop(0.17, #2828C7),
   color-stop(1.00, #3A43FA)
   );
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: white;
  box-shadow: 1px 1px 1px #000;
  border-radius: 3px;
}

ul#contactpersons {
 padding: 0;
 margin: 10px 0;
}

ul#contactpersons li a {
}

span.persondescription {
 float: right;
}

span.morecontacts a {
  float: right;
  width: 300px;
  padding: 8px 0;
  cursor: pointer;
  background-image: linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -o-linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -ms-linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -moz-linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -webkit-linear-gradient(bottom, #2828C7 17%, #3A43FA 100%);
  background-image: -webkit-gradient(
   left bottom,
   linear,
   left top,
   color-stop(0.17, #2828C7),
   color-stop(1.00, #3A43FA)
   );
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: white;
  box-shadow: 1px 1px 1px #000;
  border-radius: 3px;
}

/*------------------------------settings------------------------------*/
.settingsmenu {
  display: block;
  border-bottom: 1px solid #EEE;
  height: 28px;
  margin: 30px 0 30px 0;
}

h3.menu a {
  float: left;
  padding: 0 5px 3px 5px;
  margin: 0 7px 0 0;
  text-decoration: none;
  color: #000;
}

h3.menu a:hover {
  border-bottom: 3px solid #008;
  padding: 0 5px 1px 5px;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

form#settings-persona {
  margin: -10px 0 0 0;
}

ul.persona {
  display: block;
  margin: 15px 0 0 0 !important;
}

.profile {
  float: right;
  height: 160px;
  width: 140px;
}

ul.contactinfo, ul.password {
  display: block;
  width: 100%;
}

ul.notifications {
  display: block;
  padding: 0 0 20px 240px;
}

li.evennotification {
  display: block;
  width: 320px;
  background: #FEFEFE;
  height: 41px;
}

li.oddnotification {
  display: block;
  width: 320px;
  background: #EEE;
  height: 41px;
}

label.settings {
  float: left; 
  clear: left; 
  margin: 5px 20px 0 0; 
  width: 170px;
  text-align: right; 
  font-size: 16px; 
}

input.wider {
  width: 200px; 
  height: 20px; 
}

input#visibility {
  margin: 0 0 0 10px;
}

input[disabled=disabled] {
  background: #DDDDDD !important;
  color: #0e0e0e !important;
}

input.settings-contact, input.settings-password {
  width: 222px;
  margin: 0 0 20px 190px; 
}

input.settings-notifications {
  width: 320px;
  margin: 20px 0 20px 240px; 
}

label.new-letter,
label.new-course {
  display: block;
  width: 240px;
  margin: 8px 12px;
  text-decoration: none;
  float: left;
}

input#new-letter,
input#new-course {
  float: right;
  margin: 15px 12px 0 12px;
}


/*------------------------------photos------------------------------*/
div#photopage img {
  height: 105px;
  border: 4px white solid;
  box-shadow: 0 0 1px #111;
  -moz-box-shadow: 0 0 1px #111;
  -webkit-box-shadow: 0 0 2px #333;
  float: left;
  margin: 6px;
}

/*------------------------------footer------------------------------*/

footer {
  width: 900px;
  margin: 23px auto 0;
  position: relative;
  font-size: 14px;
  padding: 0;
  background: #006;
  color: #eee;
}

ul#breadcrumbs {
  list-style: none;
  padding: 0;
  position: relative;
  width: 900px;
  float: left;
  margin: auto;
  border-bottom: 1px solid #AAA;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}

ul#breadcrumbs a {
  display: block;
  float: left;
  color: #FFF;
  text-decoration: none;
  padding: 10px 30px;
  background: url(../img/breadcrumbsdivider.png) right top no-repeat;
  margin: 0 -15px 0 0;
}

ul#breadcrumbs a:hover {
  display: block;
  float: left;
  color: #333;
  text-decoration: none;
  padding: 10px 30px;
  background: url(../img/breadcrumbsdividerhoverleft.png) left top no-repeat, url(../img/breadcrumbsdividerhover.png) right top no-repeat;
  background-color: #FFF;
}

a.home:hover {
  background: #FFF url(../img/breadcrumbsdividerhover.png) right top no-repeat !important;
}

span.current {
  float: left;
  color: #FFF;
  text-decoration: none;
  padding: 10px 30px;
  font-style: italic;
}

div#center {
  padding: 80px 50px 30px;
}

h2.footerh {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 0;
  border-bottom: 1px solid #cecece;
}

.footercolumn {
  float: left;
}

#leftcolumn {
  width: 40%;
}

#middlecolumn {
  width: 25%;
  padding: 0 5% 0 0;
}

#rightcolumn {
  width: 30%;
}

#swan {
   height: 250px;
   width: 250px;
   padding: 0 0 0 10px;
}

#logotext-footer {
  padding: 0 45px;
  font-family: Georgia;
}

footer a:link, footer a:visited {
  color: #eee;
  text-decoration: none;
}

footer a:hover, footer a:active {
  text-decoration: underline;
}

.sitemaplist {
  margin: 10px 0;
  padding: 0 0 0 25px;
  float: left;
  width: 175px;
}

.sitemaplist2 {
  padding: 0 16px;
}

#searchcont {
  width: 46px;
  z-index: 2;
}

#container {
  width: 800px;
  height: 25px;
  margin: 20px 0 0;
  border-top: #cecece 1px solid;
}

#copyright {
  float: right;
  margin: 4px 0;
  padding: 0 4px 0 0;
  font-size: 11px;
}
