@CHARSET "ISO-8859-1";

html,body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #111;
  line-height: 160%;
  text-align: justify;
  background: url(../img/background.png) repeat-x #f5f5f5;
}

p.clear, div.clear {
  clear: both;
  margin: 0;
}
a:link, a:visited {
  color: #006;
}

header, footer {
  display: block;
}

span.bold {
  font-weight: bold;
}
#shadow {
  box-shadow: 0 0 7px #777;
  margin: 0 auto;
  width: 900px;
  background: #fff url(../img/background.png) repeat-x;
}

/*------------------------------header------------------------------*/
header {
  margin: 0 auto;
  width: 900px;
}

#logotext {
  float: left;
}
#logo {
  float: left;
  margin: 0 12px 0 5px;
  height: 25px;
}
a.header:link, a.header:visited, div.header {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 15px 15px;
  cursor: pointer;
  background: #fff;
}

a.header:active, div.header:active {
  padding: 16px 15px 14px;
  cursor: pointer;
}
div.header, li.menu {
  border-top: #008 8px solid;
}
div.header:active, li.menu:active {
  border-top: #F69C0E 8px solid !important;
}

ul#menu li {
  float: left;
  background: white;
  position: relative;
}

input {
  border: none;
  font-size: 14px;
  height: 25px;
  color: #333;
  outline: none;
  padding: 2px 8px 2px 30px;
}

input:hover {
  border: 1px #333 solid;
}
input:active, input:focus {
  border: 1px #006 solid;
}

#loginhome {
  float: left;
}

#settingicon {
  float: right;
  padding: 0;
  width: 51px;
  position: relative;
}
#settingicon img {
  height: 51px;
  width: 51px;
  margin: 0;
}
#settingdrop {
  top: 51px;
  left: -149px;
}

nav {
  float: left;
}
h1 {
  float: left;
  padding: 30px 0 35px 20px;
  font-size: 54px;
  font-family: Georgia;
  font-weight: normal;
}
span#first-letter {
  font-size: 70px;
}

div#inlogform {
  margin: 0 0 0 800px;
  padding: 15px;
  text-align: center;
  position: absolute;
  background: #fefefe;
  border-top: 8px #F69C0E solid;
  border-bottom: 1px #cfcfcf solid;
  border-left: 1px #cfcfcf solid;
  border-right: 1px #cfcfcf solid;
}
input.text {
  height: 20px;
  margin-bottom: 10px;
  padding: 3px 10px;
  width: 150px;
}
input.button {
  padding: 3px 10px;
  width: 170px;
  background: none;
}

ul#menu, ul.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.dropdown {
  position: absolute;
  width: 200px;
  background: #eee;
  box-shadow: 0px 0px 6px #777;
  z-index: 3;
}
a.menu-item:link, a.menu-item:visited {
  background: #eee;
  color: #333;
  text-decoration: none;
  display: block;
  padding: 15px;
  width: 170px;
  cursor: pointer;
}

a.menu-item:hover {
  background: #444;
  color: #eee;
} 

a.menu-item:active {
  padding: 16px 15px 14px;
  cursor: pointer;
}

/*------------------------------content------------------------------*/
div#wrapper {
  margin: auto;
  width: 800px;
  background: white;
  padding: 1px 0 0;
}

h2 {
  font-size: 60px;
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  margin: 50px 0 80px;
}
div.item {
  padding: 1px 0 10px;
  border-bottom: 1px solid #cfcfcf;
}
a.leesmeer {
  float: right;
  text-decoration: none;
}


/*------------------------------foto's------------------------------*/
#galleria {
  height: 400px;
}
div.photo_cont {
  float: left;
}
div.photos {
  padding: 0 0 40px;
  border-bottom: 1px solid #cfcfcf;
}
img.photo {
  height: 180px;
  width: 266px;
}
a.image {
  text-decoration: none;
}
a.beschrijving {
  text-align: center;
  display: block;
  width: 100%;
}

/*------------------------------rooster------------------------------*/
div#rooster {
  position: relative;
  float: left;
  box-shadow: 0 0 5px #777;
  -moz-box-shadow: 0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  width: 800px;
}
div.dag {
  width: 250px;
  float: left;
}
div#nummers {
  width: 39px;
  float: left;
  margin-top: 57px;
  color: #333;
}
div.divider {
  width: 1px;
  background: #bbb;
  float: left;
}
p.dag {
  text-align: center;
  font-weight: bold;
}
div.uure {
  padding: 7px 15px 7px 9px;
  background: #eaeaea;
  position: relative;
  border-left: 6px solid #eaeaea;
  height: 25px;
  font-size: 14px;
}
div.uuru {
  padding: 7px 15px 7px 9px;
  background: #f3f3f3;
  position: relative;
  border-left: 6px solid #f3f3f3;
  height: 25px;
  font-size: 14px;
}
div.uuri {
  font-size: 14px;
  padding: 7px 15px 7px 9px;
  color: #555 !important;
  position: relative;
  border-left: 6px solid #fff;
  height: 25px;
}
.valtuit {
  color: #555;
  position: relative;
}
.valtuit:before {
  height: 39px;
  width: 250px;
  background: url(../img/raster.png);
  content: "";
  display: block;
  top: -7px;
  left: -9px;
  position: absolute;
}
p.vak {
  margin: 0;
}


div.leraarles, div.time, div.lokaal {
}
div.leraarles {
  width: 55px;
  float: left;
}
div.time {
  width: 77px;
  text-align: right;
  margin-left: 53px;
  float: right;
}
div.lokaal {
  width: 25px;
  margin-left: 10px;
  float: right;
}

#weekend {
  width: 79px;
  border-left: #bbb 1px solid;
  float: left;
  background: #efefef;
  font-size: 23px;
  color: #777;
}
#weekend span {
  display: block;
  transform:           rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    -webkit-transform: rotate(90deg);
  text-align: center;
  margin: 220px 0 0 5px;
  font-weight: bold;
}

span.right {
  float: right;
}
div.huiswerkind {
  height: 6px;
  width: 100%;
  background: #e55;
}
ul.huiswerk {
  margin: 10px 5px;
  padding: 0 12px 12px;
  background: #fefefe;
  position: relative;
  box-shadow: 0 0 7px #777;
  -moz-box-shadow: 0 0 7px #777;
  -webkit-box-shadow: 0 0 7px #777;
  z-index: 2;
  display: none;
  top: 20px;
}
ul.huiswerk:before {
  background-color: #fefefe;
  content: "";
  display: block;
  height: 20px;
  left: 3px;
  position: relative;
  top: -9px;
  transform:           rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    -webkit-transform: rotate(45deg);
  width:  20px;
}
div.triangle {
  box-shadow: 0 0 7px #777;
  -moz-box-shadow: 0 0 7px #777;
  -webkit-box-shadow: 0 0 7px #777;
  background-color: #fefefe;
  display: none;
  height: 20px;
  position: relative;
  top: 20px;
  transform:           rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    -webkit-transform: rotate(45deg);
  width:  20px;
  position: relative;
  margin: 0 0 -21px 20px;
  z-index: 1;
}
li.huiswerkitem {
  list-style: none;
  font-size: 13px;
  padding: 2px 0 2px 10px;
  border-left: #9bfe42 solid 6px;
  text-align: left;
}
.pw {
  border-left: solid #FF5860 6px !important;
}
.opdr {
  border-left: solid #70b6f2 6px !important;
}
.so {
  border-left: solid #f6e44b 6px !important;
}
span.verkort {
  color: #f849af;
}

.meldingen {
  padding: 1px 15px 15px;
  font-size: 14px;
  border-bottom: 1px solid #bbb;
}
div.note {
  background: #ececec;
  padding: 10px 20px 20px;
  text-shadow: 0 1px 0 #fff;
  margin: 0 0 20px;
}
div.note:before, div.note:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-2deg);    
  -moz-transform: rotate(-2deg);   
  -o-transform: rotate(-2deg);
    }

div.note:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  right: 10px;
  left: auto;
}
.headermessage {
  font-weight: bold;
}
#meldingen h3 {
  margin: 15px 5px 3px;
}
ul#belangrijk {
  margin: 0;
}

div#komend {
  box-shadow: 0 0 5px #777;
  -moz-box-shadow: 0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  padding: 1px 15px 15px;
  font-size: 14px;
  margin: 20px 0 10px;
}
div#komend li.huiswerkitem {
  font-size: 14px;
}

/*------------------------------footer------------------------------*/
footer {
  width: 800px;
  margin: auto;
  position: relative;
  padding: 20px 0 30px;
  font-size: 14px;
}
div#center {
  padding: 20px 0 50px;
}
#copyright {
  float: left;
  margin: 4px 0;
}
div#searchfield_cont {
  float: right;
}
#searchfield {
  background: url(../img/mag.png) no-repeat;
  border: 1px #cfcfcf solid;
  width: 300px;
}
h2#sitemap {
  font-size: 25px;
  margin: 25px 0;
}
