{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="profileinfo">
  <img src="/media/img/avatars/wolverine.png" alt="Profile picture NAME" id="avatar">
  <h2 class="profile">NAME</h2>

  <p class="label">{% trans "Class" %}:</p>
  <p class="personadata">G5D</p>
  <div class="clear"></div>

  <p class="label">{% trans "Mailadress" %}:</p>
  <p class="personadata">{{ request.user.email }}</p>
  <div class="clear"></div>

  <p class="label">{% trans "Secondary mailadress" %}:</p>
  <p class="personadata">john@doe.co</p>
  <div class="clear"></div>

  <p class="label">{% trans "Phonenumber" %}:</p>
  <p class="personadata">06 12345678</p>
  <div class="clear"></div>

  <p class="label">{% trans "Twitter" %}:</p>
  <p class="personadata">@Johndoe</p>
  <div class="clear"></div>

  <p class="label">{% trans "Facebook" %}:</p>
  <p class="personadata">Johndoe</p>
  <div class="clear"></div>
</div>
{% endblock %}
