{% extends "news/pagination.html" %}

{% block head %}
  <link rel="stylesheet" href="/nieuws/static/css/news.css">
  <script src="/nieuws/static/js/archive.js"></script>
{% endblock %}

{% block bodyclass %}
  class="news"
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    <h2>Nieuws - Archief</h2>

    <form id="archivepicker" method="GET" action="/nieuws/archief/">
      <select name="year">
        <option value="">Geen jaar</option>
        {% for year in years %}
        <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>
      {% if current_year %}
      <select name="month">
        <option value="">Geen maand</option>
        {% for value, month in month_list %}
        <option value="{{ value }}" {% if current_month == value %}selected{% endif %}>{{ month }}</option>
        {% endfor %}
      </select>
      {% endif %}
      <input type="submit" value="Bekijk" class="button">
    </form>

    {% for item in news %}
    <article class="newsmessage">
      <h3><a href="{{ item.get_url() }}">{{ item.title }}</a></h3>
      <p class="meta">
        <time>{{ item.date_published.strftime('%d/%m/%Y') }}</time>{% if item.author %} - Door: <strong>{{ item.author }}</strong>{% endif %}
      </p>
      <section>
        <p>{{ item.content }} &ensp;<a href="{{ item.get_url() }}">Lees meer...</a></p></p>
      </section>
    </article>
    {% else %}
    <article class="newsmessage"><h3>Geen nieuws</h3></article>
    {% endfor %}

    <nav id="pagination">
    {%- block pagination %}{{ super() }}{% endblock %}
    </nav>

  </div>
{% endblock %}
