{% extends "cms/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('news.static', filename="css/news.css") }}">
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    {% if item.cover_image_url %}
    <div id="pagecover">
      <div class="coverbg">
        <img src="{{ item.cover_image_url }}">
      </div>
    </div>
    {% endif %}
    <article class="newsmessage">
      <h2>{{ item.title }}</h2>
      <p class="meta">
        <time>{{ item.date_published.strftime('%d/%m/%Y') }}</time>{% if item.author %} - Door: <strong>{{ item.author }}</strong>{% endif %}
      </p>
      <section>
        {{ item.content }}
      </section>
    </article>
  </div>
{% endblock %}
