{% extends "cms/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/nieuws/static/css/news.css">
  <script src="/nieuws/static/js/archive.js"></script>
{% endblock %}

{% block bodyclass %}
  class="news"
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    <h2>Nieuws - Archief</h2>

    <form id="archivepicker" method="GET" action="/nieuws/archief/">
      <select name="year">
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
      </select>

      <select name="month">
        <option value="1">Januari</option>
        <option value="2">Februari</option>
        <option value="3">Maart</option>
        <option value="4">April</option>
        <option value="5">Mei</option>
        <option value="6">Juni</option>
        <option value="7">Juli</option>
        <option value="8">Augustus</option>
        <option value="9">September</option>
        <option value="10">Oktober</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>

      <input type="submit" value="Bekijk" class="button">
    </form>

    <article class="newsmessage">
      <h3><a href="/nieuws/2013/08/openening-schip/">Opening Schip</a></h3>
      <p class="meta">
        <time>27/09/2013</time> - Door: <strong>Jan Modaal</strong>
      </p>
      <section>
        <p>Catnipsum dolor sit amet meeow climbing fur purr purr purr. Tiger abyssinian where have u been catnip fur ball. Fish string chase catnipsum. Long thin tail i smell a rat bengal shorthair chartreux. What did you there? catnip curiosity killed the cat stuck in a tree. Burmilla felix catnip what did you there? smokey.&ensp;<a href="/nieuws/2013/08/over-het-oude-gebouw-het-schip/">Lees meer...</a></p></p>
      </section>
    </article>

    <article class="newsmessage">
      <h3><a href="/nieuws/2013/08/over-het-oude-gebouw-het-schip/">Over het oude gebouw Het Schip</a></h3>
      <p class="meta">
        <time>30/12/2013</time> - Door: <strong>Dinges</strong>
      </p>
      <section>
        <p>Fur patch where have u been scratching post ragdoll puss petite curl up in a blanket squeaking mice. Claws catnip hisss leap miioo-oo-oo laze in the sun molly fur pussy cat, pussy cat. I don't believe we just have two exotic sniffing sunbathe. Mew a cat may look at a king misty calico felix rolly twitchy ears sleep on your keyboard fur ball.&ensp;<a href="/nieuws/2013/08/over-het-oude-gebouw-het-schip/">Lees meer...</a></p></p>
      </section>
    </article>

    <article class="newsmessage">
      <h3><a href="/nieuws/2013/08/start-schooljaar/">Start schooljaar</a></h3>
      <p class="meta">
        <time>10/08/2013</time> - Door: <strong>Jan Modaal</strong>
      </p>
      <section>
        <p>Milo rawwww kitty burmese kitty miaowmiaow burmilla missy. Burmese chase bengal cheshire catatonic catwalk. Pussy arabian boots cat catnipsum catnipsum. Lucy catnipsum raining cats and dogs shiny coat stuck in a tree rolly what did you there? dappled fur. Miaowww where have u been meow scratching post. Mreoaw hairball squeaking mice meew. &ensp;<a href="/nieuws/2013/08/over-het-oude-gebouw-het-schip/">Lees meer...</a></p></p>
      </section>
    </article>

    <nav id="pagination">
      <a href="#prev">&laquo; Vorige</a>
      <a class="current">1</a>
      <a href="#2">2</a>
      <a href="#3">3</a>
      <a href="#4">4</a>
      <a href="#5">5</a>
      <a class="dots">...</a>
      <a href="#16">16</a>
      <a href="#next">Volgende &raquo;</a>
    </nav>

  </div>
{% endblock %}
