{% extends "news/pagination.html" %}

{% block bodyclass %}
  class="news"
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    <h2>Nieuws</h2>

    {% for item in news %}
    <article class="newsmessage">
      <h3><a href="{{ item.get_url() }}">{{ item.title }}</a></h3>
      <p class="meta">
        <time>{{ item.date_published.strftime('%d/%m/%Y') }}</time>{% if item.author %} - Door: <strong>{{ item.author }}</strong>{% endif %}
      </p>
      <section>
        {{ item.content }} &ensp;<a href="{{ item.get_url() }}">Lees meer...</a></p>
      </section>
    </article>
    {% else %}
    <article class="newsmessage"><h3>Geen nieuws</h3></article>
    {% endfor %}

    {%- block pagination %}
      <nav id="pagination">
        {{- super() -}}
        <a href="/nieuws/archief/">Archief</a>
      </nav>
    {%- endblock %}
  </div>
{% endblock %}
