{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<script type="text/javascript" src="/media/js/slimbox2.js"></script>
<div class="item">
  <h2>Photoalbums</h2>
  <div class="photoalbum">
    <h3>Verweggistan 2017</h3>
    <div class="photorow">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-11.JPG">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-13.JPG">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-14.JPG">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-15.JPG">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-17.JPG">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-17.JPG">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-17.JPG">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-17.JPG">
    </div>
  </div>
</div>

{% endblock %}
