{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<script type="text/javascript" src="/media/js/slimbox2.js"></script>
<div class="item">
  <h2>Albumname</h2>
  <p>Photos form the trip of the 11th year to Verweggistan.</p>
  <div id="photopage">
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-11.JPG" rel="lightbox-serie" title="Caption">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-11.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-13.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-13.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-14.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-14.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-15.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-15.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-17.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-17.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-19.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-19.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-21.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-21.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-22.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-22.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-24.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-24.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-25.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-25.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-26.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-26.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-27.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-27.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-28.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-28.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-29.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-29.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-30.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-30.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-31.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-31.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-32.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-32.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-33.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-33.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-34.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-34.JPG">
    </a>
    <a href="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-35.JPG" rel="lightbox-serie">
      <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-35.JPG">
    </a>
    <div class="clear"></div>
  </div>
</div>

{% endblock %}
