DEBUG = False
SECRET_KEY = 'Replace this'

# SQLALCHEMY_DATABASE_URI = 'dialect+driver://username:password@host:port/database_name'
SQLALCHEMY_DATABASE_URI = 'sqlite:////absolute/path/to/dabatase.db'

BLUEPRINTS_DIRECTORY = '/absolute/path/to/freevle/apps/

# Constants below are in the datetime %w format.
ORGANIZER_WEEK_STARTS_ON = 1
ORGANIZER_WEEK_ENDS_ON = 5
