{% extends 'base.html' %}
{% load i18n %}

{% block content %}
 <h2>Course</h2>
   <form method='POST'>
  {% csrf_token %}
    <select name="course" onchange='this.form.submit()'>
      {% for listcourse in courses %}
        <option value="{{ listcourse.slug }}" {% if listcourse == course %}selected{% endif %}>{{ listcourse.name }}</option>
      {% endfor %}
    </select>
  </form>

 <h2>Homework</h2>
 <form method='POST'>
  {% csrf_token %}
    <ul id="makeplanner">
      {% for homework in homework_list %}
      <li class="lesson">
        <p class="weeknumber">{{ homework.due_date|date:'W' }}</p>
        <p class="lessondate">{{ homework.due_date|date:'D d-m-Y' }} hour {{ homework.lesson.period }}</p>
        <select class="homeworktype">
          <option value="none">Homeworktype:</option>
          {% for hwt in homework_types %}
          <option value="{{ hwt.pk }}" {% if hwt == homework.homework_type %}selected{% endif %}>{{ hwt.name }}</option>
          {% endfor %}
        </select>
        <input type="text" name="homework" class="homework" placeholder="Homework">
        <div class="clear"></div>
      </li>
      {% endfor %}
      <li class="lesson">
        <p class="weeknumber">39</p>
        <p class="lessondate">Tue 26-09-2012 hour 2</p>
        <select class="homeworktype">
          <option value="none">Homeworktype:</option>
          <option value="x">X</option>
        </select>
        <input type="text" name="homework" class="homework" placeholder="Homework">
        <div class="clear"></div>
      </li>
    </ul>
    <input type="submit" value="Submit" class="button"> {%trans "or" %} <a id="more_homework">{% trans "plan further ahead" %}</a>
  </form>
{% endblock %}
