{% extends 'base.html' %}
{% load i18n %}

{% block content %}
 <h2>Course</h2>
   <form method='POST'>
  {% csrf_token %}
    <select name="course" onchange='this.form.submit()'>
      {% for listcourse in courses %}
        <option value="{{ listcourse.slug }}"
          {% if listcourse == course %}selected{% endif %}>{{ listcourse.name }}
        </option>
      {% endfor %}
    </select>

 <h2>Homework</h2>
    <ul id="makeplanner">
      {% for homework in homework_list %}
      <li class="lesson">
        <div class="hidehomework undeletehomework"><p>
          {% blocktrans %}This homework will be deleted{% endblocktrans %} (<a class="undeletehomework">{% trans "cancel" %}</a>)
        </p></div>
        {% if homework.errors %}
          {% for field, errors in homework.errors.items %}
            {{ field }}:{% for e in errors %} {{ e }}{% endfor %}
          {% endfor %}
        {% endif %}
        <p class="weeknumber">{{ homework.due_date|date:'W' }}</p>
        <p class="lessonday">{{ homework.due_date|date:'D' }}</p>
        {% if homework.period %} {# eg: if this homework is attached to a lesson #}
          <p class="lessondate">{{ homework.due_date|date:'d-m-Y' }} hour {{ homework.period }}</p>
          <input type="hidden" name="due_date" value="{{ homework.due_date|date:'d-m-Y' }}">
        {% else %}
          <input type="text" name="due_date" class="duedate" placeholder="dd-mm-yyyy" value="{{ homework.due_date|date:'d-m-Y' }}">
        {% endif %}
        <select class="homeworktype" name="homework_type">
          <option value="">Homeworktype:</option>
          {% for hwt in homework_types %}
            <option value="{{ hwt.pk }}" {% if hwt.pk == homework.homework_type.pk %}selected{% endif %}>{{ hwt.name }}</option>
          {% endfor %}
        </select>
        <input type="text" name="content" class="homework" placeholder="Homework" value="{{ homework.content }}">
        <input type="hidden" name="period" value="{{ homework.period }}">
        <input type="hidden" name="id" value="{{ homework.id }}">
        <input type="hidden" name="delete" value="False">
        <img src="/media/img/cross.png" class="deletehomework">
        <img src="/media/img/Orb plus.png" class="addhomework">
        {% if homework.saved == 'yes' %}<img src="/media/img/check.png" class="homeworksaved" alt="check">{% endif %}
        {# The yes/no is needed because there shouldn't be a cros or tick when homework.saved == None #}
        {% if homework.saved == 'no' %}<img src="/media/img/redcross.png" class="homeworksaved" alt="cross">{% endif %}
        <div class="clear"></div>
      </li>
      {% empty %}
      <li class="lesson"><p>{% blocktrans %}There are no lessons in this part of the future{% endblocktrans %}</p></li>
      {% endfor %}
     </ul>
    <input type="submit" value="Submit" class="button"> {% trans "or" %} <a href="{{ more_url }}" id="more_homework">{% trans "plan further ahead" %}</a>
  </form>
{% endblock %}
