{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <article>
      <div class="item">
        <h2>{% trans "Welcome" %}</h2>
        <p>Sinds september 2005 is Cygnus Gymnasium een zelfstandig gymnasium in Amsterdam. Inmiddels heeft de eerste lichting leerlingen examen gedaan (met prachtig resultaat!). Wij zijn een jonge, kleine en gezellige school voor leerlingen die goed kunnen leren en die nieuwsgierig zijn. Een school waar leerlingen zichzelf zijn en waar interesse is voor de wereld en de wetenschap. Het Cygnus Gymnasium is er voor wereldburgers en wetenschappers!</p>
      </div>
    </article>

    <div class="photos">

      <h2>{% trans "Photos" %}</h2>
      <div id="slider">
        <div id="slides">
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-10.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-11.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-13.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-14.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-15.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-17.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-19.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-21.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-22.JPG">
          </a>
          <div class="clear"></div>
        </div>

        <ul id="sliderul">
          <li class="slidernav"><a class="li" href="#"></a></li>
          <li class="slidernav"><a class="li" href="#"></a></li>
          <li class="slidernav"><a class="li" href="#"></a></li>
        </ul>
      </div>

    </div>
 
    <p class="clear"></p>

    <article>
      <div class="item">
        <h2>Al XXX aanmeldingen schooljaar 2012/2013</h2>
        <p class="date"><span class="bold">Geplaatst op:</span> 22/22/2222&emsp;&emsp;<span class="bold">Door:</span> Harry de schrijver</p>
        <p>We zijn blij om te kunnen melden dat er zich al x-aantal 8ste groepers aangemeld hebben om volgend jaar bij ons 1ste klasser te worden! Allemaal kiezen ze voor een school waar <a href="">wereldburgers en wetenschappers</a> centraal staan. Ook kregen we etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
        <p>Ipsum dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
        <a class="leesmeer" href="">Lees meer...</a>
        <p class="clear"></p>
      </div>
    </article>

{% endblock %}
