{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <article>
      <div class="item">
        <h2>{% trans "Welcome" %}</h2>
        <p>Sinds september 2005 is Cygnus Gymnasium een zelfstandig gymnasium in Amsterdam. Inmiddels heeft de eerste lichting leerlingen examen gedaan (met prachtig resultaat!). Wij zijn een jonge, kleine en gezellige school voor leerlingen die goed kunnen leren en die nieuwsgierig zijn. Een school waar leerlingen zichzelf zijn en waar interesse is voor de wereld en de wetenschap. Het Cygnus Gymnasium is er voor wereldburgers en wetenschappers!</p>
      </div>
    </article>

    <div class="photos">

      <h2>{% trans "Photos" %}</h2>
      <div id="slider">
        <div id="slides">
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-10.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-11.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-13.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-14.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-15.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-17.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-19.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-21.JPG">
          </a>
          <a href="/photos/" class="slide">
            <img src="http://www.cygnusgymnasium.nl/afbeeldingen/images/110906start1/110906eerste-22.JPG">
          </a>
          <div class="clear"></div>
        </div>

        <ul id="sliderul">
          <li class="slidernav"><a class="li" href="#"></a></li>
          <li class="slidernav"><a class="li" href="#"></a></li>
          <li class="slidernav"><a class="li" href="#"></a></li>
        </ul>
      </div>

    </div>

    <p class="clear"></p>

    <article>
      <div class="item">
        <h2><a href="{{ lastnews.get_absolute_url }}">{{ lastnews.title }}</a></h2>
        <p class="date"><span class="bold">{% blocktrans %}Published on:{% endblocktrans %}</span>
          {{ lastnews.publish|date:'d m Y' }}
          &emsp;&emsp;
          <span class="bold">{% blocktrans %}By:{% endblocktrans %}</span> {{ lastnews.writer }}</p>
        <p>{{ lastnews.content|slice:":300" }}...</p>
        <a class="leesmeer" href="{{ lastnews.get_absolute_url }}">{% blocktrans %}Read more...{% endblocktrans %}</a>
        <p class="clear"></p>
      </div>
    </article>

{% endblock %}
