{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  <div id="wrapper">
		<div class="item">

		  <h2>Print your timetable</h2>

		  <div id="timetable">

			<div id="periodnumbers">
					<div class="periodo"><p class="periodnumber">1</p><span class="time">8:25-9:20</span></div>
					<div class="periode"><p class="periodnumber">2</p><span class="time">9:20-10:10</span></div>
					<div class="periodo"><p class="periodnumber">3</p><span class="time">10:10-11:00</span></div>
					<div class="periodi"><span class="time">11:00-11:20</span></div>
					<div class="periode"><p class="periodnumber">4</p><span class="time">11:20-12:10</span></div>
					<div class="periodo"><p class="periodnumber">5</p><span class="time">12:10-13:00</span></div>
					<div class="periodi"><span class="time">13:00-13:30</span></div>
					<div class="periode"><p class="periodnumber">6</p><span class="time">13:30-14:20</span></div>
					<div class="periodo"><p class="periodnumber">7</p><span class="time">14:20-15:10</span></div>
					<div class="periodi"><span class="time">15:10-15:20</span></div>
					<div class="periode"><p class="periodnumber">8</p><span class="time">15:20-16:10</span></div>
					<div class="periodo"><p class="periodnumber">9</p><span class="time">16:10-17:00</span></div>
			</div>

			<div class="divider"></div>

			<div class="weekday">
					  <p class="day">Monday</p>

						  <div class="periode">
							<p class="period"><span class="bold">MA</span> RAM <span class="classroom">S03</span></p>
		                  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">MA</span> RAM <span class="classroom">S04</span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">FA</span> VIF <span class="classroom">S03</span></p>
		                  </div>

						  <div class="periodi">
							<p class="period">Pauze </p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">GS</span> RHG <span class="classroom">SO5</span></p>
                          </div>

						  <div class="periode">
							<p class="period"><span class="bold">WIB</span> BRW <span class="classroom">S04</span></p>
                          </div>

						  <div class="periodi">
							<p class="period">Pauze </p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">EN</span> HEE <span class="classroom">S03</span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">NE</span> MIN <span class="classroom">S12</span></p>
						  </div>

						  <div class="periodi">
							<p class="period">Pauze</p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">NE</span> MIN <span class="classroom">S07</span></p>
						  </div>

						  <div class="periodi">
							<p class="period"><span class="bold">-</span></p>
						  </div>
			</div>


			<div class="divider"></div>

			<div class="weekday">
					  <p class="day">Tuesday</p>

						  <div class="periode">
							<p class="period-expires"><span class="bold">NA</span> NYN <span class="classroom">S04</span></p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">SC</span> HAS <span class="classroom">S12</span></p>
						  </div>

						  <div class="periode">
							<p class="period valtuit"><span class="bold">GR</span> BOK <span class="classroom">S09</span></p>
                          </div>

						  <div class="periodi">
							<p class="period">Pauze</p>
						  </div>

						  <div class="periodi">
							<p class="period"><span class="bold">-</span>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">WIB</span> BRW <span class="classroom">S11</span></p>
						  </div>

						  <div class="periodi">
							<p class="period">Pauze</p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">WI</span> BRW <span class="classroom">S03</span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">GS</span> RHG <span class="classroom">S12</span></p>
                          </div>

						  <div class="periodi">
						  </div>

						  <div class="periodo">
							<p class="period-expires"><span class="bold">GS</span> RHG <span class="classroom">S14</span></p>
						  </div>

						  <div class="periode">
							<p class="period-expires"><span class="bold">LOB</span> MIN <span class="classroom">S12</span></p>
						  </div>
			</div>

			<div class="divider"></div>

			<div class="weekday">
					  <p class="day">Wednsday</p>

						  <div class="periode">
							<div class="period"> <span class="bold">MA</span> RAM <span class="classroom">S03</span></div>
                          </div>

						  <div class="periodo">
							<div class="period"><span class="bold">MA</span> RAM <span class="classroom">S03</span></div>
						  </div>

						  <div class="periode">
							<div class="period"><span class="bold">FA</span> VIF <span class="classroom">S04</span></div>
				          </div>

						  <div class="periodi">
							<p class="period">Pauze</p>
						  </div>

						  <div class="periodo">
							<div class="period"><span class="bold">GS</span> RHG <span class="classroom">S03</span></div>
                          </div>

						  <div class="periode">
							<div class="period"><span class="bold">WIB</span> BRW <span class="classroom">S10</span></div>
						  </div>

						  <div class="periodi">
							<p class="period">Pauze</p>
						  </div>

						  <div class="periodo">
							<div class="period"><span class="bold">EN</span> HEE <span class="classroom">S09</span></div>
						  </div>

						  <div class="periode">
							<div class="period"><span class="bold">NE</span> MIN <span class="classroom">S09</span></div>
						  </div>

						  <div class="periodi">
							<p class="period">Pauze</p>
						  </div>

						  <div class="periodo">
							<div class="period"><span class="bold">EN</span> HEE <span class="classroom">S09</span></div>
						  </div>

						  <div class="periodi">
							<p class="period"><span class="bold">-</span></p>
						  </div>
		    </div>

			<div class="divider"></div>

			<div class="weekday">
					  <p class="day">Thursday</p>

						  <div class="periode">
							<p class="period"><span class="bold">NA</span> NYN <span class="classroom">S02</span></p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">SC</span> HAS <span class="classroom">S09</span></p>
						  </div>

						  <div class="periode">
							<p class="period valtuit"><span class="bold">GR</span> BOK <span class="classroom">S04</span></p>
						  </div>

						  <div class="periodi">
							<p class="period">Pauze </p>
						  </div>

						  <div class="periodi">
							<p class="period"><span class="bold">-</span> <span class="classroom"></span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">WIB</span> BRW <span class="classroom">S04</span></p>
						  </div>

						  <div class="periodi">
							<p class="period">Pauze</p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">WI</span> BRW <span class="classroom">S05</span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">GS</span> RHG <span class="classroom">S04</span></p>
						  </div>

						  <div class="periodi">Pauze</p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">GS</span> RHG <span class="classroom">S04</span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">LOB</span> MIN <span class="classroom">S03</span></p>
						  </div>
			</div>


			<div class="divider"></div>

			<div class="weekday">
					  <p class="day">Friday</p>

						  <div class="periode">
							<p class="period"><span class="bold">NA</span> KON <span class="classroom">S02</span></p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">SC</span> HAS <span class="classroom">S09</span></p>
						  </div>

						  <div class="periode">
							<p class="period-expires"><span class="bold">MA</span> MAA <span class="classroom">S04</span></p>
						  </div>

						  <div class="periodi">
							<p class="period">Pauze </p>
						  </div>

						  <div class="periodi">
							<p class="period"><span class="bold">-</span> <span class="classroom"></span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">FR</span> VIS <span class="classroom">S04</span></p>
						  </div>

						  <div class="periodi">
							<p class="period">Pauze</p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">WI</span> BRW <span class="classroom">S05</span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">GS</span> RHG <span class="classroom">S04</span></p>
						  </div>

						  <div class="periodi">Pauze</p>
						  </div>

						  <div class="periodo">
							<p class="period"><span class="bold">GS</span> RHG <span class="classroom">S04</span></p>
						  </div>

						  <div class="periode">
							<p class="period"><span class="bold">EN</span> MIN <span class="classroom">S03</span></p>
						  </div>
		  </div>


		  </div>

		  <div class="clear"></div>

      </div>
    </div>

{% endblock %}
