section.coverimage {
  h3 {
    float: left;
  }

  button.save {
    padding-left: 2.5em !important;
    margin: 16px 18px 16px 0px;
    font-size: 0.85em;
    float: right;
    background-position: -8px -158px !important;

    &:hover {
      background-position: -8px -108px !important;
    }

    &:active {
      background-position: -8px -107px !important;
    }
  }

  input[type=file] {
    display: none;
  }

  div.filemask {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    overflow: hidden;
    border-top: 1px solid #eee;

    img {
      max-height: 300px;
      max-width: 90%;
      border: 2px solid #ddd;
      margin-bottom: 1em;
    }
  }
}
