{% extends "galleries/pagination.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('galleries.static', filename="css/photos.css") }}">
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    <h2>Foto's</h2>

    {% for album in albums %}
    <article class="photoalbum">
      <div class="coverbg">
        <img src="{{ album.cover_image_url }}">
      </div>
      <a class="overlay" href="{{ album.get_url() }}">
        <h3><time>{{ album.date_published.year }}</time>&emsp;{{ album.title }}</h3>
      </a>
    </article>
    {% endfor %}

    {%- block pagination %}
      <nav id="pagination">
        {{- super() -}}
        <a href="{{ url_for('galleries.archive') }}">Archief</a>
      </nav>
    {%- endblock %}
  </div>
{% endblock %}
