{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<script type="text/javascript" src="/media/js/slimbox2.js"></script>
<div class="item">
  <h2>{{ object.name }}</h2>
  <p>{{ object.description }}</p>
  <div id="photopage">
    {% for photo in object.photo_set.all %}
    <a href="/media/{{ photo.image }}" rel="lightbox-serie" title="{{ photo.title }}" {% if photo.image.height > photo.image.width %} class="portrait" {% else %} class="landscape" {% endif %}>
      <img src="/media/{{ photo.image }}">
    </a>
    {% endfor %}
    <div class="clear"></div>
  </div>
</div>

{% endblock %}
