<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{ title }}</title>
    <meta name="description" content="Proof-of-concept-site voor het Cygnus Gymnasium.">
    <meta name="author" content="Martin van Harmelen, Pim ten Thije, Floris Jansen">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="shortcut icon" href="/static/favicon.png">

    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/admin/static/css/base.css">

    <script src="/static/js/jquery.js"></script>
    <script src="/admin/static/js/admin.js"></script>

    {% block head %}
    {% endblock %}

  </head>
  <body {% block bodyclass %}{% endblock %}>

    <!--[if lt IE 9]>
      <script src="/static/ie.js"></script>
      <div id="iewarning">
        <p>Het lijkt erop dat u Internet Explorer 8 (of ouder) gebruikt. Deze site werkt slechter in deze browser, net zoals vele andere sites. Wij adviseren u uw browser te updaten op bijvoorbeeld <a href="http://browsehappy.com/?locale=nl">Browsehappy.com</a>.</p>
        <p class="ignorewarning" onclick="closeWarning()">Sluit deze melding</p>
      </div>
    <![endif]-->

    <header id="main">
      <h1>
        <a href="/admin/">Admin</a>&ensp;<a href="/">Cygnus <span class="obsolete">gymnasium</span></a>
      </h1>
      <a href="/admin/logout/" id="logout" class="button">Log uit</a>
    </header>

    <nav id="sidebar">
      <div id="menuopener">Menu</div>
      <ul>
        <li>
          <a href="/admin/" style="background-image: url(/admin/static/img/admin_icon.png);">Dashboard</a>
        </li>
        {% for dic in admin_map %}
        <li>
          <a
            href="{{ url_for(dic['endpoint']) }}"
            style="background-image: url({{ dic['img_url'] }});"
          >
            {{ dic['title'] }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <div id="page">
      {% block page %}
      {% endblock %}
    </div>

  </body>
</html>
