<!doctype html>
<html>
  <head>

    <title>Cygnus Template | Foto-album</title>
    <link rel="stylesheet" type="text/css" href="style.css" />

    <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="galleria-1.2.5.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#inlogform').hide();
        $("#loginhome").click(function() {
            $("#inlogform").slideToggle('fast');
          });
      });
      $(function(){
     	$('div.image').fadeColor();
      })

      $.fn.fadeColor = function() {
        return this.each(function(){
          var photo = $(this);
          var text = $('div.photo-text',this);

        photo.hover(function(){
          text.animate({marginLeft: "0px", marginTop: "70px"}, "medium");
        },function(){
          text.animate({marginLeft: "-135px", marginTop: "165px"}, "medium");
          });
        });
      }

      Galleria.loadTheme('galleria.classic.min.js');
      $('#galleria').galleria();

    </script>

  </head>
  <body>

    <header>
      <a class="header" id="home-button" href="index.html">Startpagina</a>
      <a class="header" id="home-button" href="">De School</a>
      <a class="header" href="">Nieuws</a>
      <a class="header" href="">Contact</a>

	  <div id="searchfield_cont">
	    <form>
          <input type="text" id="searchfield" placeholder="Zoek..." />
        </form>
      </div>

      <div id="loginhome" class="header">Login</div>

      <div id="inlogform">
        <form method="post" action="./login/index.php">
          <input class="text" type="text" name="username" placeholder="Gebruikersnaam" /><br />
          <input class="text" type="password" name="password" placeholder="Wachtwoord" /><br />
          <br />
          <input class="button" type="submit" value="Login" name="submit" />
        </form>
      </div>

      <p class="clear"></p>
      <h1><span id="first-letter">C</span>YGNUS GYMNASIUM</h1>
      <img src="zwaan.png" />
      <p class="clear"></p>
      <div class="horizontal-stitch"></div>
    </header>

    <div id="wrapper">

      <div class="date">
        <span class="date">23/12</span><br>
        <span class="year">2011</span>
      </div>

      <div id="content">

        <h2>Album-naam</h2>
        <div id="galleria">
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Locomotives-Roundhouse2.jpg/800px-Locomotives-Roundhouse2.jpg">
          	<img alt="Steam locomotives of the Chicago &amp; North Western Railway."
              src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Locomotives-Roundhouse2.jpg/100px-Locomotives-Roundhouse2.jpg">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Icebergs_in_the_High_Arctic_-_20050907.jpg/1000px-Icebergs_in_the_High_Arctic_-_20050907.jpg">
            <img alt="”The debris loading isn't particularly extensive, but the color is usual.”"
              src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Icebergs_in_the_High_Arctic_-_20050907.jpg/100px-Icebergs_in_the_High_Arctic_-_20050907.jpg">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Ara%C3%B1a._A_Estrada%2C_Galiza._02.jpg/1000px-Ara%C3%B1a._A_Estrada%2C_Galiza._02.jpg">
              <img alt="Xysticus cristatus, A Estrada, Galicia, Spain"
                src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Ara%C3%B1a._A_Estrada%2C_Galiza._02.jpg/100px-Ara%C3%B1a._A_Estrada%2C_Galiza._02.jpg">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/9104_-_Milano_-_Museo_storia_naturale_-_Fluorite_-_Foto_Giovanni_Dall%27Orto_22-Apr-2007.jpg/1000px-9104_-_Milano_-_Museo_storia_naturale_-_Fluorite_-_Foto_Giovanni_Dall%27Orto_22-Apr-2007.jpg">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/9104_-_Milano_-_Museo_storia_naturale_-_Fluorite_-_Foto_Giovanni_Dall%27Orto_22-Apr-2007.jpg/100px-9104_-_Milano_-_Museo_storia_naturale_-_Fluorite_-_Foto_Giovanni_Dall%27Orto_22-Apr-2007.jpg">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Grj%C3%B3tagj%C3%A1_caves_in_summer_2009_%282%29.jpg/1000px-Grj%C3%B3tagj%C3%A1_caves_in_summer_2009_%282%29.jpg">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Grj%C3%B3tagj%C3%A1_caves_in_summer_2009_%282%29.jpg/100px-Grj%C3%B3tagj%C3%A1_caves_in_summer_2009_%282%29.jpg">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/9/90/20091128_Loutra_Thermes_Xanthi_Thrace_Greece_2.jpg/1000px-20091128_Loutra_Thermes_Xanthi_Thrace_Greece_2.jpg">
            <img alt="Xanthi hot-spa springs, Xanthi Prefecture, Greece"
              src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/90/20091128_Loutra_Thermes_Xanthi_Thrace_Greece_2.jpg/100px-20091128_Loutra_Thermes_Xanthi_Thrace_Greece_2.jpg">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Polish_Army_Ko%C5%82obrzeg_077.JPG/1024px-Polish_Army_Ko%C5%82obrzeg_077.JPG">
            <img alt="A display of the Polish Army. Both the soldier, and the vehicle belong to the 7th Pomeranian Coastal Defence Brigade, a part of the Szczecin-based 12th Mechanized Division ”Bolesław Krzywousty”"
              src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Polish_Army_Ko%C5%82obrzeg_077.JPG/100px-Polish_Army_Ko%C5%82obrzeg_077.JPG">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/20100213_Zlatograd_Bulgaria_3.jpg/1024px-20100213_Zlatograd_Bulgaria_3.jpg">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/20100213_Zlatograd_Bulgaria_3.jpg/100px-20100213_Zlatograd_Bulgaria_3.jpg">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/FEMA_-_5399_-_Photograph_by_Andrea_Booher_taken_on_09-28-2001_in_New_York.jpg/1024px-FEMA_-_5399_-_Photograph_by_Andrea_Booher_taken_on_09-28-2001_in_New_York.jpg">
            <img alt="New York, NY, September 28, 2001 -- Debris on surrounding roofs at the site of the World Trade Center. Photo by Andrea Booher/ FEMA News Photo"
              src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/FEMA_-_5399_-_Photograph_by_Andrea_Booher_taken_on_09-28-2001_in_New_York.jpg/100px-FEMA_-_5399_-_Photograph_by_Andrea_Booher_taken_on_09-28-2001_in_New_York.jpg">
          </a>
          <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Antennae%2C_Hubble_images.jpg/1024px-Antennae%2C_Hubble_images.jpg">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Antennae%2C_Hubble_images.jpg/100px-Antennae%2C_Hubble_images.jpg">
          </a>
        </div>

      </div>
      
      <div id="dingen">
        <a href="">
          <img src="ding1.jpg" />
          <p>Soundmix</p>
        </a>
        <a href="">
          <img src="ding2.jpg" />
          <p>Hamlet</p>
        </a>
      </div>

      <p class="clear"></p>
    </div>
    
    <footer>
      <div class="horizontal-stitch"></div>
  	  <div id="center">
        Cygnus Gymnasium
      </div>
    </footer>

  </body>
</html>