<!doctype html>
<html>
  <head>

    <title>Cygnus Template</title>
    <link rel="stylesheet" type="text/css" href="style.css" />

    <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="jquery.tinyscrollbar.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var oScroll2 = $('#scrollarea');
        if(oScroll2.length > 0){
          oScroll2.tinyscrollbar({ axis: 'x' });
        }
      });
      $(function(){
     	$('div.image').fadeColor();
      })

      $.fn.fadeColor = function() {
        return this.each(function(){
          var photo = $(this);
          var text = $('div.photo-text',this);

        photo.hover(function(){
          text.animate({marginLeft: "0px", marginTop: "70px"}, "medium");
        },function(){
          text.animate({marginLeft: "-135px", marginTop: "165px"}, "medium");
          });
        });
      }

      $("#loginhome").click(function() {
        $("#inlogform").animate({"marginTop": "50px"});
      });
      $("#loginup").click(function() {
        $("#inlogform").animate({"marginTop": "-252px"});
      });
    </script>

  </head>
  <body>

    <header>
      <a class="header" id="home-button" href="">De school</a>
      <a class="header" href="">Nieuws</a>
      <a class="header" href="">Contact</a>

	  <div id="searchfield_cont">
	    <form>
          <input type="text" id="searchfield" placeholder="Zoek..." />
        </form>
      </div>

      <div id="loginhome" class="header">Login</div>

      <div id="inlogform">
        <form method="post" action="./login/index.php">
          <input class="text" type="text" name="username" placeholder="Gebruikersnaam" /><br />
          <input class="text" type="password" name="password" placeholder="Wachtwoord" /><br />
          <br />
          <input class="button" type="submit" value="Login" name="submit" />
        </form>
        <div id="loginup">Up!</div>
      </div>

      <p class="clear"></p>
      <h1><span id="first-letter">C</span>YGNUS GYMNASIUM</h1>
      <img src="zwaan.png" />
      <p class="clear"></p>
      <div class="horizontal-stitch"></div>
    </header>

    <div id="wrapper">

      <div class="date">
        <span class="date">23/12</span><br>
        <span class="year">2011</span>
      </div>

      <div id="content">

        <p id="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non quam sed mauris venenatis laoreet. Nam imperdiet fermentum quam at vehicula. Vestibulum ac justo eu elit sollicitudin malesuada eu vel quam. Aliquam erat volutpat. Nullam urna arcu, pharetra non commodo quis, cursus eu lectus. Etiam ut purus odio, et elementum metus. Phasellus vehicula ullamcorper tincidunt. Maecenas orci enim, consectetur vel egestas vel, iaculis eu dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam, orci quis ultricies sodales, eros enim sodales nunc, quis imperdiet nisl nisl nec risus. Suspendisse elit tellus, tincidunt at suscipit id, dapibus.</p>

        <div id="scrollarea"> 
          <div id="viewport"> 
            <div id="overview"> 
              <a class="image" href="">
                <div class="image" id="image1">
                  <div class="photo-text">
                    <h3>Album-naam</h3>
                    Beschrijving van het album.
                  </div>
                </div>
              </a>
              <a class="image" href="">
                <div class="image" id="image2">
                  <div class="photo-text">
                    <h3>Album-naam</h3>
                    Beschrijving van het album.
                  </div>
                </div>
              </a>
              <a class="image" href="">
                <div class="image" id="image3">
                  <div class="photo-text">
                    <h3>Album-naam</h3>
                    Beschrijving van het album.
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div id="scrollbar"><div id="track"><div id="thumb"></div></div></div> 
        </div>

        <h2>Lorem</h2>
        <p id="nieuwsbericht">Ipsum dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
        <p id="leesmeer"><a href="">Lees meer...</a></p>

      </div>
      
      <div id="dingen">
        <a href="">
          <img src="ding1.jpg" />
          <p>Soundmix</p>
        </a>
        <a href="">
          <img src="ding2.jpg" />
          <p>Hamlet</p>
        </a>
      </div>

      <p class="clear"></p>
    </div>
    
    <footer>
      <div class="horizontal-stitch"></div>
  	  <div id="center">
        Cygnus Gymnasium
      </div>
    </footer>

  </body>
</html>