<!doctype html>
<html>
  <head>

    <title>Cygnus Template</title>
    <link rel="stylesheet" type="text/css" href="style.css" />

    <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="jquery.tinyscrollbar.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      var oScroll2 = $('#scrollarea');
      if(oScroll2.length > 0){
        oScroll2.tinyscrollbar({ axis: 'x' });
      }
    });
    </script>

  </head>
  <body>

    <header>
      <a class="header" id="home-button" href="">De school</a>
      <div class="vert_stitch"></div>
      <a class="header" href="">Nieuws</a>
      <div class="vert_stitch"></div>
      <a class="header" href="">Contact</a>
      <div class="vert_stitch"></div>
	  <div id="searchfield_cont">
	    <form>
          <input type="text" id="searchfield" placeholder="Zoek..." />
        </form>
      </div>
      <div class="vert_stitch"></div>
      <a class="header" href="">Login</a>
      <p class="clear"></p>
      <div id="stitchheader"></div>
      <h1>Cygnus Gymnasium</h1>
      <img src="zwaan.png" />
      <p class="clear"></p>
      <div id="stitchheader"></div>
    </header>

    <div id="wrapper">

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non quam sed mauris venenatis laoreet. Nam imperdiet fermentum quam at vehicula. Vestibulum ac justo eu elit sollicitudin malesuada eu vel quam. Aliquam erat volutpat. Nullam urna arcu, pharetra non commodo quis, cursus eu lectus. Etiam ut purus odio, et elementum metus. Phasellus vehicula ullamcorper tincidunt. Maecenas orci enim, consectetur vel egestas vel, iaculis eu dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam, orci quis ultricies sodales, eros enim sodales nunc, quis imperdiet nisl nisl nec risus. Suspendisse elit tellus, tincidunt at suscipit id, dapibus non nibh. Nam quam leo, faucibus molestie tincidunt et, sodales vitae risus. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>

      <div id="scrollarea"> 
        <div id="viewport"> 
          <div id="overview"> 
            <img src="image-1.JPG" />
            <img src="image-2.jpg" />
            <img src="image-3.jpg" />
          </div>
        </div>
        <div id="scrollbar"><div id="track"><div id="thumb"></div></div></div> 
      </div>

      <h2>Lorem</h2>
      <p>Ipsum dolor sit amet, consectetur adipiscing elit. Proin non quam sed mauris venenatis laoreet. Nam imperdiet fermentum quam at vehicula. Vestibulum ac justo eu elit sollicitudin malesuada eu vel quam. Aliquam erat volutpat. Nullam urna arcu, pharetra non commodo quis, cursus eu lectus. Etiam ut purus odio, et elementum metus. Phasellus vehicula ullamcorper tincidunt. Maecenas orci enim, consectetur vel egestas vel, iaculis eu dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam, orci quis ultricies sodales, eros enim sodales nunc, quis imperdiet nisl nisl nec risus. Suspendisse elit tellus, tincidunt at suscipit id, dapibus non nibh. Nam quam leo, faucibus molestie tincidunt et, sodales vitae risus. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
      <h2>Lorem Ipsum</h2>
      <p>Dolor sit amet, consectetur adipiscing elit. Proin non quam sed mauris venenatis laoreet. Nam imperdiet fermentum quam at vehicula. Vestibulum ac justo eu elit sollicitudin malesuada eu vel quam. Aliquam erat volutpat. Nullam urna arcu, pharetra non commodo quis, cursus eu lectus. Etiam ut purus odio, et elementum metus. Phasellus vehicula ullamcorper tincidunt. Maecenas orci enim, consectetur vel egestas vel, iaculis eu dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam, orci quis ultricies sodales, eros enim sodales nunc, quis imperdiet nisl nisl nec risus. Suspendisse elit tellus, tincidunt at suscipit id, dapibus non nibh. Nam quam leo, faucibus molestie tincidunt et, sodales vitae risus. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>

    </div>
    
    <footer>
    	<div id="center">
    		Cygnus Gymnasium
	    </div>
    </footer>

  </body>
</html>