@CHARSET "ISO-8859-1";

html,body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: #111;
	line-height: 160%;
	text-align: justify;
	background-color: grey;
	background-image: -webkit-linear-gradient(transparent 50%, rgba(0, 200, 230, .3) 50%, rgba(0, 200, 230, .3));
	background-image: -moz-linear-gradient(transparent 50%, rgba(0, 200, 230, .5) 50%, rgba(0, 200, 230, .5));
	background-image: -ms-linear-gradient(transparent 50%, rgba(0, 200, 230, .5) 50%, rgba(0, 200, 230, .5));
	background-image: -o-linear-gradient(transparent 50%, rgba(0, 200, 230, .5) 50%, rgba(0, 200, 230, .5));
	background-image: linear-gradient(transparent 50%, rgba(0, 200, 230, .5) 50%, rgba(0, 200, 230, .5));
	background-size: 200px; 
}

p.clear {
	clear: both;
}

/*---------------header---------------*/
header {
	background: #333 url(leer.png);
	margin: 0 auto;
	height: 250px;
	box-shadow: 0 0 25px #000;
	-moz-box-shadow: 0 0 25px #000;
	width: 800px;
	z-index: 1;
	position: relative;
}

a.header:link, a.header:visited {
	float: left;
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 15px 0;
	width: 80px;
}

a.header:hover, a.header:active {
	box-shadow: inset 0 0 20px #000;
	-moz-box-shadow: inset 0 0 20px #000;
}

a#login:active {
	padding: 17px 16px 15px 16px;
}

a#home-button {
	width: 104px;
}

div.vert_stitch {
	width: 3px;
	height: 52px;
	background: url(stiksel_vert.png);
	float: left;
}

div#searchfield_cont {
	float: left;
	width: 420px;
	padding: 12px;
}

input#searchfield {
	border: none;
	font-size: 14px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	height: 25px;
	box-shadow: inset 1px 2px 6px #000, 1px 1px 1px #666;
	-moz-box-shadow: inset 1px 2px 6px #000, 1px 1px 1px #666;
	background: none;
	color: #dedede;
	outline: none;
	padding: 3px 8px 0px 30px;
	width: 380px;
	background: rgba(150, 150, 150, 0.3) url(mag.png) no-repeat;
}
div#stitchheader {
	background: url(stiksel.png);
	width: 100%;
	height: 3px;
}

/*---------------content---------------*/
div#wrapper {
	width: 790px;
	margin: 0 auto;
	background: white;
	box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	z-index: 0;
	padding: 1px 0;
	position: relative;
}

div#wrapper p {
	padding: 20px 45px;
}

div#scrollTest {
	width: 100%;
	background: #444;
	height: 250px;
	overflow-x: scroll;
	overflow-y: scroll;
	box-shadow: inset 0 0 20px #323232;
	-moz-box-shadow: inset 0 0 20px #323232;
	text-align: left;
}
div#scrollTest img {
	height: 240px;
	margin: 5px;
	position: static;
}
/*---------------footer---------------*/
footer {
	color: #fafafa;
	padding: 50px;
	box-shadow: 0 0 25px #222;
	-moz-box-shadow: 0 0 25px #222;
	text-shadow: 1px 1px 1px #555;
	width: 700px;
	margin: auto;
	background: #333 url(leer.png);
	position: relative;
}

footer a:link, footer a:visited {
	color: white;
	text-decoration: none;
}
footer a:hover, footer a:active {
	text-decoration: underline;
}