{% extends "cms/base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
  class="errorpage"
{% endblock %}

{% block page %}
  <div id="content">
    <h2>403 - Geen toegang</h2>
    <p>Oh, oh! Het lijkt erop u niet de toestemming heeft om deze pagina te bekijken! Ga terug <a href="#" onclick="javascript:window.history.back(-1);return false;">naar de vorige pagina</a>, gebruik de <a href="#" onclick="javascript:$('input[type=search]').focus();">zoekbalk</a> of het menu hierboven.</p>
  </div>
{% endblock %}
