<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{ title }}</title>
    <meta name="description" content="Proof-of-concept-site voor het Cygnus Gymnasium.">
    <meta name="author" content="Martin van Harmelen, Pim ten Thije, Floris Jansen">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/content.css">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>

    {% block head %}
    {% endblock %}

  </head>
  <body {% block bodyclass %}{% endblock %}>

    <!--[if lt IE 9]>
      <script src="/static/ie.js"></script>
      <div id="iewarning">
        <p>Het lijkt erop dat u Internet Explorer 8 (of ouder) gebruikt. Deze site werkt slechter in deze browser, net zoals vele andere sites. Wij adviseren u uw browser te updaten op bijvoorbeeld <a href="http://browsehappy.com/?locale=nl">Browsehappy.com</a>.</p>
        <p class="ignorewarning" onclick="closeWarning()">Sluit deze melding</p>
      </div>
    <![endif]-->

    <header id="main">
      <a href="#menu" id="menuopener">&emsp;</a>
      <h1>
        <a href="/">C<span>ygnus <span id="obsolete">gymnasium</span></span></a>
      </h1>
      <nav>
        <ul>
          <li id="menutitle" class="mobileonly">
            Menu
          </li>
          <li>
            <a href="/" id="currentpage" class="mobileonly">Home</a>
          </li>
          {% for category in menu_items %}
          <li>
            <a href="{{ category.get_url() }}">{{ category.title }}</a>
          </li>
          {% endfor %}
          <li>
            <a href="/nieuws/">Nieuws</a>
          </li>
          <li>
            <a href="/fotos/">Foto's</a>
          </li>
          <li>
            <a href="/contact/">Contact</a>
          </li>
          <li class="mobileonly">
            <a href="/login/">Intern</a>
            {% if loggedin %}
              <ul class="dropdown">
                <li>
                  <a href="/instellingen/"><span class="mobileonly">&#8618;&ensp;</span>Instellingen</a>
                </li>
                <li>
                  <a href="/loguit/"><span class="mobileonly">&#8618;&ensp;</span>Loguit</a>
                </li>
              </ul>
            {% endif %}
          </li>
        </ul>
      </nav>
      <a href="#search" id="searchopener">&emsp;</a>
      <div id="intern">
        <a href="/login/">Intern</a>
        {% if loggedin %}
          <ul class="dropdown">
            <li>
              <a href="/instellingen/"><span class="mobileonly">&#8618;&ensp;</span>Instellingen</a>
            </li>
            <li>
              <a href="/loguit/"><span class="mobileonly">&#8618;&ensp;</span>Loguit</a>
            </li>
          </ul>
        {% endif %}
      </div>
      <form method="POST" action="/zoek/">
        <h2 id="searchtitle">Zoeken</h2>
        <input type="search" name="search" list="search" placeholder="Zoek">
        <datalist id="search">
        </datalist>
      </form>
    </header>

    <nav id="breadcrumbs">
      <a href="/">Home</a>
      {% for crumb, url in breadcrumbs %}
        &ensp;/&ensp;
        {% if url %}
          <a href="{{ url }}">{{ crumb }}</a>
        {% else %}
          {{ crumb }}
        {% endif %}
      {% endfor %}
    </nav>

    <div id="page">
      {% block page %}
      {% endblock %}
    </div>

    <footer>
      <p>&copy; Cygnus Gymnasium</p>
      <p><a href="/sitemap/">Sitemap</a></p>
    </footer>

  </body>
</html>
