{% extends "cms/base.html" %}

{% block head %}
  <script src="/static/js/index.js"></script>
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block bodyclass %}
  class="home"
{% endblock %}

{% block page %}
  <div id="indexcover">
    <div id="darken">
      <h1>C<span>ygnus gymnasium</span></h1>
      <a href="/groep8/" class="button promote">Zit je in groep acht?</a>
    </div>
  </div>
  <div id="content">
    <nav>
      <ul id="quicknav">
        {% for subcategory in menu_items[0].subcategories %}
        <li class="relevant {{ subcategory.html_class }}">
          <h3>{{ subcategory.title }}</h3>
          <ul>
            {% for page in subcategory.pages[:4] %}
            <li>
              <a href="{{ page.get_url() }}">{{ page.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
        <li class="relevant more">
          <h3>
            <a href="{{ menu_items[0].get_url() }}">
              <span>Meer informatie</span>
            </a>
          </h3>
        </li>
      </ul>
    </nav>

    <div id="recent">
      <h2>
        <a href="/fotos/">Foto's</a>
      </h2>
      {% for album in albums %}
        <div id="largeactivity">
          <div class="coverbg">
            <img src="{{ album.cover_image_url }}" alt="{{ album.cover_image.title }}">
          </div>
          <a class="overlay" href="{{ album.cover_image_url }}">
            <div>
              <h3>{{ album.title }}</h3>
              {{ album.description }}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <div id="frontpagenews">

      <h2>
        <a href="/nieuws/">Nieuws</a>
      </h2>

      <ul id="headlines">
        {% for item in news_items %}
        <li>
          <time class="date">{{ item.date_published.strftime('%d/%m').lstrip('0').replace('/0', '/') }}</time>
          <a href="{{ item.get_url() }}">{{ item.title }}</a>
        </li>
        {% else %}
        <li>Geen nieuws</li>
        {% endfor %}
      </ul>

    </div>


    <div id="comingup">
      <h2>Binnenkort</h2>
      <ul>
        {% for event in upcomming %}
          {% if event.get_url() %}
           <a href="{{ event.get_url() }}">
          {% endif %}
          <li>
            <time>
              <span class="day">{{ event.date.strftime('%d').lstrip('0') }}</span>
              {{ event.date.strftime('%b %Y') }}
            </time>
            <p>{{ event.title }}</p>
          </li>
          {% if event.get_url() %}
           </a>
          {% endif %}
        {% else %}
          <li>Er gebeurt binnenkort niets</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
