{% extends "cms/base.html" %}

{% block head %}
  <script src="/static/js/index.js"></script>
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block bodyclass %}
  class="home"
{% endblock %}

{% block page %}
  <div id="indexcover">
    <div id="darken">
      <h1>C<span>ygnus gymnasium</span></h1>
      <a href="/groep8/" class="button">Zit je in groep acht?</a>
    </div>
  </div>
  <div id="content">
    <nav>
      <ul id="quicknav">
        <li class="relevant education">
          <h3>Onderwijs</h3>
          <ul>
            <li>
              <a href="/info/onderwijs/waaromgymnasium/">Waarom gymnasium?</a>
            </li>
            <li>
              <a href="/info/onderwijs/lesprogramma/">Lesprogramma</a>
            </li>
            <li>
              <a href="/info/onderwijs/resultaten/">Resultaten</a>
            </li>
          </ul>
        </li>
        <li class="relevant school">
          <h3>De School</h3>
          <ul>
            <li>
              <a href="/info/deschool/geschiedenis/">Geschiedenis</a>
            </li>
            <li>
              <a href="/info/deschool/gebouw/">Gebouw</a>
            </li>
            <li>
              <a href="/info/deschool/schoolklimaat/">Schoolklimaat</a>
            </li>
            <li>
              <a href="/info/deschool/zorg/">Zorg</a>
            </li>

          </ul>
        </li>
        <li class="relevant activities">
          <h3>Activiteiten</h3>
          <ul>
            <li>
              <a href="/info/activiteiten/gebouw/">Schoolreizen</a>
            </li>
            <li>
              <a href="/info/activiteiten/aristeia/">Aristeia</a>
            </li>
            <li>
              <a href="/info/activiteiten/aristeia/">Schoolfeesten</a>
            </li>
            <li>
              <a href="/info/activiteiten/aristeia/">Sportdagen</a>
            </li>
          </ul>
        </li>
        <li class="relevant more">
          <h3>
            <a href="/info/">
              <span>Meer informatie</span>
            </a>
          </h3>
        </li>
      </ul>
    </nav>

    <div id="recent">
      <h2>
        <a href="/fotos/">Foto's</a>
      </h2>

      <div id="largeactivity">
        <div class="coverbg">
          <img src="/static/img/paralax2.jpg" alt="Jihlava">
        </div>
        <a class="overlay" href="/fotos/2013/jihlava/">
          <div>
            <h3>China</h3>
            <p>De twaalfde klas ging weer naar China voor hun Nikes.</p>
          </div>
        </a>
      </div>

      <div id="largeactivity">
        <div class="coverbg">
          <img src="/static/img/page2.jpg" alt="Jihlava">
        </div>
        <a class="overlay" href="/fotos/2013/jihlava/">
          <div>
            <h3>Jihlava</h3>
            <p>De derde klas ging weer naar Jihlava voor de utiwisseling met onze zusterschool.</p>
          </div>
        </a>
      </div>

      <div id="largeactivity">
        <div class="coverbg">
          <img src="/static/img/paralax3.jpg" alt="Jihlava">
        </div>
        <a class="overlay" href="/fotos/2013/jihlava/">
          <div>
            <h3>Normale Schooldag</h3>
            <p>Wat foto's van een normale schooldag in November.</p>
          </div>
        </a>
      </div>

      <div id="largeactivity">
        <div class="coverbg">
          <img src="/static/img/newsfront.png" alt="Parijs">
        </div>
        <a class="overlay" href="/fotos/2013/parijs/">
          <div>
            <h3>Parijs</h3>
            <p>De zesde klas ging begin dit schooljaar al direct naar Parijs en hier zijn de foto's!</p>
          </div>
        </a>
      </div>

    </div>

    <div id="frontpagenews">

      <h2>
        <a href="/nieuws/">Nieuws</a>
      </h2>

      <ul id="headlines">
        <li>
          <time class="date">27/9</time>
          <a href="/nieuws/2013/09/openening-schip">Opening Schip</a>
        </li>
        <li>
          <time class="date">30/12</time>
          <a href="/nieuws/2013/08/start-schooljaar">Fietsen op het schoolplein</a>
        </li>
        <li>
          <time class="date">10/8</time>
          <a href="/nieuws/2013/08/start-schooljaar">Leraar van het jaar verkozen!</a>
        </li>
        <li>
          <time class="date">12/6</time>
          <a href="/nieuws/2013/08/start-schooljaar">Eind schooljaar</a>
        </li>
      </ul>

    </div>


    <div id="comingup">
      <h2>Binnenkort</h2>
      <ul>
        <li>
          <time>
            <span class="day">12</span>
            Dec 2013
          </time>
          <p>Kerstgala</p>
        </li>
        <li>
          <a href="/groep8/">
            <time>
              <span class="day">31</span>
              Jan 2014
            </time>
            <p>Open dag</p>
          </a>
        </li>
        <li>
          <time>
            <span class="day">18</span>
            Feb 2014
          </time>
          <p>Open dag</p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
