{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">
  <h2>Settings</h2>
  <p>Change your settings: picture, ways others can contact you, which info about you is visable etc. etc.</p>

  
  <h3>Persona</h3>

  <div class="profile">
    <img class="profile" src="/media/img/johndoe.png">
  </div>
  
  <form id="settings">
      <ul class="persona">
        <li>
          <label for="name" class="name">Name</label>
          <input id="name" name="name" type="text" disabled="disabled" placeholder="John Doe">
        </li>
        <li>
          <label for="class" class="class">Class</label>
          <input id="class" name="class" type="text" disabled="disabled" placeholder="G4Z"></textarea>
        </li>
        <li>
          <label for="email1" class="email1">School mailadress</label>
          <input id="email1" name="email" type="email" disabled="disabled" placeholder="myschoolmail@domain.com" required>
        </li>
      </ul>  
    <div class="clear"></div>
    
    <h3>How others can contact you:</h3>
      <ul class="extrapersona">  
        <li>
          <label for="email2" class="email2">Secondary mailadress</label>
          <input id="email2" name="email" type="email" placeholder="myextramail@domain.com">
        </li>
        <li>
          <label for="phone" class="phone">Phonenumber</label>
          <input id="phone" name="phone" type="tel" placeholder="+3165432123">
          <input id="visibility" name="phone" type="checkbox"> 
        </li>
        <li>
          <label for="twitter" class="twitter">Twittername</label>
          <input id="twitter" name="twitter" type="text" placeholder="@cygy">
          <input id="visibility" name="twitter" type="checkbox"> 
        </li>
        <li>
          <label for="facebook" class="facebook">Facebook</label>
          <input id="facebook" name="facebook" type="text" placeholder="<facebookurl>">
          <input id="visibility" name="twitter" type="checkbox"> 
        </li>
      </ul>    
      <div class="submit"> 
          <input type="submit" name="Submit" class="settings" value="Edit my settings" />
      </div>
      <ul class="buttons">
        <li>
          <span class="button"><a href="#">Courses</a>
        </li>
        <li>
          <span class="button"><a href="#">Change password</a>
        </li>    
      </ul>
    
  </form>   
</div>
{% endblock %}