{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">
  <h2>Settings</h2>
  <p>Change your settings: picture, ways others can contact you, which info about you is visable etc. etc.</p>

  <div class="settingsmenu">
    <h3 class="menu"><a class="tabnav" href="#persona">Persona</a></h3>
    <h3 class="menu"><a class="tabnav" href="#contactinfo">Contactinfo</a></h3>
    <h3 class="menu"><a class="tabnav" href="#changepassword">Change Password</a></h3>
    <h3 class="menu"><a class="tabnav" href="#notifications">Notifications</a></h3>
    <h3 class="menu"><a class="tabnav" href="#coursesmenu">Courses menu</a></h3>
  </div>

  <div id="tabbrowser">
    <div id="tabs">

      <div class="tab" id="tabpersona">
        <ul class="persona">
          <li>
            <label for="name" class="settings">Name</label>
            <input id="name" name="name" class="text wider" type="text" disabled="disabled" placeholder="John Doe">
          </li>
          <li>
            <label for="class" class="settings">Class</label>
            <input id="class" name="class" class="text wider" type="text" disabled="disabled" placeholder="G4X"></textarea>
          </li>
          <li>
            <label for="email1" class="settings">School mailadress</label>
            <input id="email1" name="email" class="text wider" type="email" disabled="disabled" placeholder="Jdoe@cygnusgymnasium.eu" required>
          </li>
        </ul> 
            
        <div class="profile">
          <img class="profile" src="/media/img/johndoe.png">
        </div>
            
        <div class="clear"></div>
      </div>
      
      <div class="tab" id="tabcontactinfo">
        <form id="settings-contact">  
          <ul class="contactinfo">  
            <li>
              <label for="email2" class="settings">Secondary mailadress</label>
              <input id="email2" name="email" type="email" class="text wider" placeholder="myextramail@domain.com">
            </li>
            <li>
              <label for="phone" class="settings">Phonenumber</label>
              <input id="phone" name="phone" type="tel" class="text wider" placeholder="+3165432123">
            </li>
            <li>
              <label for="twitter" class="settings">Twittername</label>
              <input id="twitter" name="twitter" type="text" class="text wider" placeholder="@cygy">
            </li>
            <li>
              <label for="facebook" class="settings">Facebook</label>
              <input id="facebook" name="facebook" type="url" class="text wider" placeholder="<facebookurl>">
            </li>
          </ul>
            
          <div class="submit"> 
            <input type="submit" name="Submit" class="settings-contact" value="Update my contactinfo!" />
          </div>
          
          <div class="clear"></div>
        
        </form>
      </div>
      
      <div class="tab" id="tabchangepassword">
        <form id="settings-password">
          <ul class="password">  
            <li>
              <label for="old-password" class="settings">Old password</label>
              <input id="old-password" name="old-password" type="password" class="text wider" requird>
            </li>
            <li>
              <label for="new-password" class="settings">New password</label>
              <input id="old-password" name="new-password" type="password" class="text wider" requird>
            </li>
            <li>
              <label for="confirm-password" class="settings">Confirm password</label>
              <input id="confirm-password" name="confirm-password" type="password" class="text wider" requird>
            </li>
          </ul>
              
          <div class="submit"> 
            <input type="submit" name="Submit" class="settings-password" value="Update my password!" />
          </div>
          
          <div class="clear"></div>
        </form>
      </div>
      
      <div class="tab" id="tabnotifications">
        <form id="settings-notifications">
          <p>Manage your notifications by checking the checkboxes of the events you want to be notifed of with an email.</p>
          <ul class="notifications">  
            <li class="evennotification">
              <label for="new-letter" class="new-letter">When a new letter is published</label>
              <input id="new-letter" name="new-letter" type="checkbox">
            </li>
            <li class="oddnotification">
              <label for="new-course" class="new-course">When you're added to a course</label>
              <input id="new-course" name="new-course" type="checkbox">
            </li>
          </ul>
            
          <div class="submit"> 
            <input type="submit" name="Submit" class="settings-notifications" value="Update my notifications!" />
          </div>
      
          <div class="clear"></div>    
        </form>
      </div>
      
      <div class="tab" id="tabcoursesmenu">
        <form id="settings-courses" action="">
          <p>In the <span class="bold">Menucolumn</span> you can check the boxes next to the coursenames that should be fast accesible through the courses dropdown menu in the navigationbar.</p>    
          <ul id="courses">
            <li class="head">
              <span class="coursename">Coursename</span>
              <span class="menu">Menu</span>
              <span class="year">Year</span>
              <div class="clear"></div>
            </li>
            <li class="evencourse">
              <a class="course" href="">
                <span class="coursename">Central</span>
                <span class="year">All</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="central"/></label>
              <div class="clear"></div>
            </li>    
            <li class="oddcourse">
              <a class="course" href="">
                <span class="coursename">Maths</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="maths"/></label>
              <div class="clear"></div>
            </li>
            <li class="evencourse">
              <a class="course" href="">
                <span class="coursename">English</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="english"/></label>
              <div class="clear"></div>
            </li>
            <li class="oddcourse">
              <a class="course" href="">
                <span class="coursename">Sience</span>  
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="sience"/></label>
              <div class="clear"></div>
            </li>
            <li class="evencourse">
              <a class="course" href="">
                <span class="coursename">P.E.</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="pe"/></label>
              <div class="clear"></div>
            </li>
            <li class="oddcourse">
              <a class="course" href="">
                <span class="coursename">French</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="french"/></label>
              <div class="clear"></div>
            </li>
            <li class="evencourse">
              <a class="course" href="">
                <span class="coursename">Dutch</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="dutch"/></label>
              <div class="clear"></div>
            </li>
            <li class="oddcourse">
              <a class="course" href="">
                <span class="coursename">History</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="history"/></label>
              <div class="clear"></div>
            </li>
            <li class="evencourse">
              <a class="course" href="">
                <span class="coursename">Biology</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="biology"/></label>
              <div class="clear"></div>
            </li>
            <li class="oddcourse">
              <a class="course" href="">
                <span class="coursename">Latin</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="latin"/></label>
              <div class="clear"></div>
            </li>
            <li class="evencourse">
              <a class="course" href="">
                <span class="coursename">Art</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="art"/></label>
              <div class="clear"></div>
            </li>
            <li class="oddcourse">
              <a class="course" href="">
                <span class="coursename">Greek</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
                <label class="checkbox"><input type="checkbox" name="greek"/></label>
              <div class="clear"></div>
            </li>
            <li class="evencourse">
              <a class="course" href="">
                <span class="coursename">Biology</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>
              <label class="checkbox"><input type="checkbox" name="biology"/></label>
              <div class="clear"></div>
            </li>
            <li class="oddcourse">
              <a class="course" href="">
                <span class="coursename">State of the art Freaking long coursename</span>
                <span class="year">4</span>
                <div class="clear"></div>
              </a>

                <label class="checkbox"><input type="checkbox" name="freakinglongcoursename"/></label>
              </span>
              <div class="clear"></div>
            </li>
            <li class="evencourse">
              <a class="course" href="">
                <span class="coursename">Tutor</span>
                <span class="year">All</span>
              <div class="clear"></div>
              </a>
              <label class="checkbox"><input type="checkbox" name="tutor"/></label>
              <div class="clear"></div>
            </li>            
          </ul>
       
          <input type="submit" name="Submit" class="course" value="Save my menu" />
      
        </form>
      </div>
      <div class="clear"></div> 
    </div>
  </div>

</div>


{% endblock %}
