{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">
  <h2>Settings</h2>
  <p>Change your settings: picture, ways others can contact you, which info about you is visable etc. etc.</p>

  <form id="settings">
    <div class="persona">
      <legend>Your details</legend>        
        <ol>
          <li>
            <label for="name">Name</label>
              <input id="name" name="name" type="text" placeholder="First and last name">
          </li>
          <li>
            <label for=email>Email</label>
              <input id=email name=email type=email placeholder="example@domain.com" required>
          </li>
          <li>
            <label for=phone>Phone</label>
              <input id=phone name=phone type=tel placeholder="Eg. +447500000000" required>
          </li>
        </ol>
    </div>
 
    <div class="adress">
      <legend>Delivery address</legend>
        <ol>
          <li>
            <label for=address>Address</label>
            <textarea id=address name=address rows=5 required></textarea>
          </li>
          <li>
            <label for=postcode>Post code</label>
            <input id=postcode name=postcode type=text required>
          </li>
          <li>
            <label for=country>Country</label>
            <input id=country name=country type=text required>
          </li>
        </ol>
    </div>
  </form>
   
   
   <input type="submit" name="Submit" class="course" value="Edit my settings" />
  </form>   
</div>
{% endblock %}