{% extends "admin/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/admin/index.css">
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <h2>Dashboard</h2>

  <section class="card fifty">
    <h3>Laatst bewerkte nieuwsartikelen</h3>
    <ol class="edited">
      <li>
        <time>14/10</time>
        <a href="/admin/news/editor/">Opening Schip</a>
      </li>
      <li>
        <time>13/10</time>
        <a href="/admin/news/editor/">Over het oude gebouw Het Schip</a>
      </li>
      <li>
        <time>10/10</time>
        <a href="/admin/news/editor/">Start schooljaar</a>
      </li>
      <li>
        <time>9/10</time>
        <a href="/admin/news/editor/">Eind schooljaar</a>
      </li>
      <li>
        <time>5/10</time>
        <a href="/admin/news/editor/">Geslaagden 2012-2013</a>
      </li>
    </ol>
  </section>

  <section class="card fifty">
    <h3>Laatst bewerkte Fotoalbums</h3>
    <ol class="edited">
      <li>
        <time>14/10</time>
        <a href="/admin/photos/editor/">Brugklaskamp</a>
      </li>
      <li>
        <time>29/9</time>
        <a href="/admin/photos/editor/">Parijs</a>
      </li>
      <li>
        <time>25/9</time>
        <a href="/admin/photos/editor/">Jihlava</a>
      </li>
      <li>
        <time>22/10</time>
        <a href="/admin/photos/editor/">Klassieke fietstocht</a>
      </li>
      <li>
        <time>20/9</time>
        <a href="/admin/photos/editor/">Sportdag klas 1</a>
      </li>
    </ol>
  </section>

  <section class="card fifty">
    <h3>Laatst bewerkt binnenkort</h3>
    <ol class="edited">
      <li>
        <time>17/8</time>
        <a href="/admin/soon/editor/">Open dag (18/2/2014)</a>
      </li>
      <li>
        <time>17/8</time>
        <a href="/admin/soon/editor/">Kerstgala (12/12/2013)</a>
      </li>
      <li>
        <time>17/8</time>
        <a href="/admin/soon/editor/">Open dag (31/1/2014)</a>
      </li>
      <li>
        <time>17/8</time>
        <a href="/admin/soon/editor/">Aristeia (25/3/2014)</a>
      </li>
      <li>
        <time>17/8</time>
        <a href="/admin/soon/editor/">Begin examens (12/5/2014)</a>
      </li>
    </ol>
  </section>

  <section class="card fifty">
    <h3>Laatst bewerkte pagina's</h3>
    <ol class="edited">
      <li>
        <time>14/10</time>
        <a href="/admin/pages/editor/">Waarom Gymnasium?</a>
      </li>
      <li>
        <time>12/10</time>
        <a href="/admin/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <time>12/10</time>
        <a href="/admin/pages/editor/">Geschiedenis</a>
      </li>
      <li>
        <time>11/10</time>
        <a href="/admin/pages/editor/">Schoolklimaat</a>
      </li>
      <li>
        <time>5/10</time>
        <a href="/admin/pages/editor/">Gebouw</a>
      </li>
    </ol>
  </section>
{% endblock %}
