{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}/media/admin/css/base.css{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% load adminmedia %}/media/fonts/entypo/stylesheet.css">
    <link href="http://fonts.googleapis.com/css?family=Cabin|Open+Sans:400,700" rel="stylesheet" type="text/css">
    {% block extrastyle %}{% endblock %}
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}/media/admin/css/rtl.css{% endblock %}" />{% endif %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}/media/admin/{% endfilter %}";</script>
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  </head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        {% if user.is_active and user.is_staff %}
        <div id="user-tools">
            {% trans 'Welcome,' %}
            <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                {% url 'admin:password_change' as password_change_url %}
                {% if password_change_url %}
                    <a href="{{ password_change_url }}">
                {% else %}
                    <a href="{{ root_path }}password_change/">
                {% endif %}
                {% trans 'Change password' %}</a> /
                {% url 'admin:logout' as logout_url %}
                {% if logout_url %}
                    <a href="{{ logout_url }}">
                {% else %}
                    <a href="{{ root_path }}logout/">
                {% endif %}
                {% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
    {% endif %}

        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}</ul>
        {% endif %}

    <!-- Content -->
    {% block sidebar %}
      <div id="sidebar">
        <ul id="sidebarbuttons">
          <li class="sidebar-item active">
            <a href="/admin/auth/user/" id="sidecomma">
              <span class="button-text">Users</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/cms/page/" id="sidel">
              <span class="button-text">Pages</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/galleries/photo/" id="sidep">
              <span class="button-text">Photos</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/letters/letter/" id="siden">
              <span class="button-text">Letters</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/news/newsmessage/" id="sidel2">
              <span class="button-text">News messages</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/organizer/course/" id="sidet">
              <span class="button-text">Courses</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/organizer/homework/" id="oacute">
              <span class="button-text">Homeworks</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/organizer/lesson/" id="sidecomma2">
              <span class="button-text">Lessons</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/history.html" id="sided">
              <span class="button-text">History</span>
            </a>
          </li>          
        </ul>
      </div>
    {% endblock %}

    <div id="content">
        {% block pretitle %}{% endblock %}

        {% block content_title %}{% if title %}<h1 class="admintitle"><img id="admin-header" src="/media/img/zwaanheader.png">Cygy Controlcenter</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
    </div>
    <!-- END Content -->

</div>
<!-- END Container -->

</body>
</html>
