{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}/media/admin/css/dashboard.css" />{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <ul id="adminmenu-main">
    {% if app_list %}
      {% for app in app_list %}
        {% for model in app.models %}
          <li class="adminmenu-item">
            {% if model.perms.change %}
              <a href="{{ model.admin_url }}"><span class="entypo icon">,</span><span class="button-text">{{ model.name }}</span></a>
            {% else %}
              {{ model.name }}
            {% endif %}
          </li>
        {% endfor %}
      {% endfor %}
    {% else %}
      <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
  </ul>
{% endblock %}

<div class="clear"></div>

{% block sidebar %}
{% endblock %}
