@CHARSET "ISO-8859-1";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #111;
  line-height: 160%;
  text-align: justify;
  background: #f5f5f5 /*url(../img/backgroundlarge4.png) no-repeat fixed center*/;
  overflow-y: scroll;
  background-attachment: fixed;
  background-size: 100% 800px;
  background-position: bottom;
}

@font-face {
  font-family: Aldus;
  src: url(../fonts/aldus.ttf);
}

li.clear, p.clear, div.clear {
  clear: both;
  margin: 0;
}

a:link, a:visited {
  color: #006;
}

header, footer {
  display: block;
}

span.bold {
  font-weight: bold;

}

span.italic {
  font-style: italic;
}

#shadow {
  box-shadow:         0 0 7px #777;
  -moz-box-shadow:    0 0 7px #777;
  -webkit-box-shadow: 0 0 7px #777;
  margin: 0 auto;
  width: 900px;
  background: #fff url(../img/background.png) repeat-x;
}

p, li {
  word-wrap: break-word;
}

div.four-o-four {
  background: url(../img/404.png) no-repeat;
  width: 800px;
  height: 250px;
  margin: 60px 0 20px 0;
}

h3.four-o-four {
  margin: 10px 0 0 40px;
  padding: 40px 0 0 0;
}

p.four-o-four {
  width: 360px;
  margin: 7px 0 7px 40px;
  color: #444;
}

a img {
  outline: none;
  border: none;
}

/*------------------------------header------------------------------*/
header {
  width: 900px;
  margin: auto;
  text-align: center;
  padding: 30px 0 20px;
}

img#logo {
  float: left;
  width: 140px;
  margin: 10px 0 10px 35px;
}

h1 {
  font-family: Aldus, Georgia, serif;
  font-size: 82px;
  float: right;
  margin: 70px 35px 70px 0;
  text-decoration: none;
  font-weight: normal;
}

h1 a {
  text-decoration: none;
}

#firstletter {
  font-size: 78px;
}

nav {
  width: 852px;
  margin: 0 auto 25px;
  background-color: #F7F7F7;
  background-image:      -o-linear-gradient(top, #FAFAFA, #F7F7F7);
  background-image:     -ms-linear-gradient(top, #FAFAFA, #F7F7F7);
  background-image:    -moz-linear-gradient(top, #FAFAFA, #F7F7F7);
  background-image: -webkit-linear-gradient(top, #FAFAFA, #F7F7F7);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#F7F7F7));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#FAFAFA', EndColorStr='#F7F7F7');
  box-shadow:         0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  padding: 0 48px 0 0;
  position: relative;
  z-index: 3;
}

ul#menu {
  margin: 0;
  padding: 0;
}

ul#menu, ul.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.navmenu {
  float: left;
  font-size: 14px;
  list-style: none;
  position: relative;
  z-index: 1;
}

a.menuitem:link, a.menuitem:visited {
  transition:         background-color 100ms;
  -moz-transition:    background-color 100ms;
  -webkit-transition: background-color 100ms;
  padding: 10px 15px 11px;
  display: block;
  text-decoration: none;
  color: #333;
  position: relative;
  z-index: 1;
  border-right: 1px solid #f0f0f0;
}

a.menuitem:hover, a.menuhover {
  background: rgba(255, 255, 255, 0.9);
}

a.menuitem:active {
  padding: 11px 15px 10px;
}

ul.dropdown {
  position: absolute;
  width: 200px;
  background: #f3f3f3;
  box-shadow:         0px 1px 2px rgba(0, 0, 0, 0.4), inset 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 1px 2px rgba(0, 0, 0, 0.4), inset 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), inset 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  z-index: 2;
  top: 46px;
  text-align: left;
}

a.submenu-item:link, a.submenu-item:visited {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  width: 170px;
  cursor: pointer;
}

a.submenu-item:hover {
  background: #fff;
}
li:nth-child(1) a.submenu-item:hover {
  box-shadow:         inset 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    inset 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.3);
}

a.submenu-item:active {
  padding: 11px 15px 9px;
}

li.liright {
  float: right !important;
  position: relative;
}

ul#menu img {
  height: 46px;
}

a.imagenav#homebtn {
  display: block;
  height: 46px;
  width: 46px;
  background: url(../img/home.png) 0 0 no-repeat;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  padding-left: 46px;
  overflow: hidden;
  border-right: 1px solid #f0f0f0;
}

a.imagenav#homebtn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/*------------------------------search------------------------------*/
#search {
  position: absolute;
  right: -48px;
}

#search input[type="text"] {
  padding: 12px 10px 12px 38px;
  width: 35px;
  height: 46px;
  background: #F7F7F7;
  background: url(../img/mag.png) no-repeat,      -o-linear-gradient(top, #FAFAFA, #F7F7F7);
  background: url(../img/mag.png) no-repeat,     -ms-linear-gradient(top, #FAFAFA, #F7F7F7);
  background: url(../img/mag.png) no-repeat,    -moz-linear-gradient(top, #FAFAFA, #F7F7F7);
  background: url(../img/mag.png) no-repeat, -webkit-linear-gradient(top, #FAFAFA, #F7F7F7);
  background: url(../img/mag.png) no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#F7F7F7));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#FAFAFA', EndColorStr='#F7F7F7');
  line-height: 20px;
  transition:         background-color 100ms, width 300ms;
  -moz-transition:    background-color 100ms, width 300ms;
  -webkit-transition: background-color 100ms, width 300ms;
  cursor: pointer;
  border: none;
  margin: 0;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  color: #f5f5f5;
  z-index: 3;
}

#search input[type="text"]:hover {
  background:  url(../img/mag.png) no-repeat #fff;
  color: #fff;
}

#search input[type="text"]:focus {
  width: 260px;
  outline: none;
  box-shadow:         0 0 6px #8BF;
  -moz-box-shadow:    0 0 6px #8BF;
  -webkit-box-shadow: 0 0 6px #8BF;
  cursor: text;
  background: url(../img/mag.png) no-repeat #fff;
  color: #333;
}

#search input:-moz-placeholder {
  color: #f5f5f5;
  -moz-transition: all 0.5s;
}
#search input:focus:-moz-placeholder {
  color: #999;
}
#search input::-webkit-input-placeholder {
  color: #f5f5f5;
}
#search input:focus::-webkit-input-placeholder {
  color: #999;
}

ul#searchresults {
  background: #fafafa;
  width: 260px;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow:         0 0 2px rgba(100, 100, 100, 1);
  -moz-box-shadow:    0 0 2px rgba(100, 100, 100, 1);
  -webkit-box-shadow: 0 0 2px rgba(100, 100, 100, 1);
  position: absolute;
  right: -48px;
  top: 46px;
  z-index: 1;
}

strong {
  font-weight: bold;
}

.resul a {
  padding: 6px;
  display: block;
  text-decoration: none;
}
.resul a:hover {
  background: #dceaff;
}

.activeres a {
  background: #d0dfff;
}


/*------------------------------loginform------------------------------*/
#loginhome {
  float: right !important;
  border-left: 1px solid #f0f0f0;
}

div#darken {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(1, 1, 1);
  background: rgba(10, 10, 10, 0.8);
  position: fixed;
  z-index: 6;
}

div#inlogform {
  text-align: center;
  position: relative;
  background: #eaeaea;
  margin: 100px auto 0;
  width: 280px;
  box-shadow:         0 0 100px #000;
  -moz-box-shadow:    0 0 100px #000;
  -webkit-box-shadow: 0 0 100px #000;
  font-size: 13px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 337px;
  overflow: visible !important;
}

#closelogin {
  height: 24px;
  width: 24px;
  background: #000 url(../img/cross.png) no-repeat center;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  position: absolute;
  top: -15px;
  right: -15px;
  border: 3px solid #fff;
  box-shadow:         0 0 10px #000;
  -moz-box-shadow:    0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  cursor: pointer;
}

#focusonlogin {
  margin-top: 14px;
  display: block;
}

div#inlogform a:link, div#inlogform a:visited {
  text-decoration: none;
  color: #006;
}

div#inlogform a:hover, div#inlogform a:active {
  text-decoration: underline;
}

form#login {
  margin: 0 0 20px;
}

div#loginandpassword {
  width: 560px;
}

div#password, div#focuslogin {
  padding: 15px;
  float: left;
  width: 250px;
}
div#password {
  float: right;
}

/*------------------------------content------------------------------*/
.wrapper {
  width: 800px;
  margin: 0 auto;
  background: #fff;
  box-shadow:         0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  padding: 20px 50px 40px;
  position: relative;
  word-wrap: break-word;
  z-index: 0;
  border-top: 8px solid #45C;
}

h2 {
  font-size: 45px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 40px 0 40px;
  line-height: 38px;
  text-align: left;
}

h2 a:link, a:visited{
  text-decoration: none;
  color: #000;
}

#inlogform h2 {
  margin: 30px 0 30px;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
}

div.item {
  padding: 1px 0 10px;
  border-bottom: 1px solid #eaeaea;
}

a.leesmeer {
  float: right;
  text-decoration: none;
}

div.pagination {
  display: block;
  width: 300px;
  margin: 0 auto;
}

a.pagenav {
  display: block;
  float: left;
  width: 25px;
  padding: 5px;
  margin: 10px 7px 10px 0;
  background: #EEE;
  text-decoration: none;
  text-align: center;
}

a.pagenav:hover {
  background: #006;
  color: #FFF;
}

p.morepages {
  display: block;
  float: left;
  width: 25px;
  padding: 5px;
  margin: 10px 7px 10px 0;
  background: #EEE;
  text-decoration: none;
  text-align: center;
}

.currentpage {
  background: #006;
  color: #FFF;

}



/*------------------------------photos------------------------------*/
div.photos {
  padding: 0;
  border-bottom: 1px solid #eaeaea;
  width: 798px;
}

div#slider {
  overflow: hidden;
  padding: 0 0 0 1px;
}

a.slide {
  height: 200px;
  width: 266px;
  float: left;
  text-align: center;
  display: block;
}
a.slide img {
  height: 200px;
}

ul#sliderul {
	margin: 0px auto;
	padding: 0px;
	width: 86px;
}

li.slidernav {
	display: inline-block;
	list-style: none;
	width: 14px;
	margin: 15px 5px;
	height: 14px;
}

a.li {
	width: 14px;
	display: block;
	height: 14px;
  border-radius:         8px;
	-moz-border-radius:    8px;
	-webkit-border-radius: 8px;
}

.act {
	background: #45f;
  border: 1px solid #12c;
  transition:         all 100ms;
  -moz-transition:    all 100ms;
  -webkit-transition: all 100ms;
}

.inact {
	background: #fafafa;
	border: 1px solid #ddd;
}
.inact:hover {
	border: 1px solid #cacaca;
}

/*------------------------------rooster------------------------------*/
div#rooster {
  position: relative;
  float: left;
  box-shadow:         0 0 5px #777;
  -moz-box-shadow:    0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  width: 800px;
}

#print {
  background: #fff;
  padding: 5px;
}

#print * {
  background: #fff;
  color: #333 !important;
}

#print .uure, #print .uuru {
  border-bottom: 1px solid #bbb;
  border-left: none !important;
}
#print div.uuru:nth-child(2), #print div.uuru:nth-child(1) {
  border-top: 1px solid #bbb;
}

#print div.divider {
  border-left: 1px solid #bbb;
  width: 0 !important;
}

#printrooster {
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  float: left;
}

@page {
	size: landscape;
	margin: 1cm;
}


div.dag {
  float: left;
}

div#nummers {
  width: 38px;
  float: left;
  margin-top: 41px;
  color: #333;
}

div.divider {
  width: 1px;
  background: #bbb !important;
  float: left;
}

p.dag {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin: 8px 0;
  color: #777;
}

div.uure {
  padding: 7px 15px 7px 9px;
  background: #eaeaea;
  position: relative;
  border-left: 6px solid #eaeaea;
  height: 25px;
  font-size: 12px;
}

div.uuru {
  padding: 7px 15px 7px 9px;
  background: #f3f3f3;
  position: relative;
  border-left: 6px solid #f3f3f3;
  height: 25px;
  font-size: 12px;
}

div.uuri {
  font-size: 14px;
  padding: 7px 15px 7px 9px;
  color: #555 !important;
  position: relative;
  border-left: 6px solid #fff;
  height: 25px;
}

.valtuit {
  color: #555;
  position: relative;
}

.valtuit:before {
  height: 39px;
  width: 250px;
  background: url(../img/raster.png);
  content: "";
  display: block;
  top: -7px;
  left: -9px;
  position: absolute;
}

p.vak {
  margin: 0;
}

div.les {
  float: left;
  font-weight: bold;
  width: 38px;
}
div.leraar {
  float: left;
  width: 43px;
}

div.lokaal {
  float: left;
  width: 24px;
}

div.time {
  float: left;
}

#weekend {
  width: 81px;
  border-left: #bbb 1px solid;
  float: left;
  background: #fafafa;
  font-size: 20px;
  color: #999;
  word-wrap: normal;
}

#weekend span {
  display: block;
  transform:         rotate(90deg);
  -moz-transform:    rotate(90deg);
  -webkit-transform: rotate(90deg);
  text-align: center;
  margin: 160px 0 0 5px;
  font-weight: bold;
}

.weekendday {
  width: 226px !important;
}

span.right {
  float: right;
}

div.huiswerkind {
  height: 6px;
  width: 100%;
  background: #e55;
}

ul.huiswerk {
  margin: 10px 5px;
  padding: 0 12px 12px;
  background: #fefefe;
  position: absolute;
  box-shadow: 0 0 7px #777;
  -ms-box-shadow: 0 0 7px #777;
  -moz-box-shadow: 0 0 7px #777;
  -webkit-box-shadow: 0 0 7px #777;
  z-index: 2;
  display: none;
  top: 55px;
  width: 200px;
}

ul.huiswerk:before {
  background-color: #fefefe;
  content: "";
  display: block;
  height: 20px;
  left: 3px;
  position: relative;
  top: -9px;
  transform:         rotate(45deg);
  -moz-transform:    rotate(45deg);
  -webkit-transform: rotate(45deg);
  width:  20px;
}

div.triangle {
  box-shadow:         0 0 7px #777;
  -moz-box-shadow:    0 0 7px #777;
  -webkit-box-shadow: 0 0 7px #777;
  background-color: #fefefe;
  display: none;
  height: 20px;
  position: relative;
  top: 20px;
  transform:         rotate(45deg);
  -moz-transform:    rotate(45deg);
  -webkit-transform: rotate(45deg);
  width:  20px;
  position: relative;
  margin: 0 0 -21px 20px;
  z-index: 1;
}

li.huiswerkitem {
  list-style: none;
  font-size: 13px;
  padding: 2px 0 2px 10px;
  border-left: #9ffe49 solid 6px;
  text-align: left;
}

.pw {
  border-left: solid #FF5860 6px !important;
}

.opdr {
  border-left: solid #70b6f2 6px !important;
}

.so {
  border-left: solid #f6e44b 6px !important;
}

span.verkort {
  color: #f849af;
}

.meldingen {
  font-size: 14px;
  border-bottom: 1px solid #bbb;
}

div.note {
  background: #ececec;
  padding: 10px 20px 20px;
  text-shadow: 0 1px 0 #fff;
  margin: 0 0 20px;
}

div.note:before, div.note:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow:         0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:    0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform:         rotate(-2deg);
  -moz-transform:    rotate(-2deg);
  -webkit-transform: rotate(-2deg);
}

div.note:after {
  transform:         rotate(2deg);
  -moz-transform:    rotate(2deg);
  -webkit-transform: rotate(2deg);
  right: 10px;
  left: auto;
}

.headermessage {
  font-weight: bold;
}

#meldingen h3 {
  margin: 15px 5px 3px;
}

ul.belangrijk {
  margin: 0;
}

div#komend {
  box-shadow:         0 0 5px #777;
  -moz-box-shadow:    0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  padding: 1px 15px 15px;
  font-size: 14px;
  margin: 20px 0 10px;
}

div#komend li.huiswerkitem {
  font-size: 14px;
}

#meldingenlinks {
  float: left;
  width: 540px;
  padding: 1px 15px 15px;
}

#legend {
  float: left;
  width: 200px;
  padding-left: 20px;
  border-left: #bbb 1px solid;
}

.legendleft {
  width: 50px;
  float: left;
}

.legendright {
  width: 110px;
  float: left;
}

#legendul {
  padding: 0;
}

#valtuitlegend {
  position: relative;
  color: #333;
  border-color: #eee;
  margin-top: 10px;
}

#valtuitlegend:before {
  height: 29px;
  width: 190px;
  background: url(../img/raster.png);
  content: "";
  display: block;
  top: -1px;
  left: 0;
  position: absolute;
}

/*------------------------------letters------------------------------*/
ul#letters {
  padding: 0;
}

li.odd {
  background: #eee;
  list-style: none;
  margin: 0;
  padding: 8px 12px;
}

li.even {
  background: #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 8px 12px;
}

li.odd a, li.even a {
  text-decoration: none;
}

/*------------------------------courses overview------------------------------*/

li.head {
  list-style: none;
  font-weight: bold;
  width: 340px;
  height: 30px;
}

li.head span.year {
  padding: 0 10px 2px 0;
  float: right;
}

ul#courses {
  width: 340px;
  margin: 10px 0;
  padding: 0 230px;
}

a.course {
  display: block;
  width: 290px;
  text-decoration: none;
  float: left;
  padding: 9px 0;
}

a.odd {
  background: #EEE;
}

a.even {
  background: #FEFEFE;
}

.oddcourse {
  list-style: none;
}

.evencourse {
  list-style: none;
  background: #FEFEFE;
}

span.coursename {
  float: left;
  width: 208px;
  padding-left: 12px;
  text-align: left;
}

span.year {
  float: right;
  padding: 0 12px;
}

span.menu {
  float: right;
}

input.course[type="submit"] {
  margin: 14px auto;
}
input.course[type="submit"]:active {
  margin: 16px auto 12px;
}

input.courses[type="checkbox"] {
  margin: 14px 14px 0;
  float: right;
}

input.notifications {
  float: right;
  margin: 14px 12px;
}

img.fileicon {
  height: 22px;
  margin: 0 4px -4px 0;
}

/*------------------------------course------------------------------*/

header#courseheader {
  width: 800px;
  margin: -21px -50px 3px;
  text-align: left;
  padding: 34px 50px 20px;
  background: #444;
  background-size: 900px;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  font-weight: normal;
  position: relative;
}

header#courseheader:after {
  box-shadow:         0 0 12px rgba(0, 0, 0, 1);
  -moz-box-shadow:    0 0 12px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 1);
  bottom: 0px;
  height: 12px;
  width: 876px;
  margin: 0 auto;
  -moz-border-radius: 433px / 7px;
  border-radius: 433px / 7px;
  content: "";
  position: absolute;
  left: 15px;
  z-index: -1;
}

ul#coursemenu {
  display: block;
  width: 505px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
}

li.coursemenu-item {
  list-style: none;
  float: left;
  padding: 5px 10px 0 0;
}

label.course {
  float: left;
}

input.course[type="checkbox"] {
  float: right;
  margin: 6px 10px 0;
}

a#question {
  margin: 20px 341px 20px 341px !important;
  text-decoration: none;
  display: block;
}

/*------------------------------fileupload-----------------------------*/

.uploadfile {
  width: 415px;
  margin: 0 auto;
}

input[type=file] {
  padding: 5px 7px;
  cursor: pointer;
  background: #eee;
  font-size: 17px;
  box-shadow:         0 1px 1px #333;
  -moz-box-shadow:    0 1px 1px #333;
  -webkit-box-shadow: 0 1px 1px #333;
  border-radius:         4px;
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  margin: 10px auto 0;
  outline: none;
  border: none;
}


/*------------------------------loginpage------------------------------*/
#loginpage {
  text-align: center;
}

#loginpage a:link, #loginpage a:visited {
  text-decoration: none;
  font-size: 14px;
}

#loginpage a:hover, #loginpage a:active {
  text-decoration: underline;
}

#loginerror {
  background: #d44;
  color: #fff;
  padding: 8px 15px;
  margin: 30px auto;
  position: relative;
}

#loginformpage {
  margin: 10px auto;
  width: 170px;
  text-align: center;
}

input.text, #id_username, #id_password {
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 150px;
  font-size: 17px;
  background: #fcfcfc;
  border-radius:         2px;
  -moz-border-radius:    2px;
  -webkit-border-radius: 2px;
  outline: none;
  transition:         box-shadow 120ms, background 120ms;
  -moz-transition:    box-shadow 120ms, background 120ms;
  -webkit-transition: box-shadow 120ms, background 120ms;
  border: 1px solid #e5e5e5;
}

input.text:hover, #id_username:hover, #id_password:hover {
  border: 1px solid #d5d5d5;
}

input.text:focus, #id_username:focus, #id_password:focus {
  box-shadow:         0 0 8px #60c6ff;
  -moz-box-shadow:    0 0 8px #60c6ff;
  -webkit-box-shadow: 0 0 8px #60c6ff;
  border: none;
  background: #fff;
  padding: 9px 11px;
}

input[type=submit], a#question {
  padding: 8px 20px;
  cursor: pointer;
  background: #225ccc;
  font-size: 17px;
  color: #fff;
  box-shadow:         0 1px 1px #000;
  -moz-box-shadow:    0 1px 1px #000;
  -webkit-box-shadow: 0 1px 1px #000;
  border-radius:         4px;
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  margin: 10px auto 2px;
  outline: none;
  border: none;
}

input.button:hover, input[type=submit]:hover, a#question:hover, input.button:focus, input[type=submit]:focus, a#question:focus {
  background: #326cdc;

}

input.button:active, input[type=submit]:active, a#question:active {
  box-shadow:         0 0 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow:    0 0 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
  background: #1a4fbf;
}
input[type=submit]:active, a#question:active {
  margin-top: 12px;
  margin-bottom: 0;
}

/*------------------------------contact------------------------------*/

div#location {
  width: 480px;
}

div#adress {
  width: 480px;
}

p.contact {
 margin: 0;
}

div#map {
 float: right;
 width: 300px;
 height: 360px;
}
div#map iframe {
 width: 300px;
 height: 250px;
}

div#map a {
  display: block;
  width: 250px;
  background: #225ccc;
  color: #fff;
  padding: 8px 20px;
  margin: 0 5px;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  box-shadow:         0 1px 1px #000;
  -moz-box-shadow:    0 1px 1px #000;
  -webkit-box-shadow: 0 1px 1px #000;
  border-radius:         4px;
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

ul#contactpersons {
 padding: 0;
 margin: 10px 0;
}

ul#contactpersons li a {
}

span.persondescription {
 float: right;
}

/*------------------------------settings------------------------------*/
.settingsmenu {
  display: block;
  border-bottom: 1px solid #EEE;
  height: 28px;
  margin: 30px 0 0;
  padding: 0 0 0 80px;
}

div.submit {
  text-align: center;
}

#tabbrowser {
  overflow: hidden;
  width: 800px;
}

.tab {
  float: left;
  width: 800px;
  margin: 10px 50px 0 0;
}

.tabnav:link, .tabnav:visited {
  float: left;
  border-bottom: 3px solid #fff;
  padding: 0 8px;
  text-decoration: none;
  color: #111;
  font-size: 17px;
}

.tabnav:hover {
  border-color: #00a !important;
}

.tab ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 20px 90px;
}

span.personalabel {
  margin: 0 20px 0 0;
  min-width: 170px;
  text-align: right;
  display: block;
  float: left;
}
span.personainfo {
  display: block;
  float: left;
  min-width: 80px;
}

label.settings {
  float: left;
  margin: 5px 20px 0 0;
  width: 170px;
  text-align: right;
  font-size: 16px;
}

input.wider {
  width: 220px;
  height: 20px;
}

input[disabled=disabled] {
  background: #DDDDDD !important;
  color: #0e0e0e !important;
}

input.settings-submit {
  margin: 0 auto 2px;
}
input.settings-submit:active {
  margin: 2px auto 0;
}

p.settings {
  text-align: center;
}

div#profile {
  margin: 5px auto 10px;
  height: 140px;
  width: 123px;
}
img#profilepic {
  height: 140px;
}

ul.notifications {
  margin: 0 240px;
}

li.evennotification {
  display: block;
  width: 320px;
  background: #FEFEFE;
  height: 41px;
}

li.oddnotification {
  display: block;
  width: 320px;
  background: #EEE;
  height: 41px;
}

label.notifications {
  display: block;
  width: 240px;
  margin: 8px 12px;
  text-decoration: none;
  float: left;
}

input.settings-notifications {
  margin: 20px auto;
}
input.settings-notifications:active {
  margin: 22px auto 18px;
}

ul#passwordlist li {
  position: relative;
}

input#confirm-password {
  background-position: 215px center;
  background-size: 17px 17px;
  background-repeat: no-repeat;
  padding-right: 30px;
  width: 200px;
}
div#checkifsame {
  padding: 5px 8px 5px 17px;
  background: #fefefe;
  position: absolute;
  box-shadow:         0 0 5px #777;
  -moz-box-shadow:    0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  z-index: 2;
  font-size: 12px;
  left: 457px;
  top: 0;
  display: none;
}
  div#checkifsame:before {
    background-color: #fefefe;
    content: "";
    display: block;
    height: 16px;
    width:  16px;
    left: -8px;
    position: absolute;
    top: 10px;
    transform:         rotate(45deg);
    -moz-transform:    rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
div#triangleleft {
  box-shadow:         0 0 5px #777;
  -moz-box-shadow:    0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  background-color: #fefefe;
  height: 16px;
  width: 16px;
  position: relative;
  top: 10px;
  left: 449px;
  transform:         rotate(45deg);
  -moz-transform:    rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  z-index: 1;
  display: none;
}

#setsuccess {
  text-align: center;
  color: #fff;
  background: #3c3;
  padding: 8px 15px;
}
#seterror {
  text-align: center;
  background: #d44;
  color: #fff;
  padding: 8px 15px;
}

/*------------------------------photos------------------------------*/
div#photopage img {
  height: 105px;
  border: 4px white solid;
  box-shadow:         0 0 2px #333;
  -moz-box-shadow:    0 0 2px #333;
  -webkit-box-shadow: 0 0 2px #333;
  float: left;
  margin: 6px;
}

/*------------------------------add homework------------------------------*/
ul#makeplanner {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.lesson {
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

p.weeknumber {
  float: left;
  width: 30px;
  margin: 8px 0;
}

p.lessondate {
  float: left;
  width: 90px;
  margin: 8px 0;
}

select.homeworktype {
  float: left;
  margin: 8px 0;
  padding: 3px;
  border: 1px solid #ccc;
  background: #eee;
}

input.homework {
  border: 1px solid #ccc;
  margin: 8px 0 8px 8px;
  padding: 4px;
  float: left;
  width: 547px;
}

/*------------------------------footer------------------------------*/

footer {
  width: 900px;
  margin: 25px auto;
  position: relative;
  font-size: 14px;
  padding: 0;
  background: #34a;
  color: #fff;
  box-shadow:         0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

ul#breadcrumbs {
  list-style: none;
  padding: 0;
  position: relative;
  width: 900px;
  float: left;
  margin: auto;
  border-bottom: 1px solid #AAA;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}

ul#breadcrumbs a {
  display: block;
  float: left;
  color: #FFF;
  text-decoration: none;
  padding: 10px 30px;
  background: url(../img/breadcrumbsdivider.png) right top no-repeat;
  margin: 0 -15px 0 0;
}

ul#breadcrumbs a:hover {
  display: block;
  float: left;
  color: #333;
  text-decoration: none;
  padding: 10px 30px;
  background: url(../img/breadcrumbsdividerhoverleft.png) left top no-repeat, url(../img/breadcrumbsdividerhover.png) right top no-repeat;
  background-color: #FFF;
}

a.home:hover {
  background: #FFF url(../img/breadcrumbsdividerhover.png) right top no-repeat !important;
}

span.current {
  float: left;
  color: #FFF;
  text-decoration: none;
  padding: 10px 30px;
  font-style: italic;
}

div#center {
  padding: 40px 50px 30px;
}

h2.footerh {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 0;
  border-bottom: 1px solid #cecece;
}

.footercolumn {
  float: left;
}

#leftcolumn {
  width: 40%;
}

#middlecolumn {
  width: 25%;
  padding: 0 5% 0 0;
}

#rightcolumn {
  width: 30%;
}

#swan {
  height: 250px;
  width: 250px;
  padding: 0 0 0 10px;
}

#logotext-footer {
  padding: 0 45px;
  font-family: 'Georgia', serif;
}

footer a:link, footer a:visited {
  color: whiteSmoke;
  text-decoration: none;
}

footer a:hover, footer a:active {
  text-decoration: underline;
}

.sitemaplist {
  margin: 10px 0;
  padding: 0 0 0 25px;
  float: left;
  width: 175px;
}

.sitemaplist2 {
  padding: 0 16px;
}

#searchcont {
  width: 46px;
  z-index: 2;
}

#container {
  width: 800px;
  height: 25px;
  margin: 20px 0 0;
  border-top: #cecece 1px solid;
}

#copyright {
  float: right;
  margin: 4px 0;
  padding: 0 4px 0 0;
  font-size: 11px;
}

#menutoggle {
  display: none;
}

@media screen and (max-width : 900px) {
  div#inlogform {
    text-align: center;
    position: relative;
    background: #ddd;
    margin: 0;
    width: 100%;
    font-size: 13px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 100%;
    min-height: 337px;
    overflow: visible !important;
  }

  #closelogin {
    top: 0;
    right: 0;
    border-radius:         0;
    -moz-border-radius:    0;
    -webkit-border-radius: 0;
    box-shadow:         none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    border: none;
    width: 48px;
    height: 48px;
  }

  #loginandpassword {
    width: 200% !important;
  }

  div#password, div#focuslogin {
    padding: 0;
    width: 50%;
  }

  #focuslogin h2 {
    margin: 10px 0;
  }

  #password form p {
    padding: 0 20px;
  }

  header {
    background: #117;
    background:         linear-gradient(top, #22b 0%, #117 100%);
    background:      -o-linear-gradient(top, #22b 0%, #117 100%);
    background:     -ms-linear-gradient(top, #22b 0%, #117 100%);
    background:    -moz-linear-gradient(top, #22b 0%, #117 100%);
    background: -webkit-linear-gradient(top, #22b 0%, #117 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f4f4f4));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22b', endColorstr='#117', GradientType=0 );
    max-width: 100%;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    border-top: 8px solid #45C;
  }

  #menutoggle {
    background: #0000aa;
    background:         linear-gradient(top, #22b 0%, #117 100%);
    background:      -o-linear-gradient(top, #22b 0%, #117 100%);
    background:     -ms-linear-gradient(top, #22b 0%, #117 100%);
    background:    -moz-linear-gradient(top, #22b 0%, #117 100%);
    background: -webkit-linear-gradient(top, #56D, #45C);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f4f4f4));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22b', endColorstr='#117', GradientType=0 );
    width: 53px;
    height: 40px;
    text-align: center;
    box-shadow:         1px 0 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    1px 0 1px rgba(150, 150, 255, 0.5);
    -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.12);
    padding-top: 16px;
    cursor: pointer;
    position: absolute;
    right: -54px;
    top: 8px;
    z-index: 4;
    display: block;
    font-size: 14px;
    z-index: 0;
  }

  h1#cygnus {
    font-size: 28px;
    float: none;
    text-align: center;
    width: 100%;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    padding: 16px 0 16px 54px;
    margin: 0;
    height: 57px;
  }
  h1#cygnus a {
    color: #333;
  }
  span#firstletter {
    font-size: 26px;
  }

  nav {
    width: 100%;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    padding: 0 0 0 54px;
    position: absolute;
    left: -100%;
    top: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: #eee;
  }

  ul.dropdown {
    position: static;
    width: 100%;
    background: #eaeaea;
    box-shadow:         none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    top: 0;
    text-align: left;
  }

  li.navmenu {
    float: none;
    font-size: 14px;
    list-style: none;
    position: relative;
    z-index: 1;
  }

  a.menuitem:link, a.menuitem:visited {
    padding: 10px 15px 11px;
    display: block;
    text-decoration: none;
    color: #333;
    position: relative;
    z-index: 1;
  }

  a.menuitem:hover {
    background: none;
    color: #333;
  }

  a.menuitem:active {
    padding: 11px 15px 10px;
  }

  a.submenu-item:link, a.submenu-item:visited {
    background: #eaeaea;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px 15px 10px 35px;
    width: 170px;
    cursor: pointer;
  }

  a.submenu-item:hover {
    background: #eaeaea;
    color: #333;
  }

  a.submenu-item:active {
    padding: 11px 15px 9px;
  }

  li.liright {
    float: none !important;
    position: relative;
  }
  #loginhome {
    float: none !important;
  }

  a.imagenav#homebtn {
    display: block;
    height: 46px;
    width: 100%;
    padding: 10px 0 0 46px;
    text-decoration: none;
  }

  a.imagenav#homebtn:hover {
    background: #f5f5f5 url(../img/home.png) no-repeat;
  }

  #searchcont {
    width: 100%;
    height: auto;
  }

  #search {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 0;
    right: 0;
  }

  #search input[type="text"] {
    padding: 12px 10px 12px 38px;
    width: 100%;
    height: 46px;
    background: #f9f9f9 url(../img/mag.png) no-repeat;
    line-height: 20px;
    cursor: text;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    color: #333;
  }

  #search input[type="text"]:hover {
    background: #f9f9f9 url(../img/mag.png) no-repeat;
  }

  #search input[type="text"]:focus {
    outline: none;
    box-shadow:         none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    background: #fff url(../img/mag.png) no-repeat;
    width: 100%;
  }

  #search input:-moz-placeholder {
    color: #999;
  }
  #search input:hover:-moz-placeholder {
    color: #999;
  }
  #search input:focus:-moz-placeholder {
    color: #999;
  }
  #search input::-webkit-input-placeholder {
    color: #999;
  }
  #search input:hover::-webkit-input-placeholder {
    color: #999;
  }
  #search input:focus::-webkit-input-placeholder {
    color: #999;
  }

  ul#searchresults {
    float: none;
    background: #eee;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow:         none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    position: static;
    right: 0;
    top: 0;
    z-index: 1;
  }

  div.photos {
    display: none;
  }

  #logo {
    display: none;
  }

  .wrapper {
    width: 100%;
    padding: 10px 20px;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    border: none;
  }
  .wrapper:after {
    display: none;
  }

  h2 {
    font-size: 34px;
    text-align: center;
  }

  footer {
    width: 100%;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    margin: 1px 0;
  }

  #center {
    width: 100%;
    padding: 30px 20px !important;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
  }

  .footerh {
    text-align: center;
    margin-top: 20px !important;
    border: none !important;
    font-size: 24px !important;
  }

  .footercolumn {
    float: none;
  }

  #middlecolumn {
    width: 100%;
    padding: 0;
  }

  #rightcolumn {
    width: 100%;
  }

  .sitemaplist {
    margin: 10px 0;
    padding: 0 0 0 25px;
    float: none;
  }

  #swan {
    display: none;
  }
}
