{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  {% for message in message_list %}
	  <div class="item">
		<h2>{{ message.title }}</h2>
		<p class="date"><span class="bold">{% blocktrans %}Published on:{% endblocktrans %}</span>
			{{ message.publish|date:'d m Y' }}
			&emsp;&emsp;
			<span class="bold">{% blocktrans %}By:{% endblocktrans %}</span> {{ message.writer }}</p>
		<p>{{ message.content|slice:":300" }}...</p>
		<a class="leesmeer" href="{{ message.get_absolute_url }}">{% blocktrans %}Read more...{% endblocktrans %}</a>
		<p class="clear"></p>
	  </div>
  {% empty %}
		<div class="item">
		<h2>{% trans "Whoopsie" %}</h2>
		<p>{% blocktrans %}We couldn't find any news for this day.{% endblocktrans %}</p>
		</div>
  {% endfor %}
  {% if is_paginated %}
    {% for page in paginator.page_range %}
      {% if page > request.GET.page|add:"-5" and page < request.GET.page|add:"5" or page < 4 or page > paginator.num_pages|add:"-3" or not request.GET.page and page < 6 %}
        <a href="{{ request.path }}?page={{ page }}">{{ page }}</a>
      {% else %}
        {% if page == request.GET.page|add:"-5" or page == request.GET.page|add:"5" or not request.GET.page and page == 6 %}...{% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}

