{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  {% for message in latest %}
	  <div class="item">
		<h2>{{ message.title }}</h2>
		<p class="date"><span class="bold">{% blocktrans %}Published on:{% endblocktrans %}</span>
			{{ message.publish|date:'d m Y' }}
			&emsp;&middot;&emsp;
			<span class="bold">{% blocktrans %}By:{% endblocktrans %}</span> {{ message.writer }}</p>
		<p>{{ message.summary }}</p>
		<a class="leesmeer" href="{{ message.get_absolute_url }}">{% blocktrans %}Read more...{% endblocktrans %}</a>
		<p class="clear"></p>
	  </div>
  {% empty %}
		<div class="item">
		<h2>{% trans "Woopsie" %}</h2>
		<p>{% blocktrans %}We couldn't find any news.{% endblocktrans %}</p>
		</div>
  {% endfor %}
{% endblock %}
