{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="item">
        <h2>{{ object.title }}</h2>
        <p class="date"><span class="bold">{% blocktrans %}Published on:{% endblocktrans %}</span>
            {{ object.publish|date:'d m Y' }}
            &emsp;&middot;&emsp;
            <span class="bold">{% blocktrans %}By:{% endblocktrans %}</span> {{ object.writer }}</p>
        <p>{{ object.content }}</p>
        <p class="clear"></p>
      </div>
{% endblock %}
