{% extends 'users/settings_base.html' %}
{% load i18n %}

{% block title %}{% trans "Password" %}{% endblock %}

{% block settings %}
    <form id="settings-password" action="" method="post">
      {% csrf_token %}

      {% if success == "succes" %}
        <p id="setsuccess">
          {% blocktrans %}Your password has been changed.{% endblocktrans %}
        </p>
      {% else %}
        {% if success == "error" %}
          <p id="seterror">
          {% blocktrans %}Something went wrong, please try again.{% endblocktrans %}
          </p>
        {% endif %}
      {% endif %}

      <ul class="contactinfo" id="passwordlist">
        <li>
          <p class="inputlabel">{% trans "Old password" %}</p>
          <input id="old-password" name="old-password" type="password" class="text wider" required>
        </li>
        <li>
          <p class="inputlabel">{% trans "New password" %}</p>
          <input id="new-password" name="new-password" type="password" class="text wider" required>
        </li>
        <li>
          <p class="inputlabel">{% trans "Confirm password" %}</p>
          <input id="confirm-password" name="confirm-password" type="password" class="text wider" required>
          <div id="triangleleft"></div>
          <div id="checkifsame"></div>
        </li>
      </ul>

      <div class="clear"></div>
      <input type="submit" name="Submit" class="settings-submit" value="{% trans "Save password" %}" />

    </form>
  </div>
  <div class="clear"></div>
{% endblock %}
