{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="profileinfo">
  <img src="/media/img/avatars/wolverine.png" alt="Profile picture NAME" id="avatar">
  <h2 class="profile">NAME</h2>

  <p class="personadata class">G5D</p>
  <div class="clear"></div>

  <p class="personadata email">{{ request.user.email }}</p>
  <div class="clear"></div>

  <p class="personadata email">john@doe.co</p>
  <div class="clear"></div>

  <p class="personadata phone">06 12345678</p>
  <div class="clear"></div>

  <p class="personadata twitter">@Johndoe</p>
  <div class="clear"></div>

  <p class="personadata facebook">Johndoe</p>
  <div class="clear"></div>
</div>
{% endblock %}
