{% extends 'users/settings_base.html' %}
{% load i18n %}

{% block title %}{% trans "Personal info" %}{% endblock %}

{% block settings %}
      <img id="profilepic" src="/media/{{ request.user.get_profile.avatar.url }}">

      <ul class="contactinfo">
        <li>
          <p class="personalabel">{% trans "Name" %}:</p>
          <p class="personainfo">{{ request.user.get_full_name }}</p>
          <div class="clear"></div>
        </li>
        <li>
          <p class="personalabel">{% trans "Class" %}:</p>
          <p class="personainfo">G5D</p>
          <div class="clear"></div>
        </li>
        <li>
          <p class="personalabel">{% trans "Mailadress" %}:</p>
          <p class="personainfo">{{ request.user.email }}</p>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>

      <form id="settings-contact" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ request.user.id }}">
        <ul class="contactinfo" id="personal">
          <li>
            <p class="inputlabel">{% trans "Secondary mailadress" %}</p>
            <input id="email2" name="secondary_email" type="email" class="text wider" placeholder="myextramail@domain.com" value="{{ form.secondary_email.value }}">

            {% if form.secondary_email.errors %}
              {% for error in form.secondary_email.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
            <div class="clear"></div>
          </li>
          <li>
            <p class="inputlabel">{% trans "Phonenumber" %}</p>
            <input id="phone" name="phone_number" type="tel" class="text wider" placeholder="+3165432123" value="{{ form.phone_number.value }}">

            {% if form.phone_number.errors %}
              {% for error in form.phone_number.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
            <div class="clear"></div>
          </li>
          <li>
            <p class="inputlabel">{% trans "Twitter" %}</p>
            <input id="twitter" name="twitter" type="text" class="text wider" placeholder="@freevle" value="{{ form.twitter.value }}">

            {% if form.twitter.errors %}
              {% for error in form.twitter.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
            <div class="clear"></div>
          </li>
          <li>
            <p class="inputlabel">{% trans "Facebook" %}</p>
            <input id="facebook" name="facebook" type="text" class="text wider" placeholder="<facebookurl>" value="{{ form.facebook.value }}">

            {% if form.facebook.errors %}
              {% for error in form.facebook.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
            <div class="clear"></div>
          </li>
        </ul>

        <div class="clear"></div>
        <input type="submit" name="Submit" class="settings-submit" value="{% trans "Save settings" %}">
      </form>

    </div>
    <div class="clear"></div>
{% endblock %}
