{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">

  <header id="courseheader" style="background-image: url(/media/{{ virtualcr.header }});">
    <h2>{{ virtualcr.name }}</h2>
  </header>

</div>

{% for section in virtualcr.sections %}

<div class="item">
  {{ section.content }}

  <ul id="letters">
    {% for attachment in section.attachments %}
    <li class="odd">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/{{ attachment.get_plugin.icon }}">
        <span class="left"><a href="{{ attachment.url }}">{{ attachment.label }}</a></span>
        <div class="clear"></div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endfor %}

{% endblock %}
