{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">

  <header id="courseheader" style="background-image: url(/media/{{ virtualcr.header }});">
    <h2>{{ virtualcr.name }}</h2>
  </header>

</div>

{% for section in virtualcr.section_set.all %}

<div class="item">
  {{ section.content }}

  <ul id="letters">
    <li class="odd">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/img/document.png">
        <span class="left">Naam van document</span>
        <div class="clear"></div>
      </a>
    </li>
    <li class="even">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/img/text.png">
        <span class="left">Naam van document</span>
        <div class="clear"></div>
      </a>
    </li>
    <li class="odd">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/img/link.png">
        <span class="left">Website</span>
        <div class="clear"></div>
      </a>
    </li>
  </ul>
</div>

{% endfor %}

{% endblock %}
