{% extends "adminbase.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/adminpagelist.css">
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <h2>Pagina's</h2>

  <section class="card seventy">
    <form method="POST" action="#">
      <div id="massactions">
        <div id="indicationarrow">&#8625;</div>
        <button type="submit" name="delete" class="button">Verwijderen</button>
        <button type="submit" name="move" class="button">Verplaatsen</button>
      </div>
      <ul class="pages">

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Opening Schip</a>
          </div>
          <div class="actions">
            <a href="#/pages/editor/name/delete/" class="delete"></a>
            <div class="tooltip">Verwijderen</div>
            <a href="#/pages/editor/name/move/" class="move"></a>
            <div class="tooltip">Verplaatsen</div>
          </div>
        </li>

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Opening Schip</a>
          </div>
          <div class="actions">
            <a href="#/pages/editor/name/delete/" class="delete"></a>
            <div class="tooltip">Verwijderen</div>
            <a href="#/pages/editor/name/move/" class="move"></a>
            <div class="tooltip">Verplaatsen</div>
          </div>
        </li>

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Opening Schip</a>
          </div>
          <div class="actions">
            <a href="#/pages/editor/name/delete/" class="delete"></a>
            <div class="tooltip">Verwijderen</div>
            <a href="#/pages/editor/name/move/" class="move"></a>
            <div class="tooltip">Verplaatsen</div>
          </div>
        </li>

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Opening Schip</a>
          </div>
          <div class="actions">
            <a href="#/pages/editor/name/delete/" class="delete"></a>
            <div class="tooltip">Verwijderen</div>
            <a href="#/pages/editor/name/move/" class="move"></a>
            <div class="tooltip">Verplaatsen</div>
          </div>
        </li>

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Opening Schip</a>
          </div>
          <div class="actions">
            <a href="#/pages/editor/name/delete/" class="delete"></a>
            <div class="tooltip">Verwijderen</div>
            <a href="#/pages/editor/name/move/" class="move"></a>
            <div class="tooltip">Verplaatsen</div>
          </div>
        </li>
      </ul>
    </form>
  </section>

  <section class="card thirty">
    <form method="POST" action="#/pages/">
      <label for="category">Categorie</label>
      <select name="category">
        <option value="all">Alles</option>
        <option value="education">Onderwijs</option>
        <option value="school">De School</option>
        <option value="activities">Activiteiten</option>
        <option value="studentsparents">Leerlingen/ouders</option>
        <option value="staff">Personeel</option>
      </select>
    </form>
  </section>
{% endblock %}
