{% extends "adminbase.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/adminpagelist.css">
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <h2>Pagina's</h2>

  <section class="card seventy">
    <form method="POST" action="#">
      <div id="massactions">
        <p>Acties met geselecteerde items:</p>
        <button type="submit" class="button delete" name="delete">Verwijderen</button>
        <button type="submit" class="button move" name="move">Verplaatsen</button>
      </div>
      <ul class="pages">

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Waarom Gymnasium?</a>
          </div>
          <div class="actions">
            <div class="buttoncont">
              <a href="#/pages/editor/name/delete/" class="delete"></a>
              <div class="tooltip">Verwijderen</div>
            </div>
            <div class="buttoncont">
              <a href="#/pages/editor/name/move/" class="move"></a>
              <div class="tooltip">Verplaatsen</div>
            </div>
          </div>
        </li>

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
          </div>
          <div class="actions">
            <div class="buttoncont">
              <a href="#/pages/editor/name/delete/" class="delete"></a>
              <div class="tooltip">Verwijderen</div>
            </div>
            <div class="buttoncont">
              <a href="#/pages/editor/name/move/" class="move"></a>
              <div class="tooltip">Verplaatsen</div>
            </div>
          </div>
        </li>

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Geschiedenis</a>
          </div>
          <div class="actions">
            <div class="buttoncont">
              <a href="#/pages/editor/name/delete/" class="delete"></a>
              <div class="tooltip">Verwijderen</div>
            </div>
            <div class="buttoncont">
              <a href="#/pages/editor/name/move/" class="move"></a>
              <div class="tooltip">Verplaatsen</div>
            </div>
          </div>
        </li>

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Schoolklimaat</a>
          </div>
          <div class="actions">
            <div class="buttoncont">
              <a href="#/pages/editor/name/delete/" class="delete"></a>
              <div class="tooltip">Verwijderen</div>
            </div>
            <div class="buttoncont">
              <a href="#/pages/editor/name/move/" class="move"></a>
              <div class="tooltip">Verplaatsen</div>
            </div>
          </div>
        </li>

        <li>
          <div class="checkboxcont">
            <input type="checkbox" value="#openingschip">
          </div>
          <div class="pagename">
            <a href="/pages/editor/">Gebouw</a>
          </div>
          <div class="actions">
            <div class="buttoncont">
              <a href="#/pages/editor/name/delete/" class="delete"></a>
              <div class="tooltip">Verwijderen</div>
            </div>
            <div class="buttoncont">
              <a href="#/pages/editor/name/move/" class="move"></a>
              <div class="tooltip">Verplaatsen</div>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </section>

  <section class="card thirty">
    <h3>Categorie</h3>

    <ul>
      <li>Alles</li>
      <li>Onderwijs</li>
      <li class="selected">De School</li>
      <li>Activiteiten</li>
    </ul>

    <form method="POST" action="#/pages/">
      <h3>Zichtbaar voor:</h3>
      <p>
        <input type="checkbox" name="visibility" value="everyone">
        <label for="everyone">Iedereen</label>
      </p>

      <p>
        <input type="checkbox" name="visibility" value="studentsparents">
        <label for="studentsparents">Leerlingen en ouders</label>
      </p>

      <p>
        <input type="checkbox" name="visibility" value="teachers">
        <label for="teachers">Personeel</label>
      </p>
    </form>
  </section>
{% endblock %}
