{% extends "adminbase.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <h2>Dashboard</h2>

  <section class="card fifty">
    <h3>Laatst bewerkte pagina's</h3>
    <ol>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
    </ol>
  </section>

  <section class="card fifty">
    <h3>Laatst bewerkte nieuwsartikelen</h3>
    <ol>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
      <li>
        <a href="/pages/editor/">Wereldburgers en Wetenschappers</a>
      </li>
    </ol>
  </section>
{% endblock %}
