{% extends "base.html" %}

{% block head %}
  <script>
    function resizeMap() {
      if(window.innerWidth > 1439) {
        $('iframe#map').attr({ 'width': 1000, 'height': 350 });
      } else if(window.innerWidth > 999) {
        $('iframe#map').attr({ 'width': 900, 'height': 320 });
      } else {
        $('iframe#map').attr({ 'width': window.innerWidth, 'height': window.innerWidth / 2 });
      }
    }

    $(document).ready(function() {
      resizeMap();
      $(window).resize(resizeMap);
    });
  </script>
{% endblock %}

{% block bodyclass %}
  class="news" id="top"
{% endblock %}

{% block page %}
  <div id="content">
    <nav id="jumpto">
      <ul>
        <li id="title">
          Ga naar:
        </li>
        <li>
          <a href="#top">Boven</a>
        </li>
        <li>
          <a href="#adresgegevens">Adresgegevens</a>
        </li>
        <li>
          <a href="#contactpersonen">Contactpersonen</a>
        </li>
        <li>
          <a href="#aanmelden">Aanmelden</a>
        </li>
        <li>
          <a href="#vacatures">Vacatures</a>
        </li>
      </ul>
    </nav>

    <h2>Contact</h2>

    <section id="adresgegevens">
      <h3>Adresgegevens</h3>
      <p>
        Cygnus Gymnasium<br>
        Vrolikstraat 8<br>
        1091 TW<br>
        Amsterdam
      </p>
    </section>

    <section class="containsimg">
      <iframe id="map" width="500" height="300" frameBorder="0" src="http://a.tiles.mapbox.com/v3/fmjansen.map-2z11gq2c.html#17/52.35494620912215/4.912111759185791"></iframe>
    </section>

    <section id="contactpersonen">
      <h3>Contactpersonen</h3>
      <p>
        <strong>Joost Visser</strong><br>
        Rector<br>
        <a href="mailto:j.visser@cygnusgymnasium.nl">j.visser@cygnusgymnasium.nl</a>
      </p>
      <p>
        <strong>Thomas Peters</strong><br>
        Afdelingsleider jaar 1 & 2<br>
        <a href="mailto:th.peters@cygnusgymnasium.nl">th.peters@cygnusgymnasium.nl</a>
      </p>
      <p>
        <strong>Renée Kloos</strong><br>
        Afdelingsleider jaar 3 & 4<br>
        <a href="mailto:r.kloos@cygnusgymnasium.nl">r.kloos@cygnusgymnasium.nl</a>
      </p>
      <p>
        <strong>Philip Monas</strong><br>
        Afdelingsleider jaar 5 & 6<br>
        <a href="mailto:p.monas@cygnusgymnasium.nl">p.monas@cygnusgymnasium.nl</a>
      </p>
    </section>

    <section id="aanmelden">
      <h3>Aanmelden</h3>
      <p>
        Milo kurilian bobtail alley cat cool cat siamese sox. I smell a rat mew stretching laze in the sun oliver mewmew cat-eyes max catnipsum. Simba bambino mreoaw abyssinian kitty mmmeoww bombay what did you there?. Dreamy bed samantha scratching rrrow-mawww catatonic long thin tail longhair fluffy. Cat dreamy bed feed me fur catnipsum there's a kitten in the bread coco. Ragdoll there's a kitten on each shoulder meew lucky catnipsum american longhair. Smokey american longhair rolling bengal burmilla pouncing ginger string. Ack-ack misty catnipsum laze in the sun arabian. European shorthair cool cat kittens kittens everywhere scratching.
      </p>
    </section>

    <section id="vacatures">
      <h3>Vacatures</h3>
      <p>
        Er staat momenteel één vacature open:
      </p>
      <p>
        <strong>1<sup>e</sup> graads Wiskundeleraar</strong><br>
        Tail pussy cat, pussy cat sniffing kitty mittens purring softly raowwwww chase balls of string mrooww. Sleep on the sofa american longhair oscar hiss oscar alley cat. Hairball stuck in a tree smokey a cat has nine lives petite. Hiss kitty-litter sam mouse nose. Bowl meeowww jumping sunbathe daisy.
      </p>
    </section>

  </div>
{% endblock %}
