{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">

    <h2>Dashboard</h2>

    <nav id="subjectoverview">
      <ul>

        <li class="protected teachers">
          <h3>Lijsten</h3>
          <ul>
            <li>
              <a href="/over/onderwijs/waaromgymnasium">Lijst rugzakleerlingen</a>
            </li>
          </ul>
        </li>

        <li class="protected">
          <h3>Rooster</h3>
          <ul>
            <li>
              <a href="/over/onderwijs/waaromgymnasium">Waarom Gymnasium?</a>
            </li>
            <li>
              <a href="/over/onderwijs/waaromgymnasium">Wereldburgers & wetenschappers</a>
            </li>
            <li>
              <a href="/over/onderwijs/waaromgymnasium">Lesprogramma</a>
            </li>
            <li>
              <a href="/over/onderwijs/waaromgymnasium">Resultaten</a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>

  </div>
{% endblock %}
