{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    <h2>Foto's</h2>

    <article class="photoalbum">
      <div class="coverbg">
        <img src="http://placekitten.com/1100/300">
      </div>
      <a class="overlay" href="/fotos/2013/parijs/">
        <h3><time>2013</time>&emsp;Parijs</h3>
      </a>
    </article>

    <article class="photoalbum">
      <div class="coverbg">
        <img src="http://placekitten.com/1099/300">
      </div>
      <a class="overlay" href="/fotos/2013/jihlava/">
        <h3><time>2013</time>&emsp;Jihlava</h3>
      </a>
    </article>

    <nav id="pagination">
      <a href="#prev">&laquo; Vorige</a>
      <a class="current">1</a>
      <a href="#2">2</a>
      <a href="#3">3</a>
      <a href="#4">4</a>
      <a href="#5">5</a>
      <a class="dots">...</a>
      <a href="#16">16</a>
      <a href="#next">Volgende &raquo;</a>
    </nav>

  </div>
{% endblock %}
