{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/photos.css">
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    <h2>Foto's</h2>

    <article class="photoalbum">
      <div class="coverbg">
        <img src="/static/img/paralax2.jpg">
      </div>
      <a class="overlay" href="/fotos/2013/parijs/">
        <h3><time>2013</time>&emsp;China</h3>
      </a>
    </article>

    <article class="photoalbum">
      <div class="coverbg">
        <img src="/static/img/page2.jpg">
      </div>
      <a class="overlay" href="/fotos/2013/jihlava/">
        <h3><time>2013</time>&emsp;Jihlava</h3>
      </a>
    </article>
    
    <article class="photoalbum">
      <div class="coverbg">
        <img src="/static/img/paralax3.jpg">
      </div>
      <a class="overlay" href="/fotos/2013/jihlava/">
        <h3><time>2013</time>&emsp;Normale Schooldag</h3>
      </a>
    </article>
    
        <article class="photoalbum">
      <div class="coverbg">
        <img src="/static/img/newsfront.png">
      </div>
      <a class="overlay" href="/fotos/2013/jihlava/">
        <h3><time>2013</time>&emsp;Parijs</h3>
      </a>
    </article>
    
        <article class="photoalbum">
      <div class="coverbg">
        <img src="/static/img/page2.jpg">
      </div>
      <a class="overlay" href="/fotos/2013/jihlava/">
        <h3><time>2013</time>&emsp;London</h3>
      </a>
    </article>

    <nav id="pagination">
      <a href="#prev">&laquo; Vorige</a>
      <a class="current">1</a>
      <a href="#2">2</a>
      <a href="#3">3</a>
      <a href="#4">4</a>
      <a href="#5">5</a>
      <a class="dots">...</a>
      <a href="#16">16</a>
      <a href="#next">Volgende &raquo;</a>
      <a href="/fotos/archief/">Archief</a>
    </nav>

  </div>
{% endblock %}
