{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
  class="home"
{% endblock %}

{% block page %}
  <div id="cover">
    <div id="darken">
      <h1>C<span>ygnus gymnasium</span></h1>
      <a class="button">Zit je in groep acht?</a>
    </div>
  </div>
  <div id="content">
    <div id="rightcolumn">
      <nav>
        <ul id="quicknav">
          <li class="relevant education">
            <a href="/over/onderwijs">Onderwijs</a>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Waarom gymnasium?</a>
              </li>
              <li>
                <a href="/over/onderwijs/lesprogramma">Lesprogramma</a>
              </li>
              <li>
                <a href="/over/onderwijs/resultaten">Resultaten</a>
              </li>
            </ul>
          </li>
          <li class="relevant school">
            <a href="/over/deschool">De School</a>
            <ul>
              <li>
                <a href="/over/deschool/gebouw">Gebouw</a>
              </li>
              <li>
                <a href="/over/deschool/schoolklimaat">Schoolklimaat</a>
              </li>
            </ul>
          </li>
          <li class="relevant activities">
            <a href="/over/activiteiten">Acitiveiten</a>
          </li>
        </ul>
      </nav>
    </div>

    <div id="leftcolumn">
      <h2>Recent</h2>
    </div>
  </div>
{% endblock %}
