{% extends "base.html" %}

{% block head %}
  <script src="/static/js/index.js"></script>
{% endblock %}

{% block bodyclass %}
  class="home"
{% endblock %}

{% block page %}
  <div id="indexcover">
    <div id="darken">
      <h1>C<span>ygnus gymnasium</span></h1>
      <a href="/groep8/" class="button">Zit je in groep acht?</a>
    </div>
  </div>
  <div id="content">
    <nav>
      <ul id="quicknav">
        <li class="relevant education">
          <h3>Onderwijs</h3>
          <ul>
            <li>
              <a href="/over/onderwijs/waaromgymnasium">Waarom gymnasium?</a>
            </li>
            <li>
              <a href="/over/onderwijs/lesprogramma">Lesprogramma</a>
            </li>
            <li>
              <a href="/over/onderwijs/resultaten">Resultaten</a>
            </li>
          </ul>
        </li>
        <li class="relevant school">
          <h3>De School</h3>
          <ul>
            <li>
              <a href="/over/deschool/geschiedenis">Geschiedenis</a>
            </li>
            <li>
              <a href="/over/deschool/schoolklimaat">Schoolklimaat</a>
            </li>
            <li>
              <a href="/over/deschool/gebouw">Gebouw</a>
            </li>

          </ul>
        </li>
        <li class="relevant activities">
          <h3>Acitiveiten</h3>
          <ul>
            <li>
              <a href="/over/activiteiten/gebouw">Schoolreizen</a>
            </li>
            <li>
              <a href="/over/activiteiten/aristeia">Aristeia</a>
            </li>
          </ul>
        </li>
        <li class="relevant recent">
          <h3>Recent</h3>
          <ul>
            <li>
              <a href="/fotos/">Foto's</a>
            </li>
            <li>
              <a href="/nieuws/">Nieuws</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div id="recent">
      <h2>Recent</h2>

      <div id="largeactivity">
        <div class="coverbg">
          <img src="http://placekitten.com/500/400" alt="Jihlava">
        </div>
        <a class="overlay" href="/fotos/2013/jihlava">
          <h3>Jihlava</h3>
        </a>
      </div>

      <ul id="headlines">
        <li>
          <time class="date">27/9</time>&emsp;<a href="/nieuws/2013/09/openening-schip">Opening Schip</a>
        </li>
        <li>
          <time class="date">30/12</time>&emsp;<a href="/nieuws/2013/08/start-schooljaar">Over het oude gebouw Het Schip</a>
        </li>
        <li>
          <time class="date">10/8</time>&emsp;<a href="/nieuws/2013/08/start-schooljaar">Start schooljaar</a>
        </li>
        <li>
          <time class="date">12/6</time>&emsp;<a href="/nieuws/2013/08/start-schooljaar">Eind schooljaar</a>
        </li>
        <li>
          <time class="date">10/5</time>&emsp;<a href="/nieuws/2013/08/start-schooljaar">Geslaagd!</a>
        </li>
      </ul>

    </div>

    <div id="comingup">
      <h2>Binnenkort</h2>
      <ul>
        <li class="promotion">
          <time>
            <span class="day">31</span>
            1/2014
          </time>
          <p>Open dag</p>
        </li>
        <li class="promotion">
          <time>
            <span class="day">18</span>
            2/2014
          </time>
          <p>Open dag</p>
        </li>
        <li class="activities">
          <time>
            <span class="day">10</span>
            3/2014
          </time>
          <p>Aristeia</p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
