{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">

    <h2>Algemene Informatie</h2>

    <nav id="subjectoverview">
      <ul>

        <section>
          <li class="promotion">
            <h3>8ste Groepers</h3>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Voor 8ste Groepers</a>
              </li>
            </ul>
          </li>

          <li class="education">
            <h3>Onderwijs</h3>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Waarom Gymnasium?</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Waarom het Cygnus?</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Wereldburgers & wetenschappers</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Lesprogramma</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Resultaten</a>
              </li>
            </ul>
          </li>

          <li class="school">
            <h3>De School</h3>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Geschiedenis</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Gebouw</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Schoolklimaat</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">In de pers</a>
              </li>
            </ul>
          </li>

          <li class="activities">
            <h3>Activiteiten</h3>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Schoolreizen</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Aristeia</a>
              </li>
            </ul>
          </li>

        </section>

      </ul>
    </nav>

  </div>
{% endblock %}
