{% extends "base.html" %}

{% block head %}
  <script src="settings.js"></script>
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">
    <h2>Instellingen</h2>
    <form action="/settings/">
      <p>Je bent ingelogd als <strong>Jan Modaal</strong>.</p>
      <input type="password" name="firstpass" placeholder="Wachtwoord">
      <input type="password" name="secndpass" placeholder="Herhaal wachtwoord">
      <p id="samechecker"></p>
      <input type="submit" value="Verander wachtwoord" name="changepass" disabled>
    </form>
  </div>
{% endblock %}
