{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">

    <h2>Interne Informatie</h2>

    <nav id="subjectoverview">
      <ul>

        <section>

          <h3>Onderwijs</h3>

          <li class="education">
            <h4>Rooster</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Weekrooster</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Toetsweekrooster</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Jaarrooster</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Lestijden</a>
              </li>
            </ul>
          </li>

          <li class="education">
            <h4>Toetsen & cijfers</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">PTA</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Magister</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Protocol toetsen & cijfers; toetsweken & examens</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Protocol toetsweken</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Protocol examens</a>
              </li>
            </ul>
          </li>

          <li class="education">
            <h4>Decanaat</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Profielkeuze</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Studiekeuze</a>
              </li>
            </ul>
          </li>

           <li class="promotion">
            <h4>Verzuim</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Te laat</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Absentie</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Inhaalmiddagen</a>
              </li>
            </ul>
          </li>

        </section>

        <section>

          <h3>De School</h3>

          <li class="school">
            <h4>Communicatie</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Jaargids</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Brieven</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Cygnalement</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Cygyn</a>
              </li>
            </ul>
          </li>

          <li class="school">
            <h4>ICT</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Systeembeheer</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Protocol laptopgebruik</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Moodle</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Schoolmail</a>
              </li>
            </ul>
          </li>

          <li class="school">
            <h4>Medezeggenschapsorganen</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Leerlingenraad</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Ouderraad</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Medezeggenschaps raad</a>
              </li>
            </ul>
          </li>

          <li class="school">
            <h4>Gesprekken</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Ouderavonden</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Oudergesprekken</a>
              </li>
            </ul>
          </li>

        </section>


        <section>

          <h3>Activiteiten</h3>

          <li class="activities">
            <h4>Activiteiten</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Aristeia</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Sportdagen</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Klas 1 & 2</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Klas 3 & 4</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Klas 5 & 6</a>
              </li>
            </ul>
          </li>

          <li class="activities">
            <h4>Schoolfeesten</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">De Commissie</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Protocol schoolfeesten</a>
              </li>
            </ul>
          </li>

        </section>

        <section>

          <h3>Overig</h3>

          <li class="protected">
            <h4>Overig</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Mentoraat</a>
              </li>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Boekenfonds</a>
              </li>
            </ul>
          </li>
          
        </section>

        <section>

          <h3>Personeel</h3>

          <li class="protected teachers">
            <h4>Lijsten</h4>
            <ul>
              <li>
                <a href="/over/onderwijs/waaromgymnasium">Lijst rugzakleerlingen</a>
              </li>
            </ul>
          </li>

        </section>


      </ul>
    </nav>

  </div>
{% endblock %}
