{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    <h2>Nieuws</h2>

    <article class="newsmessage">
      <h3>Opening Schip</h3>
      <p class="meta">
        <time>27/09/2013</time> - Door: <strong>Jan Modaal</strong>
      </p>
      <section>
        <p>Catnipsum dolor sit amet meeow climbing fur purr purr purr. Tiger abyssinian where have u been catnip fur ball. Fish string chase catnipsum. Long thin tail i smell a rat bengal shorthair chartreux. What did you there? catnip curiosity killed the cat stuck in a tree. Burmilla felix catnip what did you there? smokey. Cat-eyes cat-eyes petite kurilian bobtail. Fluffy catnipsum ball biting dappled fur. Simba kittens hanging from the screens soft kitty javanese. Purr purr purr cat cat and mouse act clawing petite roll in the grass purrfection tigger sam. Squeaking mice chase alley cat soft kitty jump string. Oliver catnipsum tigger kurilian bobtail cat catnappers pouncing. Purring softly fluffy sleep on the sofa cat in a hat hellcat pussy.</p>
        <p>Boots cat-eyes catnipsum arabian felix arabian cheshire. Soft kitty chase kittens hanging from the screens lucky precious soft kitty fat cat. Mreoaw pussy cat, pussy cat long thin tail rawwww hair ball catnip. A cat may look at a king hiss i frightened a little mouse soft kitty pussy cat, pussy cat alley cat fluffy claws. Kittens tumbling down the stairs kittens climbing up my jeans javanese catnipsum. Kittens chewing on my hair purr petite rolly tonkinese european shorthair mewmew purring softly catnappers. Catnip pussy oreo cheshire catnip sleepy kitty scratching post. Sleep on your keyboard fish cat got your tounge licking cat amongst the pigeons catnip coco.</p>
        <p>Catnip angora ack-ack treats there's a kitten on each shoulder little ball of fur cat and mouse act shiny coat rolling. Little ball of fur where have u been kitty-litter kittens chewing on my hair catnip catnipsum charlie leap fluffy. Bambino shadow catnip treats. Kurilian bobtail licking purrfection oliver clawing raining cats and dogs purr purr purr cuddle me. Where have u been hellcat rolling cheshire. To look at the queen puss arabian there's a kitten on my head meeow will they do this when they're older squeaking mice. Catnip bambino exotic kitty burmilla a cat has nine lives rolly catnip. Sleepy kitty ragdoll kittens kittens everywhere purr scratching puss feathers. Cat got your tounge dreamy bed curly warm kitty purr purr purr.</p>
      </section>
    </article>

    <article class="newsmessage">
      <div class="newscover">
        <div class="coverbg">
          <img src="http://placekitten.com/1000/500" alt="Bescrhijving foto">
        </div>
      </div>
      <h3>Over het oude gebouw Het Schip</h3>
      <p class="meta">
        <time>30/12/2013</time> - Door: <strong>Dinges</strong>
      </p>
      <section>
        <p>Fur patch where have u been scratching post ragdoll puss petite curl up in a blanket squeaking mice. Claws catnip hisss leap miioo-oo-oo laze in the sun molly fur pussy cat, pussy cat. I don't believe we just have two exotic sniffing sunbathe. Mew a cat may look at a king misty calico felix rolly twitchy ears sleep on your keyboard fur ball. Mouse thai mrooww bambino catnipsum abyssinian nose fluffy hisss. Curl up in a blanket catnipsum rolling catnipsum catnip squeaking mice catnip charlie. Mrow toy meew calico. Claws milo catnipsum stuck in a tree paws. Alley cat tigger european shorthair stretching.</p>
        <p>Felix stretching mew angora gizmo tigger grooming purr purr purr cat. Burmilla cat got your tounge molly lucy. There's a kitten on each shoulder fur ball mrooww where have u been catnip happy kitty gizmo whiskers i smell a rat. Long thin tail shiny coat sox fur ball oliver catnipsum arabian whiskers sassy. Arabian catnipsum pet me chase balls of string. Catnip jumping look what the cat dragged in catwalk meeowww cheshire hair ball scratching angora. Mewmew purr purr purr american longhair chase kitty-litter. Catnipsum feathers smokey there's a kitten in my shoe cool cat stretching where have u been catnip purrfection. Catnipsum pussy cat, pussy cat pet me kurilian bobtail i've been to london persian catnap cat in a hat grooming.</p>
      </section>
    </article>

    <article class="newsmessage">
      <h3>Start schooljaar</h3>
      <p class="meta">
        <time>10/08/2013</time> - Door: <strong>Jan Modaal</strong>
      </p>
      <section>
        <p>Milo rawwww kitty burmese kitty miaowmiaow burmilla missy. Burmese chase bengal cheshire catatonic catwalk. Pussy arabian boots cat catnipsum catnipsum. Lucy catnipsum raining cats and dogs shiny coat stuck in a tree rolly what did you there? dappled fur. Miaowww where have u been meow scratching post. Mreoaw hairball squeaking mice meew. Mouse calico siberian i don't believe we just have two chase climbing i've been to london meaaaawww. Catnipsum patch feathers warm kitty feed me jumping catnipsum there's a kitten in my shoe. Catnip meeowww a cat has nine lives whiskers purr what did you there? sleepy kitty tail. Coco tiger rolly climb the curtain.</p>
      </section>
      <section class="containsimg">
        <img src="http://placekitten.com/400/250" alt="Naam foto">
      </section>
      <section>
        <p>Stretching warm kitty oscar kittens tumbling down the stairs hellcat cat got your tounge. American longhair catnipsum twitchy ears little ball of fur mewmew lucy calico siberian. Catnipsum twitchy ears sleepy kitty sunbathe jump warm kitty kittens climbing up my jeans. Catnap catnip jingle-bells cheshire chartreux i frightened a little mouse cat-eyes treats. Arabian sniffing lucy kittens kittens everywhere rawwww midnight. Sleep on your keyboard miioo-oo-oo ginger fur rowwrrr samantha molly. Siberian purr soft kitty collar scratching post fur ball soft fur siamese kittens hanging from the screens. Kittens fighting on the chairs to look at the queen tiger purr fish rawwww.</p>
        <p>Exotic i don't believe we just have two tonkinese tail daisy boots oscar whiskers chase balls of string. Bengal rawwww puss raining cats and dogs. Pussy cat, pussy cat shiny coat garfield sunbathe toy. Catnip rolling where have u been dreamy bed. Sassy felix bambino bombay cat amongst the pigeons ragdoll. Abyssinian copycat coco boots mmeww fish meeow mrowwwww feathers. Pussy cat, pussy cat laze in the sun catnip there's a kitten on each shoulder ginger scratching. Whiskers catnip european shorthair oliver catnip catnip. Sleepy kitty fat cat shiny coat climbing.</p>
      </section>
    </article>

  </div>
{% endblock %}
