{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
  class="news"
{% endblock %}

{% block page %}
  <div id="content" class="recent">
    <h2>Nieuws</h2>

    <article class="newsmessage">
      <h3><a href="/nieuws/2013/08/openening-schip/">Opening Schip</a></h3>
      <p class="meta">
        <time>27/09/2013</time> - Door: <strong>Jan Modaal</strong>
      </p>
      <section>
        <p>Catnipsum dolor sit amet meeow climbing fur purr purr purr. Tiger abyssinian where have u been catnip fur ball. Fish string chase catnipsum. Long thin tail i smell a rat bengal shorthair chartreux. What did you there? catnip curiosity killed the cat stuck in a tree. Burmilla felix catnip what did you there? smokey. Cat-eyes cat-eyes petite kurilian bobtail. &ensp;<a href="/nieuws/2013/08/over-het-oude-gebouw-het-schip/">Lees meer...</a></p></p>
      </section>
    </article>

    <article class="newsmessage">
      <h3><a href="/nieuws/2013/08/over-het-oude-gebouw-het-schip/">Over het oude gebouw Het Schip</a></h3>
      <p class="meta">
        <time>30/12/2013</time> - Door: <strong>Dinges</strong>
      </p>
      <section>
        <p>Fur patch where have u been scratching post ragdoll puss petite curl up in a blanket squeaking mice. Claws catnip hisss leap miioo-oo-oo laze in the sun molly fur pussy cat, pussy cat. I don't believe we just have two exotic sniffing sunbathe. Mew a cat may look at a king misty calico felix rolly twitchy ears sleep on your keyboard fur ball. &ensp;<a href="/nieuws/2013/08/over-het-oude-gebouw-het-schip/">Lees meer...</a></p>
      </section>
    </article>

    <article class="newsmessage">
      <h3><a href="/nieuws/2013/08/start-schooljaar/">Start schooljaar</a></h3>
      <p class="meta">
        <time>10/08/2013</time> - Door: <strong>Jan Modaal</strong>
      </p>
      <section>
        <p>Milo rawwww kitty burmese kitty miaowmiaow burmilla missy. Burmese chase bengal cheshire catatonic catwalk. Pussy arabian boots cat catnipsum catnipsum. Lucy catnipsum raining cats and dogs shiny coat stuck in a tree rolly what did you there? dappled fur. Miaowww where have u been meow scratching post. Mreoaw hairball squeaking mice meew. Mouse calico siberian. &ensp;<a href="/nieuws/2013/08/over-het-oude-gebouw-het-schip/">Lees meer...</a></p></p>
      </section>
    </article>

    <nav id="pagination">
      <a href="#prev">&laquo; Vorige</a>
      <a class="current">1</a>
      <a href="#2">2</a>
      <a href="#3">3</a>
      <a href="#4">4</a>
      <a href="#5">5</a>
      <a class="dots">...</a>
      <a href="#16">16</a>
      <a href="#next">Volgende &raquo;</a>
      <a href="/nieuws/archief/">&#x0231A;&ensp;Archief</a>
    </nav>

  </div>
{% endblock %}
