{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content" class="school">

    <nav id="jumpto">
      <ul>
        <li id="title">
          Ga naar:
        </li>
        <li>
          <a href="#top">Top</a>
        </li>
        <li>
          <a href="#vertrouwenspersoon">Vertrouwenspersoon</a>
        </li>
        <li>
          <a href="#begeleiding">Begeleiding</a>
        </li>
        <li>
          <a href="#mentoren">Mentoren</a>
        </li>
        <li>
          <a href="#leerlingmentoren">Leerlingmentoren</a>
        </li>
      </ul>
    </nav>

    <div id="pagecover">
      <div class="coverbg">
        <img src="http://placekitten.com/1100/500" alt="Bescrhijving foto">
      </div>
    </div>

    <h2>Schoolklimaat</h2>

    <section>
      <p>Aan het eind van elk schooljaar houden we enquêtes onder alle ouders en leerlingen. Door de jaren heen is het 'rapportcijfer' dat de ouders het Cygnus Gymnasium geven voor sfeer en veiligheid heel goed - en daar zijn we trots op.</p>
    </section>

    <section>
      <h3 id="vertrouwenspersoon">Vertrouwenspersoon</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac viverra neque. Nulla quis erat tincidunt ipsum porttitor posuere fermentum a elit. Curabitur sit amet molestie dolor, a elementum lacus. Ut aliquam nec neque vel mollis. Integer at tortor imperdiet, dapibus eros ac, dictum orci. Integer sit amet orci ac tortor auctor vestibulum. Donec quis neque accumsan, scelerisque erat a, viverra lorem. Vivamus eleifend iaculis vehicula. Integer pellentesque tincidunt nulla vitae sollicitudin. Aliquam erat volutpat.</p>
      <p>Vestibulum sodales molestie ligula a consectetur. Praesent eleifend, sem non auctor ultricies, massa sem dictum nibh, vitae tempor elit dui eu augue. Suspendisse imperdiet risus et libero molestie pellentesque. Aliquam gravida nibh nunc, at ultricies elit tincidunt at. Morbi non sem tempor, semper leo a, pulvinar lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan a sapien eget hendrerit. Duis urna erat, tincidunt at tincidunt in, faucibus et felis. In hac habitasse platea dictumst. Curabitur eleifend ante sit amet neque luctus, sit amet dictum nulla vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </section>

    <section>
      <h3 id="begeleiding">Begeleiding</h3>
      <p>Voor de begeleiding van onze leerlingen steunen wij vooral op de ervaring en de expertise die op het Pieter Nieuwland College is opgedaan. Daar is ook alle reden toe. Het uitgebreide systeem van leerlingbegeleiding op deze school heeft zijn waarde immers meer dan bewezen. Het is de kunst om niet alleen naar het functioneren van de groep als geheel te kijken, maar ook oog te hebben voor de individuele leerling. Als het niet lekker gaat wat betreft de resultaten of het functioneren in de groep verwachten ouders terecht dat de school snel en adequaat ingrijpt en vroegtijdig contact opneemt met thuis. Een minder goed rapport mag nooit als een verrassing komen. De mentor en de leerlingmentoren spelen in de begeleiding een belangrijke rol. De leerlingmentoren krijgen in de derde klas een opleiding en als deze leerlingen in leerjaar vier zitten worden ze aan een eerste klas toegevoegd.</p>
      <p>Als het nodig is kan de school terugvallen op een uitgebreid zorgsysteem waarin naast de mentoren en de afdelingsleider ook een zorgcoördinator, een remedial teacher (dyslexie), counselors, een schoolarts, een schoolpsycholoog en vertrouwenspersonen actief zijn.</p>
      <p>Voor leerlingen die zich de nieuwe manier van werken maar moeilijk eigen kunnen maken of die thuis niet de beschikking hebben over een eigen werkplek is er vier dagen in de week huiswerkbegeleiding. Mocht je extra hulp nodig hebben voor een specifiek vak dan wordt je door onze eigen bovenbouwleerlingen geholpen (leerlingtutoren). Zij kunnen het je soms beter uitleggen dan de docent omdat ze vaak hetzelfde probleem nog niet zo lang geleden ook hebben gehad.</p>
      <p>Pestgedrag wordt niet getolereerd. Samen met de leerlingen spreken we de regels af waar we ons allemaal aan moeten houden. Maar dan houden we je ook aan deze regels. Als er gepest wordt kan je erop vertrouwen dat er ook echt iets aan gedaan wordt. Iedereen hoort erbij, niemand valt uit de boot, iedereen moet de ruimte hebben zichzelf zijn. Met de vele groepsactiviteiten en samenwerkend leren hebben de leerlingen elkaar immers hard nodig.</p>
      <p>Bij lesuitval worden de lessen waargenomen door een andere docent. Als het eerste of het laatste uur uitvalt mag je lekker uitslapen of eerder naar huis, maar dat zal in de regel niet vaak voorkomen.</p>
    </section>

    <section>
      <img src="http://placekitten.com/300/200" alt="Beschrijving foto">
      <p class="caption">Beschrijving foto</p>
    </section>

    <section>
      <h3 id="mentoren">Mentoren</h3>
      <p>Vestibulum sodales molestie ligula a consectetur. Praesent eleifend, sem non auctor ultricies, massa sem dictum nibh, vitae tempor elit dui eu augue. Suspendisse imperdiet risus et libero molestie pellentesque. Aliquam gravida nibh nunc, at ultricies elit tincidunt at. Morbi non sem tempor, semper leo a, pulvinar lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan a sapien eget hendrerit. Duis urna erat, tincidunt at tincidunt in, faucibus et felis. In hac habitasse platea dictumst. Curabitur eleifend ante sit amet neque luctus, sit amet dictum nulla vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac viverra neque. Nulla quis erat tincidunt ipsum porttitor posuere fermentum a elit. Curabitur sit amet molestie dolor, a elementum lacus.</p>
    </section>

    <section>
      <img src="http://placekitten.com/1100/600" alt="Naam foto">
    </section>

    <section>
      <h3 id="leerlingmentoren">Leerlingmentoren</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac viverra neque. Nulla quis erat tincidunt ipsum porttitor posuere fermentum a elit. Curabitur sit amet molestie dolor, a elementum lacus. Ut aliquam nec neque vel mollis. Integer at tortor imperdiet, dapibus eros ac, dictum orci. Integer sit amet orci ac tortor auctor vestibulum. Donec quis neque accumsan, scelerisque erat a, viverra lorem. Vivamus eleifend iaculis vehicula. Integer pellentesque tincidunt nulla vitae sollicitudin. Aliquam erat volutpat.</p>
    </section>

    <nav id="readfurther">
      <h2>Relevante informatie</h2>
      <div class="relevant education">
        <a href="/onderwijs/lesprogramma">Lesprogramma</a>
      </div>
    </nav>

  </div>
{% endblock %}
