{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">
    <h2>Sitemap</h2>

    <ul class="sitemap">


      <li>
        <h3>
          <a href="/over/">Over</a>
        </h3>
        <ul>

          <li>
            <a href="/groep8/">8ste Groepers</a>
          </li>

          <li>
            Onderwijs
            <ul>

              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Waarom Gymnasium?</a>
              </li>

              <li>
                <a href="/over/onderwijs/waarom-het-cygnus/">Waarom het Cygnus?</a>
              </li>

              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Wereldburgers & wetenschappers</a>
              </li>

              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Lesprogramma</a>
                <ul>
                  <li>
                    <a href="/over/onderwijs/waarom-gymnasium/#vertrouwenspersoon">Keuzemodules</a>
                  </li>
                  <li>
                    <a href="/over/onderwijs/waarom-het-cygnus/#begeleiding">Leren Leren</a>
                  </li>
                  <li>
                    <a href="/over/onderwijs/waarom-gymnasium/#mentoren">Vakindeling</a>
                  </li>
                  <li>
                    <a href="/over/onderwijs/waarom-gymnasium/#leerlingmentoren">Roosters</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Resultaten</a>
              </li>

            </ul>
          </li>

          <li>
            De School
            <ul>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Geschiedenis</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-het-cygnus/">Gebouw</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Schoolklimaat</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">In de pers</a>
              </li>
            </ul>
          </li>

          <li>
            Activiteiten
            <ul>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Schoolreizen</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-het-cygnus/">Aristeia</a>
              </li>
            </ul>
          </li>

        </ul>
      </li>


      <li>
        <h3>
          <a href="/recent/">Recent</a>
        </h3>
        <ul>

          <li>
            <a href="/nieuws/">Nieuws</a>
            <ul>
              <li>
                <a href="/nieuws/archief/">Archief</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="/fotos/">Foto's</a>
            <ul>
              <li>
                <a href="/fotos/archief/">Archief</a>
              </li>
            </ul>
          </li>

        </ul>
      </li>


      <li>
        <h3>
          <a href="/contact/">Contact</a>
        </h3>
      </li>


    </ul>




    <ul class="sitemap protected">


      <li>
        <h3>
          <a href="/dashboard/">Dashboard</a>
        </h3>
        <ul>

          <li>
            <a href="/groep8/">8ste Groepers</a>
          </li>

          <li>
            Onderwijs
            <ul>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Waarom Gymnasium?</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-het-cygnus/">Waarom het Cygnus?</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Wereldburgers & wetenschappers</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Lesprogramma</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Resultaten</a>
              </li>
            </ul>
          </li>

          <li>
            De School
            <ul>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Geschiedenis</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-het-cygnus/">Gebouw</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Schoolklimaat</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">In de pers</a>
              </li>
            </ul>
          </li>

          <li>
            Activiteiten
            <ul>
              <li>
                <a href="/over/onderwijs/waarom-gymnasium/">Schoolreizen</a>
              </li>
              <li>
                <a href="/over/onderwijs/waarom-het-cygnus/">Aristeia</a>
              </li>
            </ul>
          </li>

        </ul>
      </li>


    </ul>

  </div>
{% endblock %}
