{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="item">
      <h2><a href="{{ message.get_absolute_url }}">{{ message.title }}</a></h2>
        <p class="date"><span class="bold">{% blocktrans %}Published on:{% endblocktrans %}</span>
            {{ message.publish|date:'d m Y' }}
            &emsp;&emsp;
            <span class="bold">{% blocktrans %}By:{% endblocktrans %}</span> {{ message.writer }}</p>
        <p>{{ message.content }}</p>
        <p class="clear"></p>
      </div>
{% endblock %}
