$maincolor: #013D7D;
$morecolor: #333333;
$recentcolor: #43B83D;
$educationcolor: #D11605;
$schoolcolor: #013D7D;
$activitiescolor: #14CA9D;
$interncolor: #6E0080;

@mixin prefixify($style, $content...) {
          #{$style}: $content;
       -o-#{$style}: $content;
      -ms-#{$style}: $content;
     -moz-#{$style}: $content;
  -webkit-#{$style}: $content;
}

@mixin transition($property, $duration, $function...) {
          transition: $property $duration $function;
       -o-transition: $property $duration $function;
      -ms-transition: $property $duration $function;
     -moz-transition: $property $duration $function;
  -webkit-transition: $property $duration $function;
}


div#massactions {
  overflow: hidden;
  padding: 1em 1em 0.5em 0;
  background: #f5f5f5;
  border-bottom: 1px solid #eee;

  p {
    float: left;
    padding: 0.6em 0.4em 0 1.25em;
    margin: 0;
    color: #555;
    font-weight: bold;
  }

  .button {
    float: left;
    padding-left: 2.5em;

    &.delete {
      background-position: -8px -59px !important;
    }

    &.move {
      background-position: -8px -9px !important;
    }
  }
}


section.thirty {
  h3 {
    float: left;
  }

  button {
    margin: 1.1em;
    float: right;
  }

  h4 {
    clear: both;
  }

  input:checked + label {
    font-weight: bold;
  }

  p {
    margin: 0.8em 20px;
  }

  label[for=education] {
    color: $educationcolor;
  }

  label[for=school] {
    color: $maincolor;
  }

  label[for=activities] {
    color: $activitiescolor;
  }

  label[for=intern] {
    color: $interncolor;
  }

  label[for=other] {
    color: $morecolor;
  }
}


ul.pages {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-top: 1px solid rgba(0,0,0,0.05);
    position: relative;
    overflow: hidden;

    &:nth-child(1) {
      border: none;
    }

    &.selected {
      background: transparentize($maincolor, 0.9);
    }

    div {
      float: left;
      border-left: 1px solid rgba(0,0,0,0.05);
      &:nth-child(1) {
        border: none;
      }

      &.checkboxcont {
        z-index: 2;
        position: relative;
        padding: 1em;
      }

      &.pagename {
        position: absolute;
        left: 2.95em;
        right: 0;
        z-index: 1;
        font-size: 1.1em;

        a {
          padding: 0.9em;
          display: block;
          color: #555;
          text-decoration: none;
          width: 100%;
          @include prefixify(box-sizing, border-box);

          &:hover {
            color: #111;
          }
        }
      }

      &.actions {
        float: right;
        z-index: 2;
        position: relative;
        min-width: 6em;

        .buttoncont {
          position: relative;
        }

        a {
          float: left;
          display: block;
          position: relative;
          @include prefixify(box-sizing, border-box);
          margin: 0.5em 0 0.45em 0.45em;
          width: 2.3em;
          height: 2.3em;
          border: 2px solid $maincolor;

          &:hover + .tooltip {
            display: block;
          }
        }

        .tooltip {
          position: absolute;
          color: white;
          background: transparentize(black, 0.3);
          padding: 0.5em 0.7em 0.55em;
          display: none;
          top: 0.5em;
          left: -6.7em;

          &:before {
            display: block;
            position: absolute;
            right: -1.4em;
            content: "";
            width: 0;
            height: 0;
            border-width: 0.7em;
            border-style: solid;
            border-color: transparent transparent transparent transparentize(black, 0.3);
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  section.seventy {
    float: left;
    margin: 0 -1% 1em 3%;
    width: 66%;
  }

  section.thirty {
    float: left;
    margin: 0 -1% 1em 3%;
    width: 26%;
  }
}
