div#massactions {
  overflow: hidden;
  padding: 1em 1em 0 0;
  background: #f5f5f5;
  border-bottom: 1px solid #eee; }
  div#massactions div#indicationarrow {
    float: left;
    font-size: 1.6em;
    padding: 0.4em 0.2em 0 0.6em;
    color: #555; }
  div#massactions .button {
    float: left; }

ul.pages {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.pages li {
    border-top: 1px solid #eee;
    position: relative;
    overflow: hidden; }
    ul.pages li:nth-child(1) {
      border: none; }
    ul.pages li div {
      float: left;
      border-left: 1px solid #eaeaea; }
      ul.pages li div:nth-child(1) {
        border: none; }
      ul.pages li div.checkboxcont {
        z-index: 2;
        position: relative;
        padding: 1em; }
      ul.pages li div.pagename {
        position: absolute;
        left: 3.25em;
        right: 0;
        z-index: 1; }
        ul.pages li div.pagename a {
          padding: 1em;
          display: block;
          width: 100%;
          box-sizing: border-box;
          -o-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box; }
      ul.pages li div.actions {
        float: right;
        z-index: 2;
        position: relative;
        padding-right: 0.65em;
        min-width: 7em; }
        ul.pages li div.actions a {
          float: left;
          display: block;
          position: relative;
          box-sizing: border-box;
          -o-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          margin: 0.5em 0 0.45em 0.45em;
          width: 2.3em;
          height: 2.3em;
          border: 2px solid #013d7d; }
          ul.pages li div.actions a:hover + .tooltip {
            display: block; }
        ul.pages li div.actions .tooltip {
          position: absolute;
          color: white;
          background: rgba(0, 0, 0, 0.7);
          padding: 0.5em 0.7em;
          display: none; }
          ul.pages li div.actions .tooltip:before {
            display: block;
            position: absolute;
            right: -1.35em;
            content: "";
            width: 0;
            height: 0;
            border-width: 0.7em;
            border-style: solid;
            border-color: transparent transparent transparent rgba(0, 0, 0, 0.7); }
