/*VARS*/
$bodyfont: 'Source Sans Pro', sans-serif;
$headfont: 'Source Sans Pro', sans-serif;
$buttonfont: 'Montserrat', sans-serif;
$navfont: 'Montserrat', sans-serif;

$pagewidth: 1000px;

$maincolor: #013D7D;
$educationcolor: #D11605;
$schoolcolor: #013D7D;
$activitiescolor: #14CA9D;
$logincolor: #6E0080;


/*MIXINS*/
@mixin border-radius($radius) {
          border-radius: $radius;
      -ms-border-radius: $radius;
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin prefixify($style, $content...) {
          #{$style}: $content;
       -o-#{$style}: $content;
      -ms-#{$style}: $content;
     -moz-#{$style}: $content;
  -webkit-#{$style}: $content;
}

@mixin transition($property, $duration: 300ms, $secproperty: "", $secduration: "") {
          transition: $property $duration ease-in-out;
       -o-transition: $property $duration ease-in-out;
      -ms-transition: $property $duration ease-in-out;
     -moz-transition: $property $duration ease-in-out;
  -webkit-transition: $property $duration ease-in-out;
}


/*HTML, BODY, :selection*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 3.8em 0 0;
  font-family: $bodyfont;
  background: #f5f5f5;
  overflow-x: hidden;
}

::selection {
  background: $maincolor;
  color: #fff;
}
::-moz-selection {
  background: $maincolor;
  color: #fff;
}


/*BASIC ELEMENTS*/
h1 {
  font-family: 'Aldus', serif;
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 2.0em;

  &>span {
    font-size: 1.2em;
  }
}

h2,
h3 {
  font-family: $headfont;
  margin: 1em 30px 0.5em;
}

h2 {
  margin: 1em 30px 0.7em;
  font-weight: 300;
  font-size: 2.1em;
}


a {
  color: $maincolor;
  text-decoration: none;

  &:visited {
    color: darken($maincolor, 10%);
  }

  &:hover {
    text-decoration: underline;
  }
}


.button {
  display: inline-block;
  border: solid 2px $maincolor;
  color: $maincolor;
  padding: 0.6em 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  @include border-radius(4px);

  &:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
    background: transparentize($maincolor, 0.1);
    text-shadow: 0 1px 1px transparentize(black, 0.8);
    @include prefixify(box-shadow, 0 2px 1px transparentize(black, 0.7));
  }

  &:active {
    padding: 0.7em 0.8em 0.5em;
    @include prefixify(box-shadow, inset 0 1px 1px transparentize(black, 0.8), 0 1px 1px transparentize(black, 0.7));
  }
}

input {
  display: inline-block;
  border: solid 2px $maincolor;
  color: #111;
  padding: 0.6em 0.8em;
  font-size: 1em;
  text-decoration: none;
  background: none;
  font-family: $navfont;

  @include border-radius(4px);

  &:hover {
    background: transparentize(white, 0.5);
    border-color: $maincolor;
  }

  &:focus {
    outline: none;
    background: white;
    border-color: $maincolor;
  }
}

.relevant {
  display: block;
  list-style: none;
  padding: 1em 1em 1em 2.8em;
  background-image: url(/static/sprite.png);
  background-size: 174px;
  background-position: -116px -61px;
  background-repeat: no-repeat;
  font-size: 1.2em;
  font-weight: bold;
  @include transition(background, 200ms);

  a:link, a:visited {
    color: white;
  }

  &.education {
    background-color: transparentize($educationcolor, 0.3);
    &:hover {
      background-color: $educationcolor;
    }
  }
  &.school {
    background-color: transparentize($schoolcolor, 0.2);
    &:hover {
      background-color: $schoolcolor;
    }
  }
  &.activities {
    background-color: transparentize($activitiescolor, 0.3);
    &:hover {
      background-color: $activitiescolor;
    }
  }
}


/*LOGIN-FORM*/
div#login, div#lost {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: $logincolor;
  text-align: center;
  display: table;
  overflow-y: auto;
  @include prefixify(transform, scale(0));
          transition:         transform 200ms ease-in-out;
       -o-transition:      -o-transform 200ms ease-in-out;
      -ms-transition:     -ms-transform 200ms ease-in-out;
     -moz-transition:    -moz-transform 200ms ease-in-out;
  -webkit-transition: -webkit-transform 200ms ease-in-out;

  &.dialog, &#lost {
    @include prefixify(transform, scale(1));
  }

  form {
    padding: 2em 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;

    .close {
      padding: 0.2em 0.6em;
      font-size: 3em;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      color: transparentize(white, 0.3);

      &:hover {
        color: white;
      }
    }

    h2 {
      color: white;
      font-weight: bold;
    }

    input {
      width: 10em;
      margin: 0.8em auto;
      display: block;
      border-color: transparentize(white, 0.3);
      color: white;

      &::-webkit-input-placeholder {
        color: transparentize(white, 0.3);
      }
      &::-moz-placeholder {
        color: transparentize(white, 0.3);
      }
      &:-ms-input-placeholder {
        color: transparentize(white, 0.3);
      }


      &:focus {
        color: $logincolor;

        &::-webkit-input-placeholder {
          color: transparentize(black, 0.6);
        }
        &::-moz-placeholder {
          color: transparentize(black, 0.6);
        }
        &:-ms-input-placeholder {
          color: transparentize(black, 0.6);
        }
      }

      &[type=submit] {
        width: 12em;
        margin-bottom: 1.5em;

        &:hover {
          background: $logincolor;
          color: white;
        }

        &:disabled {
          color: transparentize(white, 0.7);
          border-color: transparentize(white, 0.7);

          &:hover {
            background: none;
            text-shadow: none;
            cursor: not-allowed;
          }

          &:active {
            padding: 0.6em 0.8em;
            @include prefixify(box-shadow, none);
          }
        }
      }
    }

    a:link, a:visited {
      color: transparentize(white, 0.5);

      &:hover {
        color: white;
      }
    }
  }
}

.login #login {
  @include prefixify(transform, scale(1));

  .close {
    display: none;
  }
}


div#lost {
  form {
    input {
      width: 14em;
    }
    input[type=submit] {
      width: 16em;
    }
  }
}


/*HEADER, NAV*/
header {
  background: $maincolor;
  z-index: 3;
  width: 100%;
  font-size: 1.2em;
  height: 3.3em;
  font-family: $navfont;
  position: fixed;
  top: 0;
  text-transform: uppercase;

  h1 {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    margin: 0.55em 0 0;

    a:link, a:visited {
      color: white;
      text-decoration: none;

      &>span {
        font-size: 0.9em;
      }
    }
  }

  a#menuopener, a#searchopener {
    z-index: 4;
    background: $maincolor;
    @include transition(background-position, 200ms);

    &:link, &:hover, &:visited {
      padding: 1.02em;
      display: block;
      position: absolute;
      text-decoration: none;
    }
  }

  a#menuopener {
    border-right: 1px solid darken($maincolor, 5%);
    background-image: url(/static/sprite.png);
    background-size: 300%;
    background-position: 0 -180px;
  }

  a#searchopener {
    background-image: url(/static/sprite.png);
    background-size: 300%;
    background-position: -58px -180px;
    border-left: 1px solid darken($maincolor, 5%);
    right: 0;
    top: 0;
  }

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        &:hover {
          text-decoration: none;
        }
        &#currentpage {
          font-weight: bold;
        }
      }

      &#menutitle {
        border-bottom: 1px solid darken($maincolor, 5%);
        font-style: italic;
        font-family: $headfont;
        font-size: 1.5em;
        font-weight: 300;
        padding: 0.45em 0.4em;
        color: white;
      }
    }
  }

  form {
    h2#searchtitle {
      border-bottom: 1px solid darken($maincolor, 5%);
      font-style: italic;
      font-family: $headfont;
      font-size: 1.5em;
      font-weight: 300;
      padding: 0.5em 0.4em;
      color: white;
      position: absolute;
      top: -2.25em;
      background: $maincolor;
      z-index: 4;
      margin: 0;
      width: 100%;
      left: 0;
      display: none;
    }
  }
}


/*FOOTER*/
footer {
  background: #eee;
  color: #555;
  padding: 1px;

  p {
    text-align: center;
  }
}


/*MEDIA-QUERIES*/
@media screen and (max-width: 410px) {
  header {
    h1 {
      span#obsolete {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $pagewidth) {
  header {
    ul {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      z-index: 4;
      background: $maincolor;
      @include transition(left, 200ms);

      &.opened {
        left: 0;
      }

      li {
        overflow: hidden;

        a:link, a:visited, a#loginlink {
          color: white;
          padding: 0.8em 0.6em;
          display: block;
          border: 0;
          font-weight: 400;
          border-bottom: 1px solid darken($maincolor, 2%);
        }
      }
    }

    #menuopener.opened {
      right: 0;
      z-index: 5;
      background-position: 0 -120px;
      border-left: 1px solid darken($maincolor, 5%);
      border-right: 0;
    }


    form {
      position: absolute;
      top: 3.3em;
      right: -100%;
      width: 100%;
      z-index: 4;
      background: $maincolor;
      @include transition(right, 200ms);

      &.opened {
        right: 0;

        h2#searchtitle {
          display: block;
        }
      }
    }

    input[type=search] {
      border: 0;
      width: 100%;
      margin: 0;
      @include border-radius(0);

      &::-webkit-input-placeholder {
        color: transparentize(white, 0.3);
      }
      &::-moz-placeholder {
        color: transparentize(white, 0.3);
      }
      &:-ms-input-placeholder {
        color: transparentize(white, 0.3);
      }
    }

    #searchopener.opened {
      z-index: 5;
      background-position: 0 -120px;
      border-right: 1px solid darken($maincolor, 5%);
      border-left: 0;
    }

    div.button {
      display: none;
    }
  }


  .home header h1 {
    display: none;

    a {
      opacity: 0;
      @include transition(opacity, 200ms);
    }

    &.yepshow {
      display: block;

      a {
        opacity: 1;
      }
    }
  }

}

@media screen and (min-width: $pagewidth) {
  h1 {
    font-size: 3.4em;
  }

  .mobileonly {
    display: none;
  }

  header {
    width: $pagewidth;
    height: 4.1em;
    margin-left: -$pagewidth/2;
    background: transparentize(#fafafa, 0.1);
    font-size: 0.9em;
    left: 50%;
    height: 3.8em;
    @include prefixify(box-shadow, 0 0 5px transparentize(black, 0.9));

    h1 {
      width: 250px;
      margin: 0;
      padding: 0.6em 0;
      overflow: hidden;
      float: left;
      border-right: 1px solid transparentize(#eee, 0.8);

      a > span {
        font-size: 0.8em;
      }

      a:link, a:visited {
        padding: 0.6em 0.8em;
        color: $maincolor;
      }
    }

    #menuopener, #searchopener {
      display: none !important;
    }

    ul {
      float: left;
      li {
        float: left;

        a {
          display: block;
          padding: 1.3em;

          &:link, &:visited {
            color: #000;
            opacity: 0.5;
          }
          &:hover {
            color: #333;
            opacity: 1;
          }
        }

        &#menutitle {
          display: none;
        }
      }
    }

    div.button {
      margin: 0.6em;
      float: right;
      border-color: rgba(0,0,0,0);
      opacity: 0.5;
      color: #000;

      &:hover, &:active {
        border-color: $maincolor;
        opacity: 1;
      }
    }

    form {
      float: right;

      input[type=search] {
        padding-left: 2.4em;
        background-image: url(/static/sprite.png);
        background-size: 174px;
        background-repeat: no-repeat;
        background-position: -11px -13px;
        width: 0;
        padding-right: 0;
        margin: 0.6em 0;
        @include transition(width, 200ms);
        border-color: rgba(0,0,0,0);

        &:hover, &:focus {
          border-color: $maincolor;
          background-position: -69px -135px;
        }

        &.opened {
          width: 16em;
          padding-right: 0.8em;
        }
      }
    }
  }

  .home header {
    background: transparentize(#fafafa, 0.4);

    h1 {
      width: 0;
      white-space: nowrap;
      border-width: 0;
      @include transition(width, 200ms);

      &.yepshow {
        width: 250px;
        border-width: 1px;
      }
    }
  }

  footer {
    width: $pagewidth;
    margin: 2em auto;
    @include prefixify(box-shadow, 0 0 5px transparentize(black, 0.9));
  }
}
