/*VARS*/
/*MIXINS*/
/*HTML, BODY, :selection*/
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 3.8em 0 0;
  font-family: "Source Sans Pro", sans-serif;
  background: #f5f5f5;
  overflow-x: hidden; }

::selection {
  background: #013d7d;
  color: #fff; }

::-moz-selection {
  background: #013d7d;
  color: #fff; }

/*BASIC ELEMENTS*/
h1 {
  font-family: "Aldus", serif;
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 2.0em; }
  h1 > span {
    font-size: 1.2em; }

h2,
h3 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 1em 30px 0.5em; }

h2 {
  margin: 1em 30px 0.7em;
  font-weight: 300;
  font-size: 2.1em; }

a {
  color: #013d7d;
  text-decoration: none; }
  a:visited {
    color: #01244a; }
  a:hover {
    text-decoration: underline; }

.button {
  display: inline-block;
  border: solid 2px #013d7d;
  color: #013d7d;
  padding: 0.6em 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  .button:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
    background: rgba(1, 61, 125, 0.9);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3); }
  .button:active {
    padding: 0.7em 0.8em 0.5em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.3); }

input {
  display: inline-block;
  border: solid 2px #013d7d;
  color: #111;
  padding: 0.6em 0.8em;
  font-size: 1em;
  text-decoration: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  input:hover {
    background: rgba(255, 255, 255, 0.5);
    border-color: #013d7d; }
  input:focus {
    outline: none;
    background: white;
    border-color: #013d7d; }

.relevant {
  display: block;
  list-style: none;
  padding: 1em 1em 1em 2.8em;
  background-image: url(/static/sprite.png);
  background-size: 174px;
  background-position: -116px -61px;
  background-repeat: no-repeat;
  font-size: 1.2em;
  font-weight: bold;
  transition: background 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out;
  -webkit-transition: background 200ms ease-in-out; }
  .relevant a:link, .relevant a:visited {
    color: white; }
  .relevant.education {
    background-color: rgba(209, 22, 5, 0.7); }
    .relevant.education:hover {
      background-color: #d11605; }
  .relevant.school {
    background-color: rgba(1, 61, 125, 0.8); }
    .relevant.school:hover {
      background-color: #013d7d; }
  .relevant.activities {
    background-color: rgba(251, 169, 41, 0.7); }
    .relevant.activities:hover {
      background-color: #fba929; }

/*LOGIN-FORM*/
div#login, div#lost {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: #6e0080;
  text-align: center;
  display: table;
  overflow-y: auto;
  transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transition: transform 200ms ease-in-out;
  -o-transition: -o-transform 200ms ease-in-out;
  -ms-transition: -ms-transform 200ms ease-in-out;
  -moz-transition: -moz-transform 200ms ease-in-out;
  -webkit-transition: -webkit-transform 200ms ease-in-out; }
  div#login.dialog, div#login#lost, div#lost.dialog, div#lost#lost {
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1); }
  div#login form, div#lost form {
    padding: 2em 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell; }
    div#login form .close, div#lost form .close {
      padding: 0.2em 0.6em;
      font-size: 3em;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7); }
      div#login form .close:hover, div#lost form .close:hover {
        color: white; }
    div#login form h2, div#lost form h2 {
      color: white;
      font-weight: bold; }
    div#login form input, div#lost form input {
      width: 10em;
      margin: 0.8em auto;
      display: block;
      border-color: rgba(255, 255, 255, 0.7);
      color: white; }
      div#login form input::-webkit-input-placeholder, div#lost form input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      div#login form input::-moz-placeholder, div#lost form input::-moz-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      div#login form input:-ms-input-placeholder, div#lost form input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      div#login form input:focus, div#lost form input:focus {
        color: #6e0080; }
        div#login form input:focus::-webkit-input-placeholder, div#lost form input:focus::-webkit-input-placeholder {
          color: rgba(0, 0, 0, 0.4); }
        div#login form input:focus::-moz-placeholder, div#lost form input:focus::-moz-placeholder {
          color: rgba(0, 0, 0, 0.4); }
        div#login form input:focus:-ms-input-placeholder, div#lost form input:focus:-ms-input-placeholder {
          color: rgba(0, 0, 0, 0.4); }
      div#login form input[type=submit], div#lost form input[type=submit] {
        width: 12em;
        margin-bottom: 1.5em; }
        div#login form input[type=submit]:hover, div#lost form input[type=submit]:hover {
          background: #6e0080;
          color: white; }
        div#login form input[type=submit]:disabled, div#lost form input[type=submit]:disabled {
          color: rgba(255, 255, 255, 0.3);
          border-color: rgba(255, 255, 255, 0.3); }
          div#login form input[type=submit]:disabled:hover, div#lost form input[type=submit]:disabled:hover {
            background: none;
            text-shadow: none;
            cursor: not-allowed; }
          div#login form input[type=submit]:disabled:active, div#lost form input[type=submit]:disabled:active {
            padding: 0.6em 0.8em;
            box-shadow: none;
            -o-box-shadow: none;
            -ms-box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none; }
    div#login form a:link, div#login form a:visited, div#lost form a:link, div#lost form a:visited {
      color: rgba(255, 255, 255, 0.5); }
      div#login form a:link:hover, div#login form a:visited:hover, div#lost form a:link:hover, div#lost form a:visited:hover {
        color: white; }

.login #login {
  transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1); }
  .login #login .close {
    display: none; }

div#lost form input {
  width: 14em; }
div#lost form input[type=submit] {
  width: 16em; }

/*HEADER, NAV*/
header {
  background: #013d7d;
  z-index: 3;
  width: 100%;
  font-size: 1.2em;
  height: 3.3em;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  text-transform: uppercase; }
  header h1 {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    margin: 0.55em 0 0; }
    header h1 a:link, header h1 a:visited {
      color: white;
      text-decoration: none; }
      header h1 a:link > span, header h1 a:visited > span {
        font-size: 0.9em; }
  header a#menuopener, header a#searchopener {
    z-index: 4;
    background: #013d7d;
    transition: background-position 200ms ease-in-out;
    -o-transition: background-position 200ms ease-in-out;
    -ms-transition: background-position 200ms ease-in-out;
    -moz-transition: background-position 200ms ease-in-out;
    -webkit-transition: background-position 200ms ease-in-out; }
    header a#menuopener:link, header a#menuopener:hover, header a#menuopener:visited, header a#searchopener:link, header a#searchopener:hover, header a#searchopener:visited {
      padding: 1.02em;
      display: block;
      position: absolute;
      text-decoration: none; }
  header a#menuopener {
    border-right: 1px solid #013164;
    background-image: url(/static/sprite.png);
    background-size: 300%;
    background-position: 0 -180px; }
  header a#searchopener {
    background-image: url(/static/sprite.png);
    background-size: 300%;
    background-position: -58px -180px;
    border-left: 1px solid #013164;
    right: 0;
    top: 0; }
  header ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0; }
    header ul li a:hover {
      text-decoration: none; }
    header ul li a#currentpage {
      font-weight: bold; }
    header ul li#menutitle {
      border-bottom: 1px solid #013164;
      font-style: italic;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.5em;
      font-weight: 300;
      padding: 0.45em 0.4em;
      color: white; }
  header form h2#searchtitle {
    border-bottom: 1px solid #013164;
    font-style: italic;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0.5em 0.4em;
    color: white;
    position: absolute;
    top: -2.25em;
    background: #013d7d;
    z-index: 4;
    margin: 0;
    width: 100%;
    left: 0;
    display: none; }

/*FOOTER*/
footer {
  background: #eee;
  color: #555;
  padding: 1px; }
  footer p {
    text-align: center; }

/*MEDIA-QUERIES*/
@media screen and (max-width: 410px) {
  header h1 span#obsolete {
    display: none; } }
@media screen and (max-width: 1000px) {
  header ul {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 4;
    background: #013d7d;
    transition: left 200ms ease-in-out;
    -o-transition: left 200ms ease-in-out;
    -ms-transition: left 200ms ease-in-out;
    -moz-transition: left 200ms ease-in-out;
    -webkit-transition: left 200ms ease-in-out; }
    header ul.opened {
      left: 0; }
    header ul li {
      overflow: hidden; }
      header ul li a:link, header ul li a:visited, header ul li a#loginlink {
        color: white;
        padding: 0.8em 0.6em;
        display: block;
        border: 0;
        font-weight: 400;
        border-bottom: 1px solid #013873; }
  header #menuopener.opened {
    right: 0;
    z-index: 5;
    background-position: 0 -120px;
    border-left: 1px solid #013164;
    border-right: 0; }
  header form {
    position: absolute;
    top: 3.3em;
    right: -100%;
    width: 100%;
    z-index: 4;
    background: #013d7d;
    transition: right 200ms ease-in-out;
    -o-transition: right 200ms ease-in-out;
    -ms-transition: right 200ms ease-in-out;
    -moz-transition: right 200ms ease-in-out;
    -webkit-transition: right 200ms ease-in-out; }
    header form.opened {
      right: 0; }
      header form.opened h2#searchtitle {
        display: block; }
  header input[type=search] {
    border: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
    header input[type=search]::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    header input[type=search]::-moz-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    header input[type=search]:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
  header #searchopener.opened {
    z-index: 5;
    background-position: 0 -120px;
    border-right: 1px solid #013164;
    border-left: 0; }
  header div.button {
    display: none; }

  .home header h1 {
    display: none; }
    .home header h1 a {
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      -o-transition: opacity 200ms ease-in-out;
      -ms-transition: opacity 200ms ease-in-out;
      -moz-transition: opacity 200ms ease-in-out;
      -webkit-transition: opacity 200ms ease-in-out; }
    .home header h1.yepshow {
      display: block; }
      .home header h1.yepshow a {
        opacity: 1; } }
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3.4em; }

  .mobileonly {
    display: none; }

  header {
    width: 1000px;
    height: 4.1em;
    margin-left: -500px;
    background: rgba(250, 250, 250, 0.9);
    font-size: 0.9em;
    left: 50%;
    height: 3.8em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    header h1 {
      width: 250px;
      margin: 0;
      padding: 0.6em 0;
      overflow: hidden;
      float: left;
      border-right: 1px solid rgba(238, 238, 238, 0.2); }
      header h1 a > span {
        font-size: 0.8em; }
      header h1 a:link, header h1 a:visited {
        padding: 0.6em 0.8em;
        color: #013d7d; }
    header #menuopener, header #searchopener {
      display: none !important; }
    header ul {
      float: left; }
      header ul li {
        float: left; }
        header ul li a {
          display: block;
          padding: 1.3em; }
          header ul li a:link, header ul li a:visited {
            color: #000;
            opacity: 0.5; }
          header ul li a:hover {
            color: #333;
            opacity: 1; }
        header ul li#menutitle {
          display: none; }
    header div.button {
      margin: 0.6em;
      float: right;
      border-color: rgba(0, 0, 0, 0);
      opacity: 0.5;
      color: #000; }
      header div.button:hover, header div.button:active {
        border-color: #013d7d;
        opacity: 1; }
    header form {
      float: right; }
      header form input[type=search] {
        padding-left: 2.4em;
        background-image: url(/static/sprite.png);
        background-size: 174px;
        background-repeat: no-repeat;
        background-position: -11px -13px;
        width: 0;
        padding-right: 0;
        margin: 0.6em 0;
        transition: width 200ms ease-in-out;
        -o-transition: width 200ms ease-in-out;
        -ms-transition: width 200ms ease-in-out;
        -moz-transition: width 200ms ease-in-out;
        -webkit-transition: width 200ms ease-in-out;
        border-color: rgba(0, 0, 0, 0); }
        header form input[type=search]:hover, header form input[type=search]:focus {
          border-color: #013d7d;
          background-position: -69px -135px; }
        header form input[type=search].opened {
          width: 16em;
          padding-right: 0.8em; }

  .home header {
    background: rgba(250, 250, 250, 0.6); }
    .home header h1 {
      width: 0;
      white-space: nowrap;
      border-width: 0;
      transition: width 200ms ease-in-out;
      -o-transition: width 200ms ease-in-out;
      -ms-transition: width 200ms ease-in-out;
      -moz-transition: width 200ms ease-in-out;
      -webkit-transition: width 200ms ease-in-out; }
      .home header h1.yepshow {
        width: 250px;
        border-width: 1px; }

  footer {
    width: 1000px;
    margin: 2em auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); } }
