/*MAIN CONTENT*/
div#content {
  margin: 0 auto;
  background: #fafafa;
  padding-bottom: 1px;
  border-top: solid 8px #013d7d; }
  div#content nav#jumpto ul {
    background: rgba(1, 61, 125, 0.7); }
  div#content.education {
    border-color: rgba(209, 22, 5, 0.7); }
    div#content.education nav#jumpto ul {
      background: rgba(209, 22, 5, 0.7); }
  div#content.school {
    border-color: rgba(1, 61, 125, 0.8); }
    div#content.school nav#jumpto ul {
      background: rgba(1, 61, 125, 0.7); }
  div#content.activities {
    border-color: rgba(20, 202, 157, 0.7); }
    div#content.activities nav#jumpto ul {
      background: rgba(20, 202, 157, 0.7); }
  div#content.recent {
    border-color: rgba(67, 184, 61, 0.7); }
    div#content.recent nav#jumpto ul {
      background: rgba(67, 184, 61, 0.7); }
  div#content.intern {
    border-color: rgba(110, 0, 128, 0.7); }
    div#content.intern nav#jumpto ul {
      background: rgba(110, 0, 128, 0.7); }
  div#content p {
    margin: 0.5em 30px 1.5em;
    text-align: justify;
    line-height: 1.6em; }
  div#content img {
    max-width: 100%;
    margin: auto;
    display: block; }
  div#content section.containsimg {
    padding-bottom: 1em;
    border: none; }
    div#content section.containsimg + section {
      border: none; }
  div#content p.caption {
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em; }

/*INPAGE NAV*/
nav#jumpto {
  display: none; }

/*PAGECOVER*/
div#pagecover {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden; }

/*NEWS/PHOTOS*/
form#archivepicker {
  margin: 0.5em 30px; }
  form#archivepicker .button {
    padding: 0.65em 0.9em; }

nav#pagination {
  padding: 1em;
  text-align: center; }
  nav#pagination a {
    color: white;
    display: inline-block;
    padding: 0.7em 0.9em;
    margin: 0.1em;
    background: rgba(67, 184, 61, 0.7); }
    nav#pagination a:hover {
      text-decoration: none;
      background: #43b83d; }
    nav#pagination a.current, nav#pagination a.dots {
      background: rgba(67, 184, 61, 0.7); }
    nav#pagination a.current, nav#pagination a.current:hover {
      text-decoration: underline; }

/*RELEVANT*/
nav#readfurther {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee;
  margin-bottom: -1px; }
  nav#readfurther h2 {
    font-size: 1.5em;
    font-style: italic;
    margin: 0.7em 1em; }

/*SUBJECT-OVERVIEW*/
nav#subjectoverview {
  font-size: 1.1em; }
  nav#subjectoverview h2 {
    font-size: 2.05em;
    margin-left: 30px; }
  nav#subjectoverview > ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    nav#subjectoverview > ul section {
      overflow: hidden;
      padding-bottom: 1em; }
      nav#subjectoverview > ul section > h3 {
        margin: 0;
        word-wrap: break-word;
        font-weight: 300;
        padding: 1.2em 30px; }
      nav#subjectoverview > ul section:nth-of-type(1) > h3 {
        margin-top: 0; }
      nav#subjectoverview > ul section.promotion {
        border-top: 6px solid rgba(251, 169, 41, 0.7); }
        nav#subjectoverview > ul section.promotion a:link, nav#subjectoverview > ul section.promotion a:visited {
          color: #fba929; }
      nav#subjectoverview > ul section.education {
        border-top: 6px solid rgba(209, 22, 5, 0.7); }
        nav#subjectoverview > ul section.education a:link, nav#subjectoverview > ul section.education a:visited {
          color: #d11605; }
      nav#subjectoverview > ul section.school {
        border-top: 6px solid rgba(1, 61, 125, 0.7); }
        nav#subjectoverview > ul section.school a:link, nav#subjectoverview > ul section.school a:visited {
          color: #013d7d; }
      nav#subjectoverview > ul section.activities {
        border-top: 6px solid rgba(20, 202, 157, 0.7); }
        nav#subjectoverview > ul section.activities a:link, nav#subjectoverview > ul section.activities a:visited {
          color: #14ca9d; }
      nav#subjectoverview > ul section.intern {
        border-top: 6px solid rgba(110, 0, 128, 0.7); }
        nav#subjectoverview > ul section.intern a:link, nav#subjectoverview > ul section.intern a:visited {
          color: #6e0080; }
      nav#subjectoverview > ul section.more {
        border-top: 6px solid rgba(51, 51, 51, 0.7); }
        nav#subjectoverview > ul section.more a:link, nav#subjectoverview > ul section.more a:visited {
          color: #333333; }
    nav#subjectoverview > ul section > li {
      display: block;
      padding: 1em 30px; }
      nav#subjectoverview > ul section > li h4, nav#subjectoverview > ul section > li h3 {
        margin: 0.5em 0;
        word-wrap: break-word; }
      nav#subjectoverview > ul section > li ul {
        padding: 0 0 0 1.6em;
        list-style: disc; }

.info section {
  padding-bottom: 0 !important; }
.info li {
  color: white; }
.info a:link, .info a:visited {
  color: white; }
.info .promotion {
  background-color: rgba(251, 169, 41, 0.7); }
.info .education {
  background-color: rgba(209, 22, 5, 0.7); }
.info .school {
  background-color: rgba(1, 61, 125, 0.8); }
.info .activities {
  background-color: rgba(20, 202, 157, 0.7); }

/*LOGIN-PAGE*/
a#backtoindex {
  display: block;
  top: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 7;
  color: rgba(255, 255, 255, 0.7);
  padding: 1em 0;
  font-weight: bold; }

/*SETTINGS-PAGE*/
form#settings {
  padding: 0 30px; }
  form#settings input {
    display: block;
    margin: 1em 0;
    border-color: rgba(110, 0, 128, 0.5);
    width: 18em;
    max-width: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    form#settings input:hover {
      border-color: rgba(110, 0, 128, 0.7); }
    form#settings input:focus {
      border-color: #6e0080; }
    form#settings input[name=secndpass] {
      float: left;
      margin-top: 0; }
    form#settings input[type=submit] {
      color: white;
      background: rgba(110, 0, 128, 0.7);
      margin-bottom: 2em;
      clear: both; }
      form#settings input[type=submit]:hover, form#settings input[type=submit]:focus {
        background: rgba(110, 0, 128, 0.6); }
      form#settings input[type=submit][disabled] {
        background: rgba(110, 0, 128, 0.3);
        border-color: transparent; }
        form#settings input[type=submit][disabled]:hover {
          box-shadow: none;
          -o-box-shadow: none;
          -ms-box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          text-shadow: none;
          cursor: default; }
        form#settings input[type=submit][disabled]:active {
          box-shadow: none;
          -o-box-shadow: none;
          -ms-box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          padding: 0.6em 0.8em; }
  form#settings p#samechecker {
    overflow: hidden;
    float: left;
    padding: 0.6em 0;
    height: auto;
    opacity: 1;
    margin: 0 1em;
    text-align: center;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; }
    form#settings p#samechecker:empty {
      padding: 0;
      height: 0;
      opacity: 0.2; }
    form#settings p#samechecker.okay {
      color: #aaa; }

/*SITEMAP*/
ul.sitemap {
  margin: 0 30px 1em;
  font-style: italic; }
  ul.sitemap.protected {
    padding: 0 0 1.5em 3em;
    border-left: 8px solid rgba(110, 0, 128, 0.6); }
  ul.sitemap li {
    padding: 0.2em 0; }
  ul.sitemap h3 {
    margin: 1em 0 0; }
  ul.sitemap a {
    font-style: normal; }

@media (min-width: 1000px) {
  div#content {
    width: 900px;
    margin: 1.5em auto;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    div#content p {
      margin: 0.5em 50px 1.5em; }

  /*INPAGE NAV*/
  nav#jumpto {
    display: block;
    position: fixed;
    margin-left: -105px;
    bottom: 2em;
    font-size: 0.8em;
    z-index: 2; }
    nav#jumpto ul {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      nav#jumpto ul li#title {
        padding: 0.7em 0.9em;
        font-style: italic;
        color: #eee; }
      nav#jumpto ul li a:link, nav#jumpto ul li a:visited {
        max-width: 114px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.7em 0.9em;
        display: block;
        color: white; }
        nav#jumpto ul li a:link.youarehere, nav#jumpto ul li a:visited.youarehere {
          background: rgba(255, 255, 255, 0.3); }

  /*NEWS/PHOTOS*/
  form#archivepicker {
    margin: 0.5em 50px; }

  /*SUBJECT-OVERVIEW*/
  nav#subjectoverview > ul {
    height: 100%;
    overflow: hidden; }
    nav#subjectoverview > ul section > li, nav#subjectoverview > ul section > h3 {
      width: 25%;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      float: left; }
    nav#subjectoverview > ul section.hasHeader > li:nth-of-type(3n + 4) {
      margin-left: 25%; }

  div#recentlinks a {
    width: 44%;
    padding: 3%;
    float: left; }

  form#settings {
    padding: 0 50px; }

  ul.sitemap {
    margin: 0 50px 2em;
    padding: 0 0 0 1.2em; } }
@media (max-width: 1120px) {
  /*INPAGE NAV*/
  nav#jumpto {
    margin-left: -40px; }
    nav#jumpto a:link, nav#jumpto a:visited {
      max-width: 50px !important;
      transition: max-width 200ms ease-in-out;
      -o-transition: max-width 200ms ease-in-out;
      -ms-transition: max-width 200ms ease-in-out;
      -moz-transition: max-width 200ms ease-in-out;
      -webkit-transition: max-width 200ms ease-in-out; }
    nav#jumpto:hover a:link, nav#jumpto:hover a:visited {
      max-width: 114px !important; } }
@media (min-width: 1440px) {
  div#content {
    width: 1000px; } }
