/*INDEX: COVER*/
div#cover {
  text-align: center;
  width: 100%;
  background: url(/static/coversmall.png) center;
  background-size: cover; }
  div#cover #darken {
    padding: 2em 2em 2em;
    background: rgba(0, 0, 0, 0.2); }
  div#cover h1 {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  div#cover .button {
    background: #fba929;
    color: white;
    border-color: #fb9f10; }

/*MAIN CONTENT*/
div#content {
  margin: 0 auto;
  background: #fafafa;
  border-bottom: solid 8px #013d7d;
  border-top: solid 8px #013d7d; }
  div#content.education {
    border-color: rgba(209, 22, 5, 0.7); }
    div#content.education nav ul {
      background: rgba(209, 22, 5, 0.7); }
  div#content.school {
    border-color: rgba(1, 61, 125, 0.8); }
    div#content.school nav ul {
      background: rgba(1, 61, 125, 0.7); }
  div#content.activities {
    border-color: rgba(20, 202, 157, 0.7); }
    div#content.activities nav ul {
      background: rgba(20, 202, 157, 0.7); }
  div#content p {
    margin: 0.5em 30px 1.5em;
    text-align: justify;
    line-height: 1.6em; }

.home div#content {
  overflow: hidden; }

/*INPAGE NAV*/
nav#jumpto {
  display: none; }

/*RELEVANT*/
nav#readfurther {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee; }
  nav#readfurther h2 {
    font-size: 1.5em;
    font-style: italic;
    margin: 0.7em 1em; }

/*INDEX: RELEVANT*/
ul#quicknav {
  padding: 0;
  margin: 0; }
  ul#quicknav h3 {
    margin: 0;
    color: white; }
  ul#quicknav ul {
    padding: 0 0 0 1.1em;
    color: white;
    font-weight: normal;
    font-size: 0.9em;
    margin: 0.4em 0 0; }

/*INDEX: RECENT*/
.home h2 {
  margin: 0.5em 20px; }

div#largeactivity, div#smallactivity {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative; }
  div#largeactivity .bg, div#smallactivity .bg {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 1; }
    div#largeactivity .bg img, div#smallactivity .bg img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%; }
  div#largeactivity a.overlay, div#smallactivity a.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #43b83d;
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: 0; }
    div#largeactivity a.overlay h3, div#smallactivity a.overlay h3 {
      color: white;
      vertical-align: middle;
      display: table-cell;
      font-size: 2em; }
    div#largeactivity a.overlay:hover, div#smallactivity a.overlay:hover {
      text-decoration: none;
      opacity: 1; }

ul#threeheadlines {
  padding: 0;
  margin: 0.5em 0; }
  ul#threeheadlines li {
    list-style: none;
    display: block;
    font-size: 1.1em;
    padding: 0.5em 1em; }
    ul#threeheadlines li time {
      font-style: italic;
      color: #555; }

/*SUBJECT-OVERVIEW*/
nav#subjectoverview {
  font-size: 1.1em; }
  nav#subjectoverview > ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    nav#subjectoverview > ul > li {
      display: block;
      padding: 1em 30px;
      color: white; }
      nav#subjectoverview > ul > li h3 {
        margin: 0.5em 0; }
      nav#subjectoverview > ul > li ul {
        padding: 0 0 0 1.6em;
        list-style: disc; }
      nav#subjectoverview > ul > li a:link, nav#subjectoverview > ul > li a:visited {
        color: white; }
      nav#subjectoverview > ul > li.promotion {
        background-color: rgba(251, 169, 41, 0.7); }
        nav#subjectoverview > ul > li.promotion:hover {
          background-color: #fba929; }
      nav#subjectoverview > ul > li.education {
        background-color: rgba(209, 22, 5, 0.7); }
        nav#subjectoverview > ul > li.education:hover {
          background-color: #d11605; }
      nav#subjectoverview > ul > li.school {
        background-color: rgba(1, 61, 125, 0.8); }
        nav#subjectoverview > ul > li.school:hover {
          background-color: #013d7d; }
      nav#subjectoverview > ul > li.activities {
        background-color: rgba(20, 202, 157, 0.7); }
        nav#subjectoverview > ul > li.activities:hover {
          background-color: #14ca9d; }

/*LOGIN-PAGE*/
a#backtoindex {
  display: block;
  top: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 7;
  color: rgba(255, 255, 255, 0.7);
  padding: 1em 0;
  font-weight: bold; }

@media screen and (min-width: 1000px) {
  div#cover {
    background-image: url(/static/cover.png);
    margin-top: -3.8em;
    margin-bottom: -11em; }
    div#cover #darken {
      padding: 8em 2em 17em; }

  div#content {
    width: 1000px;
    margin: 2em auto;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    div#content p {
      margin: 0.5em 50px 1.5em; }

  /*INPAGE NAV*/
  nav#jumpto {
    display: block;
    position: fixed;
    margin-left: -105px;
    margin-top: 2em;
    font-size: 0.8em; }
    nav#jumpto ul {
      z-index: 1;
      list-style: none;
      padding: 0;
      margin: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      nav#jumpto ul li#title {
        padding: 0.7em 0.9em;
        font-style: italic;
        color: #eee; }
      nav#jumpto ul li a:link, nav#jumpto ul li a:visited {
        max-width: 114px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.7em 0.9em;
        display: block;
        color: white; }

  /*SUBJECT-OVERVIEW*/
  nav#subjectoverview > ul {
    height: 100%;
    overflow: hidden; }
    nav#subjectoverview > ul > li {
      width: 190px;
      float: left;
      height: 200px; }

  /*INDEX*/
  div#leftcolumn {
    width: 700px;
    float: left; }

  div#rightcolumn {
    width: 300px;
    float: right; }

  div#largeactivity {
    width: 400px;
    height: 300px;
    float: left; }
    div#largeactivity a {
      transition: opacity 200ms ease-in-out;
      -o-transition: opacity 200ms ease-in-out;
      -ms-transition: opacity 200ms ease-in-out;
      -moz-transition: opacity 200ms ease-in-out;
      -webkit-transition: opacity 200ms ease-in-out; }

  div#smallactivity {
    width: 300px;
    height: 175px;
    float: left; }
    div#smallactivity a {
      transition: opacity 200ms ease-in-out;
      -o-transition: opacity 200ms ease-in-out;
      -ms-transition: opacity 200ms ease-in-out;
      -moz-transition: opacity 200ms ease-in-out;
      -webkit-transition: opacity 200ms ease-in-out; }

  ul#threeheadlines {
    width: 300px;
    float: left;
    margin: 0; }
    ul#threeheadlines li a {
      max-width: 210px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block; } }
