/*INDEX: COVER*/
div#indexcover {
  text-align: center;
  width: 100%;
  background: url(/static/img/coversmall.png) center;
  background-size: cover; }
  div#indexcover #darken {
    padding: 2em 2em 2em;
    background: rgba(0, 0, 0, 0.2); }
  div#indexcover h1 {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  div#indexcover .button {
    background: #fba929;
    color: white;
    border-color: #fb9f10; }

/*MAIN CONTENT*/
div#content {
  margin: 0 auto;
  background: #fafafa;
  padding-bottom: 1px;
  border-top: solid 8px #013d7d; }
  div#content.education {
    border-color: rgba(209, 22, 5, 0.7); }
    div#content.education nav ul {
      background: rgba(209, 22, 5, 0.7); }
  div#content.school {
    border-color: rgba(1, 61, 125, 0.8); }
    div#content.school nav ul {
      background: rgba(1, 61, 125, 0.7); }
  div#content.activities {
    border-color: rgba(20, 202, 157, 0.7); }
    div#content.activities nav ul {
      background: rgba(20, 202, 157, 0.7); }
  div#content.recent {
    border-color: rgba(67, 184, 61, 0.7); }
  div#content.protected {
    border-color: rgba(110, 0, 128, 0.7); }
  div#content.protected.teachers {
    border-color: #6e0080; }
  div#content p {
    margin: 0.5em 30px 1.5em;
    text-align: justify;
    line-height: 1.6em; }
  div#content img {
    max-width: 100%;
    margin: auto;
    display: block; }
  div#content section.containsimg {
    padding-bottom: 1em; }
  div#content p.caption {
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em; }

.home div#content {
  overflow: hidden;
  border-top: none;
  padding-bottom: 0; }

/*INPAGE NAV*/
nav#jumpto {
  display: none; }

/*PAGECOVER*/
div#pagecover {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden; }

/*NEWS*/
article.newsmessage {
  padding: 2em 0 2em; }
  article.newsmessage:first-of-type {
    padding-top: 0.1em; }
  article.newsmessage h3 {
    font-size: 1.7em; }
    article.newsmessage h3 a {
      color: #333; }
  article.newsmessage p.meta {
    color: #666; }

.news article.newsmessage {
  border-bottom: 1px solid #dddddd; }

div.newscover {
  position: relative;
  overflow: hidden;
  height: 150px;
  margin-top: -2em; }

nav#pagination {
  padding: 1em;
  text-align: center; }
  nav#pagination a {
    color: white;
    display: inline-block;
    padding: 0.7em 0.9em;
    margin: 0.1em;
    background: rgba(67, 184, 61, 0.7); }
    nav#pagination a:hover {
      text-decoration: none;
      background: #43b83d; }
    nav#pagination a.current, nav#pagination a.dots {
      background: rgba(67, 184, 61, 0.7); }
    nav#pagination a.current, nav#pagination a.current:hover {
      text-decoration: underline; }

/*PHOTOS*/
article.photoalbum {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden; }
  article.photoalbum a.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #43b83d;
    display: table;
    height: 100%;
    width: 40%;
    padding: 0 3em;
    overflow: hidden;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    opacity: 0.7; }
    article.photoalbum a.overlay h3 {
      color: white;
      vertical-align: middle;
      display: table-cell;
      font-size: 2em; }
      article.photoalbum a.overlay h3 time {
        font-weight: 300; }
  article.photoalbum:hover a {
    text-decoration: none;
    width: 100%;
    opacity: 0.9; }

/*PHOTOALBUM*/
div#gallery {
  overflow: hidden;
  padding: 0 20px 20px; }

a.fancybox {
  overflow: hidden;
  position: relative;
  float: left;
  width: 48%;
  height: 120px;
  margin: 1%;
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out; }
  a.fancybox:hover {
    opacity: 1; }

/*RELEVANT*/
nav#readfurther {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee;
  margin-bottom: -1px; }
  nav#readfurther h2 {
    font-size: 1.5em;
    font-style: italic;
    margin: 0.7em 1em; }

/*INDEX: RELEVANT*/
ul#quicknav {
  padding: 0;
  margin: 0;
  overflow: hidden; }
  ul#quicknav h3 {
    margin: 0;
    color: white; }
  ul#quicknav ul {
    padding: 0 0 0 1.1em;
    color: white;
    font-weight: normal;
    font-size: 0.9em;
    margin: 0.4em 0 0; }

/*INDEX: RECENT*/
.home h2 {
  margin: 0.5em 20px; }

div#largeactivity {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative; }
  div#largeactivity a.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white; }
    div#largeactivity a.overlay div {
      vertical-align: middle;
      display: table-cell; }
    div#largeactivity a.overlay h3 {
      font-size: 2em; }
    div#largeactivity a.overlay p {
      overflow: hidden;
      height: 0;
      margin-bottom: 0.5em;
      text-align: center; }
    div#largeactivity a.overlay:hover {
      text-decoration: none;
      background: rgba(67, 184, 61, 0.9); }
      div#largeactivity a.overlay:hover p {
        height: 3em; }

ul#headlines {
  margin: 0;
  padding: 0; }
  ul#headlines li {
    list-style: none;
    display: block;
    font-size: 1.1em;
    padding: 16px 1em 15px; }
    ul#headlines li:nth-child(1) a {
      color: #000; }
    ul#headlines li:nth-child(1) time {
      color: #444; }
    ul#headlines li:nth-child(2) a {
      color: #444; }
    ul#headlines li:nth-child(2) time {
      color: #666; }
    ul#headlines li:nth-child(3) a {
      color: #666; }
    ul#headlines li:nth-child(3) time {
      color: #777; }
    ul#headlines li:nth-child(4) a {
      color: #888; }
    ul#headlines li:nth-child(4) time {
      color: #999; }
    ul#headlines li time {
      font-style: italic;
      color: #555;
      width: 44px;
      display: inline-block; }

div#comingup {
  overflow: hidden;
  border-top: 1px solid #eeeeee;
  background: #f5f5f5; }
  div#comingup ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 0 0; }
  div#comingup li {
    overflow: hidden;
    clear: both;
    border-top: 1px solid #f0f0f0;
    color: #999; }
    div#comingup li:nth-child(1) {
      background: rgba(0, 0, 0, 0.06);
      border-color: #e0e0e0;
      color: #555; }
      div#comingup li:nth-child(1) time {
        border-color: #e0e0e0; }
      div#comingup li:nth-child(1) span.day {
        color: #777; }
    div#comingup li:nth-child(2) {
      background: rgba(0, 0, 0, 0.04);
      border-color: #e5e5e5;
      color: #777; }
      div#comingup li:nth-child(2) time {
        border-color: #e5e5e5; }
      div#comingup li:nth-child(2) span.day {
        color: #888; }
    div#comingup li:nth-child(3) {
      background: rgba(0, 0, 0, 0.02);
      border-color: #e9e9e9;
      color: #8c8c8c; }
      div#comingup li:nth-child(3) time {
        border-color: #e9e9e9; }
      div#comingup li:nth-child(3) span.day {
        color: #9c9c9c; }
    div#comingup li p {
      float: left;
      display: block;
      padding: 0.9em;
      font-weight: 300;
      font-size: 1.5em;
      margin: 0; }
  div#comingup time {
    padding: 21px 23px 22px;
    width: 60px;
    float: left;
    border-right: 1px solid #f0f0f0;
    font-size: 0.9em;
    text-align: center; }
    div#comingup time span.day {
      color: #aaa;
      font-size: 2em;
      display: block;
      font-weight: bold; }

/*SUBJECT-OVERVIEW*/
nav#subjectoverview {
  font-size: 1.1em; }
  nav#subjectoverview > ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    nav#subjectoverview > ul > li {
      display: block;
      padding: 1em 30px;
      color: white; }
      nav#subjectoverview > ul > li h3 {
        margin: 0.5em 0; }
      nav#subjectoverview > ul > li ul {
        padding: 0 0 0 1.6em;
        list-style: disc; }
      nav#subjectoverview > ul > li a:link, nav#subjectoverview > ul > li a:visited {
        color: white; }
      nav#subjectoverview > ul > li.promotion {
        background-color: rgba(251, 169, 41, 0.7); }
        nav#subjectoverview > ul > li.promotion:hover {
          background-color: #fba929; }
      nav#subjectoverview > ul > li.education {
        background-color: rgba(209, 22, 5, 0.7); }
        nav#subjectoverview > ul > li.education:hover {
          background-color: #d11605; }
      nav#subjectoverview > ul > li.school {
        background-color: rgba(1, 61, 125, 0.8); }
        nav#subjectoverview > ul > li.school:hover {
          background-color: #013d7d; }
      nav#subjectoverview > ul > li.activities {
        background-color: rgba(20, 202, 157, 0.7); }
        nav#subjectoverview > ul > li.activities:hover {
          background-color: #14ca9d; }
      nav#subjectoverview > ul > li.protected {
        background-color: rgba(110, 0, 128, 0.7); }
        nav#subjectoverview > ul > li.protected:hover {
          background-color: #6e0080; }
      nav#subjectoverview > ul > li.protected.teachers {
        background-color: rgba(88, 0, 103, 0.7); }
        nav#subjectoverview > ul > li.protected.teachers:hover {
          background-color: #580067; }

/*LOGIN-PAGE*/
a#backtoindex {
  display: block;
  top: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 7;
  color: rgba(255, 255, 255, 0.7);
  padding: 1em 0;
  font-weight: bold; }

/*SETTINGS-PAGE*/
form#settings {
  padding: 0 30px; }
  form#settings input {
    display: block;
    margin: 1em 0;
    border-color: rgba(110, 0, 128, 0.5);
    width: 18em;
    max-width: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    form#settings input:hover {
      border-color: rgba(110, 0, 128, 0.7); }
    form#settings input:focus {
      border-color: #6e0080; }
    form#settings input[name=secndpass] {
      float: left;
      margin-top: 0; }
    form#settings input[type=submit] {
      color: white;
      background: rgba(110, 0, 128, 0.7);
      margin-bottom: 2em;
      clear: both; }
      form#settings input[type=submit]:hover, form#settings input[type=submit]:focus {
        background: rgba(110, 0, 128, 0.6); }
      form#settings input[type=submit][disabled] {
        background: rgba(110, 0, 128, 0.3);
        border-color: transparent; }
        form#settings input[type=submit][disabled]:hover {
          box-shadow: none;
          -o-box-shadow: none;
          -ms-box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          text-shadow: none;
          cursor: default; }
        form#settings input[type=submit][disabled]:active {
          box-shadow: none;
          -o-box-shadow: none;
          -ms-box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          padding: 0.6em 0.8em; }
  form#settings p#samechecker {
    overflow: hidden;
    float: left;
    padding: 0.6em 0;
    height: auto;
    opacity: 1;
    margin: 0 1em;
    text-align: center;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; }
    form#settings p#samechecker:empty {
      padding: 0;
      height: 0;
      opacity: 0.2; }
    form#settings p#samechecker.okay {
      color: #aaa; }

@media (min-width: 1000px) {
  div#content {
    width: 900px;
    margin: 1.5em auto;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    div#content p {
      margin: 0.5em 50px 1.5em; }

  /*INPAGE NAV*/
  nav#jumpto {
    display: block;
    position: fixed;
    margin-left: -105px;
    margin-top: 2em;
    font-size: 0.8em;
    z-index: 2; }
    nav#jumpto ul {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      nav#jumpto ul li#title {
        padding: 0.7em 0.9em;
        font-style: italic;
        color: #eee; }
      nav#jumpto ul li a:link, nav#jumpto ul li a:visited {
        max-width: 114px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.7em 0.9em;
        display: block;
        color: white; }

  /*NEWS*/
  div.newscover {
    height: 200px; }

  /*PHOTOALBUM*/
  div#gallery {
    padding: 0 40px 40px; }

  a.fancybox {
    overflow: hidden;
    float: left;
    width: 23%;
    height: 200px;
    margin: 1%; }

  /*SUBJECT-OVERVIEW*/
  nav#subjectoverview > ul {
    height: 100%;
    overflow: hidden; }
    nav#subjectoverview > ul > li {
      width: 25%;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      float: left;
      min-height: 220px; }

  /*INDEX*/
  div#indexcover {
    background-image: url(/static/img/cover.png);
    margin-top: -3.8em;
    margin-bottom: -11em; }
    div#indexcover #darken {
      padding: 8em 2em 18em; }

  ul#quicknav > li {
    float: left;
    width: 25%;
    height: 152px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  div#recent {
    width: 50%;
    float: left;
    border-right: 1px solid #eeeeee; }
    div#recent h2 {
      margin: 0;
      padding: 0.5em 20px; }

  div#largeactivity {
    height: 220px; }
    div#largeactivity a {
      transition: background 200ms ease-in-out;
      -o-transition: background 200ms ease-in-out;
      -ms-transition: background 200ms ease-in-out;
      -moz-transition: background 200ms ease-in-out;
      -webkit-transition: background 200ms ease-in-out; }
      div#largeactivity a p {
        transition: height 200ms ease-in-out;
        -o-transition: height 200ms ease-in-out;
        -ms-transition: height 200ms ease-in-out;
        -moz-transition: height 200ms ease-in-out;
        -webkit-transition: height 200ms ease-in-out; }

  ul#headlines li {
    overflow: hidden;
    font-size: 1.2em; }
  ul#headlines a {
    max-width: 87%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

  div#comingup {
    border-top: none; }
    div#comingup li {
      font-size: 1.2em;
      border-bottom: 1px solid #eeeeee; }
      div#comingup li:not(:nth-child(1)) {
        border-top: none; }

  div#recentlinks a {
    width: 44%;
    padding: 3%;
    float: left; }

  form#settings {
    padding: 0 50px; } }
@media (min-width: 1440px) {
  div#content {
    width: 1000px; }

  div#indexcover {
    margin-bottom: -10em; }
    div#indexcover #darken {
      padding: 8em 2em 17em; }

  ul#quicknav > li {
    height: 136px; } }
