article.photoalbum {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden; }
  article.photoalbum a.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #43b83d;
    display: table;
    height: 100%;
    width: 40%;
    padding: 0 3em;
    overflow: hidden;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    opacity: 0.7; }
    article.photoalbum a.overlay h3 {
      color: white;
      vertical-align: middle;
      display: table-cell;
      font-size: 2em; }
      article.photoalbum a.overlay h3 time {
        font-weight: 300; }
  article.photoalbum:hover a {
    text-decoration: none;
    width: 100%;
    opacity: 0.9; }

/*PHOTOALBUM*/
div#gallery {
  overflow: hidden;
  padding: 0 20px 20px; }

a.fancybox {
  overflow: hidden;
  position: relative;
  float: left;
  width: 48%;
  height: 120px;
  margin: 1%;
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out; }
  a.fancybox:hover {
    opacity: 1; }

@media (min-width: 1000px) {
  /*PHOTOALBUM*/
  div#gallery {
    padding: 0 40px 40px; }

  a.fancybox {
    overflow: hidden;
    float: left;
    width: 23%;
    height: 200px;
    margin: 1%; } }
