$pagewidth: 1000px;

@mixin prefixify($style, $content...) {
          #{$style}: $content;
       -o-#{$style}: $content;
      -ms-#{$style}: $content;
     -moz-#{$style}: $content;
  -webkit-#{$style}: $content;
}

table {
  border-spacing: 0;
}

table.roosterdeel > tbody > tr:nth-child(1) {
  background: #eee;
}

th.top {
  padding: 0.5em;
}

th.left {
  background: #eee;
  padding: 0.5em;
}

tr.even > td, tr.oneven > td {
  border: 1px solid #eee;
  padding: 0 0.5em;
}

table.roosterdeel {
  width: 100%;
}

div#searchname {
  padding: 1em 30px;

  input {
    width: 100%;
    @include prefixify(box-sizing, border-box);
  }
}

ul#acsname {
  margin: -1em 30px 1em;
  padding: 0;
  list-style: none;
  border: 1px solid #eee;

  &:empty {
    border: none;
  }

  a {
    display: block;
    padding: 0.6em;

    &:hover {
      background: #fff;
    }

    span {
      color: #777;
    }
  }
}

div#content p#owner {
  margin: 2em 30px 1em;
  font-weight: bold;
  font-size: 1.2em;
}

p#changes {
  overflow: hidden;
  margin: 1em 30px 1em;
  word-wrap: break-word;
}

td.vervallen {
  background: lighten(red, 35%);
}

td.wijziging {
  background: lighten(yellow, 20%);
}

@media (max-width: $pagewidth - 1) {
  div#rooster {
    overflow-x: scroll;
  }
}

@media (min-width: $pagewidth) {
  div#searchname {
    padding: 1em 50px;
  }
  ul#acsname {
    margin: -1em 50px 1em;
  }
  div#content p#owner {
    margin: 2em 50px 1em;
  }
  div#content p#changes {
    margin: 1em 50px 1em;
  }
}
