{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<script type="text/javascript" src="/media/js/slimbox2.js"></script>
<div class="item">
  <h2>{% trans 'Galleries' %}</h2>
  {% for gallery in object_list %}
  <div class="photoalbum">
  <a href="{{ gallery.get_absolute_url }}">
    <h3>{{ gallery.name }}</h3>
    <div class="photorow">
      <div class="imagefiller">
        {% for photo in gallery.photo_set.all|slice:":8" %}
        <img src="/media/{{ photo.image }}">
        {% empty %}
        <p>{% blocktrans %}No pictures to display.{% endblocktrans %}</p>
        {% endfor %}
      </div>
    </div>
  </a>
  </div>
  {% empty %}
  <h3>{% blocktrans %}Ohoh, there are no galleries{% endblocktrans %}</h3>
  {% endfor %}
</div>

{% endblock %}
