{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="four-o-four">
    <h3 class="four-o-four"><span class="bold">{% blocktrans %}Page not found{% endblocktrans%}</span></h2>
      <p class="four-o-four">{% blocktrans %}We're sorry, but there's really nothing to find here.{% endblocktrans %}</p>
      <p class="four-o-four">{% blocktrans %}Try going back to <a href="/">Home</a> or use the search function in the upperright corner to find what you were looking for.{% endblocktrans %}</p>
</div>

{% endblock %}
