{% load i18n %}
<!doctype html>
<html>
  <head>

    <title>Cygnus Template</title>
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Cabin|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){

//Inlogform
        $('#darken').hide();
        $('#loginhome').click(function() {
            $("#inlogform").animate({marginTop: '200px'}, {queue: false, duration: 'fast'});
            $('#darken').fadeIn('fast');
            $('body').css('overflow', 'hidden');
          });
        $('#closelogin').click(function() {
            $("#inlogform").animate({marginTop: '100px'}, {queue: false, duration: 'fast'});
            $('#darken').fadeOut('fast');
            $('body').css('overflow', 'visible');
          });
        
//Menu backgrounds
        var menuLi = $('li.menu, div.header');

        menuLi.hover(function() {
            $(this).children('a.header').css('background-color', '#eee');
        }, function() {
            $(this).children('a.header').css('background-color', '#fff');
        });


        $('ul.dropdown').hide();
        $("li.menu").hover(function() {
            $(this).children("ul.dropdown").stop(true, true).slideDown('fast');
          }, function() {
            $(this).children("ul.dropdown").stop(true, true).slideUp('fast');
          });
      });

      document.createElement('header');
      document.createElement('footer');
    </script>

  </head>
  <body>

    {% if not user.is_authenticated %}
      <div id="darken">
        <div id="inlogform">
          <div id="closelogin"></div>
          <h2>Login</h2>
          <form method="post" action="/user/login/" id="login">
            {% csrf_token %}
            <input class="text" type="text" id="id_username" name="username" placeholder="{% trans "Username" %}" /><br>
            <input class="text" type="password" name="password" id="id_password" placeholder="{% trans "Password" %}" /><br>
            <input class="button" type="submit" value="{% trans "Login" %}" name="submit" />
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
          </form>
          <a href="">Heb je nog geen account?</a><br>
          <a href="">Ben je je wachtwoord vergeten?</a>
        </div>
      </div>
    {% endif %}

    <div id="shadow">
      <header>

        <nav id="menunav">
          <ul id="menu">
            <li class="menu">
              <a class="header" href="/">
                <img id="logo" src="/media/img/littleswan.png" alt="logo">
                <span id="logotext"><span id="firstletter">C</span>YGNUS GYMNASIUM</span>
                <div class="clear"></div>
              </a>
            </li>
            <li class="menu"><a class="header" id="home-button" href="">Het Cygnus</a>
              <ul class="dropdown">
                <li><a class="menu-item" href="/">menu item</a></li>
                <li><a class="menu-item" href="/">menu item</a></li>
                <li><a class="menu-item" href="/">menu item</a></li>
                <li><a class="menu-item" href="/">menu item</a></li>
              </ul>
            </li>
            <li class="menu"><a class="header" href="/news">News</a></li>
            <li class="menu"><a class="header" href="">Contact</a></li>

            {% if user.is_authenticated %}
              <li id="settingicon" class="menu">
                <a class="header" href="">{% trans "User" %}</a>
                <ul class="dropdown" id="rightdrop">
                  <li><a class="menu-item" href="/">menu item</a></li>
                  <li><a class="menu-item" href="/">menu item</a></li>
                  <li><a class="menu-item" href="/">menu item</a></li>
                  <li><a class="menu-item" href="/">menu item</a></li>
                </ul>
              </li>
              <li id="vakken" class="menu"><a class="header" href="">Vakken</a>
                <ul class="dropdown" id="rightdrop">
                  <li><a class="menu-item" href="/">Grieks</a></li>
                  <li><a class="menu-item" href="/">Geschiedenis</a></li>
                  <li><a class="menu-item" href="/">Frans</a></li>
                  <li><a class="menu-item" href="/">Wiskunde</a></li>
                  <li><a class="menu-item" href="/">Meer...</a></li>
                </ul>
              </li>
            {% else %}
              <li id="loginhome" class="menu"><a href="#" class="header">{% trans "Login" %}</a></li>
            {% endif %}
          </ul>
          <div class="clear"></div>
        </nav>
      </header>

      <div id="wrapper">

        {% block content %}
        {% endblock content %}

      </div>

      <footer>
        <div id="center">
          <div id="container">
            <p id="copyright">&copy; Cygnus Gymnasium 2012</p>

            <form>
              <input type="text" id="searchfield" placeholder="{% trans "Search..." %}" />
            </form>
            <div class="clear"></div>
          </div>

          <div class="footercolumn" id="leftcolumn">
            <img id="swan" src="/media/img/zwaan.png" alt="logo">
          </div>
          <div class="footercolumn" id="middle">
            <h2 class="footerh">Sitemap</h2>
            <ul class="sitemaplist">
              <li><a href="">Startpagina</a></li>
              <li><a href="">Het Cygnus</a>
                <ul class="sitemaplist2">
                  <li><a href="">menu item</a></li>
                  <li><a href="">menu item</a></li>
                </ul>
              </li>
              <li><a href="">Nieuws</a></li>
              <li><a href="">Contact</a></li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="footercolumn">
            <h2 class="footerh"><a href="">Contact</a></h2>
            <p><span class="bold">Locatie leerjaar 1 en 2:</span><br>
            Linnaeushof 48<br>
            1098 KM Amsterdam<br>
            020-468 88 80</p>
            <p><span class="bold">Locatie leerjaar 3, 4, 5 en 6:</span><br>
            Simon Stevinstraat 48<br>
            1097 CA Amsterdam<br>
            020-462 14 50</p>
          </div>
          
          <div class="clear"></div>

        </div>
      </footer>

    </div>

  </body>
</html>
