{% load i18n %}
<!doctype html>
<html>
  <head>

    <title>{% trans "Cygnus Template" %}</title>
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Cabin|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/scripts.js"></script>

  </head>
  <body>

    {% if not user.is_authenticated %}
      <div id="darken">
        <div id="inlogform">
          <div id="closelogin"></div>
          <h2>{% trans "Login" %}</h2>
          <form method="post" action="/user/login/" id="login">
            {% csrf_token %}
            <input class="text" type="text" id="id_username" name="username" placeholder="{% trans "Username" %}" /><br>
            <input class="text" type="password" id="id_password" name="password" placeholder="{% trans "Password" %}" /><br>
            <input class="button" type="submit" value="{% trans "Login" %}" name="submit" />
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
          </form>
          <a href="">{% blocktrans %}No account?{% endblocktrans %}</a><br>
          <a href="">{% blocktrans %}Forgot your password?{% endblocktrans %}</a>
        </div>
      </div>
    {% endif %}

      <header>
        <h1 id="cygnus">
          <a href="/"><span id="firstletter">C</span>ygnus gymnasium</a>
        </h1>
      </header>
    
      <nav>
        <ul id="menu">
          
          <li class="navmenu">
            <a class="imagenav" id="homebtn" href="/"></a>
          </li>
          
          {% for page in pages %}
            {% if not page.parent %} 
            <li class="navmenu"><a class="menuitem" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
              {% if page.page_set.all %}
                <ul class="dropdown">
                {% for child in page.page_set.all %}
                    <li><a class="submenu-item" href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                {% endfor %}
                </ul>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            <li class="navmenu"><a class="menuitem" href="/news">News</a></li>
            <li class="navmenu"><a class="menuitem" href="/contact">Contact</a></li>
          
            <li class="navmenu liright" id="searchcont">
              <form id="search" method="post" action="">
                <input id="search-box" type="text" placeholder="Zoeken...">
              </form>​
            </li>

          {% if user.is_authenticated %}
              <li class="navmenu liright">
                <a class="menuitem" href="/">{{ user.first_name}} {{ user.last_name}}</a>
                <ul class="dropdown" id="rightdrop">
                  <li><a class="submenu-item" href="/letters/">{% trans "Letters" %}</a></li>
                  <li><a class="submenu-item" href="/user/settings/">{% trans "Settings" %}</a></li>
                  {% if user.is_staff %}
                  <li><a class="submenu-item" href="/admin/">{% trans "Admin" %}</a></li>
                  {% endif %}
                  <li><a class="submenu-item" href="/user/logout/">{% trans "Log out" %}</a></li>
                </ul>
              </li>
              
              <li class="navmenu liright"><a class="menuitem" href="">{% trans "Courses" %}</a>
                <ul class="dropdown" id="rightdrop">
                  <li><a class="submenu-item" href="/">Grieks</a></li>
                  <li><a class="submenu-item" href="/">Geschiedenis</a></li>
                  <li><a class="submenu-item" href="/">Frans</a></li>
                  <li><a class="submenu-item" href="/">Wiskunde</a></li>
                  <li><a class="submenu-item" href="/courses">More...</a></li>
                </ul>
              </li>
            {% else %}
              <li id="loginhome" class="navmenu"><a class="menuitem" href="#" class="header">{% trans "Login" %}</a></li>
            {% endif %}
            
          <div class="clear"></div>
        
        </ul>
      </nav>
       
      </header>

      <div class="wrapper">
        
        {% block content %}
        {% endblock content %}

      </div>

      <footer>
        
        <ul id="breadcrumbs">
          <li class="home">  
            <a class="home" href="#">Home</a>
            <span class="divider"></span>
          </li>  
          <li class="second">  
            <a class="second" href="#">Second level</a>
            <span class="divider"></span>
          </li>  
          <li class="thrid">  
            <a class="third" href="#">Third level</a>
            <span class="divider"></span>
          </li>  
          <li class="fourth">
            <a class="fourth" href="#">Fourth level</a>
            <span class="divider"></span>
          </li>  
          <li class="current">  
            <span class="current">Current page</span>
          </li>
        </ul>
          
        <div id="center">
          
          <div class="footercolumn" id="leftcolumn">

            <img id="swan" src="/media/img/zwaan.png" alt="logo">

          </div>
        
          <div class="footercolumn" id="middlecolumn">
            <h2 class="footerh">{% trans "Sitemap" %}</h2>
            <ul class="sitemaplist">
              <li><a href="">{% trans "Home" %}</a></li>
              {% for page in pages %}
              {% if not page.parent %} 
                <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                  {% if page.page_set.all %}
                    <ul class="sitemaplist2">
                    {% for child in page.page_set.all %}
                        <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endif %}
              {% endfor %}
              <li><a href="/news/">{% trans "News" %}</a></li>
              <li><a href="">{% trans "Contact" %}</a></li>
            </ul>
            <div class="clear"></div>
          </div>
                
          <div class="footercolumn" id="rightcolumn">
            <h2 class="footerh"><a href="">{% trans "Contact" %}</a></h2>
            <p><span class="bold">Locatie leerjaar 1 en 2:</span><br>
            Linnaeushof 48<br>
            1098 KM Amsterdam<br>
            020-468 88 80</p>
            <p><span class="bold">Locatie leerjaar 3, 4, 5 en 6:</span><br>
            Simon Stevinstraat 48<br>
            1097 CA Amsterdam<br>
            020-462 14 50</p>
          </div>
          
           <div class="clear"></div>

        </div>
      </footer>
  
  </body>
</html>
