{% extends 'base.html' %}

{% block content %}

    <article>
      <div class="item">
        <h2>Welkom</h2>
        <p>In september 2005 is het Cygnus Gymnasium van start gegaan. Inmiddels heeft dus de eerste lichting examen gedaan (met prachtig resultaat!). Het is een jonge school voor leerlingen die goed kunnen leren en die nieuwsgierig zijn. Het is een kleine en gezellige school waar leerlingen zichzelf kunnen zijn en waar hard gewerkt wordt. Een school voor leerlingen die goed om zich heen willen kijken in de wereld en in de wetenschap.</p>
<p>De school staat in Oost/Watergraafsmeer. Informatie over de definitieve huisvesting</p>
      </div>
    </article>

    <div class="photos">
      <h2>Foto's</h2>
      
        <div id="gallery">
          <img class="photo" src="/media/img/image-1.JPG">
          <img class="photo" src="/media/img/image-2.jpg">
          <img class="photo" src="/media/img/image-3.jpg">
        </div>
        
        <!--Loads the Galleria theme and Galleria itself. Important that this is under the sourcefiles.-->
        <script>
          Galleria.loadTheme('/media/photos/galleria/themes/classic/galleria.classic.min.js');
          
          $("#gallery").galleria({
            width: 800,
            height: 180,
            thumbnails: "empty"
          });
        </script>
 
      <p class="clear"></p>
    </div>

    <article>
      <div class="item">
        <h2>Lorem</h2>
        <p class="date"><span class="bold">Geplaatst op:</span> 22/22/2222&emsp;&middot;&emsp;<span class="bold">Door:</span> Naam van Namen</p>
        <p>Ipsum dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
        <p>Ipsum dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
        <a class="leesmeer" href="">Lees meer...</a>
        <p class="clear"></p>
      </div>
    </article>

{% endblock %}
