{% extends 'base.html' %}

{% block content %}
<div id="content">

<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non quam sed mauris venenatis laoreet. Nam imperdiet fermentum quam at vehicula. Vestibulum ac justo eu elit sollicitudin malesuada eu vel quam. Aliquam erat volutpat. Nullam urna arcu, pharetra non commodo quis, cursus eu lectus. Etiam ut purus odio, et elementum metus. Phasellus vehicula ullamcorper tincidunt. Maecenas orci enim, consectetur vel egestas vel, iaculis eu dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam, orci quis ultricies sodales, eros enim sodales nunc, quis imperdiet nisl nisl nec risus. Suspendisse elit tellus, tincidunt at suscipit id, dapibus.</p>

<div id="scrollarea"> 
  <div id="viewport"> 
    <div id="overview"> 
      <a class="image" href="">
        <div class="image" id="image1">
          <div class="photo-text">
            <h3>Album-naam</h3>
            Beschrijving van het album.
          </div>
        </div>
      </a>
      <a class="image" href="">
        <div class="image" id="image2">
          <div class="photo-text">
            <h3>Album-naam</h3>
            Beschrijving van het album.
          </div>
        </div>
      </a>
      <a class="image" href="">
        <div class="image" id="image3">
          <div class="photo-text">
            <h3>Album-naam</h3>
            Beschrijving van het album.
          </div>
        </div>
      </a>
    </div>
  </div>
  <div id="scrollbar"><div id="track"><div id="thumb"></div></div></div> 
</div>

<h2>Lorem</h2>
<p id="nieuwsbericht">Ipsum dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
<p id="leesmeer"><a href="">Lees meer...</a></p>

</div>
{% endblock %}
