<!doctype html>
<html>

  <head>

  <title>Cygnus Template</title>
    <link rel="stylesheet" type="text/css" href="../media/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Cabin|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://cygy.aweonweb.com/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#inlogform').hide();
        $("#loginhome").click(function() {
            $("#inlogform").slideToggle('fast');
            if($(this).css('border-top-color') == 'rgb(246, 156, 14)') {
              $(this).css('border-top-color', '#35b');
            } else {
              $(this).css('border-top-color', '#F69C0E');
            }
          });

        var loginHome = $("#loginhome");

        loginHome.hover(function() {
            if($(this).css('border-top-color') == 'rgb(0, 0, 136)') {
                $(this).css('border-top-color', '#35b');
            }
        }, function() {
            if($(this).css('border-top-color') == 'rgb(51, 85, 187)') {
                $(this).css('border-top-color', '#008');
            }
        });

        $('ul.dropdown').hide();

        $("li.menu, #settingicon").hover(function() {
            $(this).children("ul.dropdown").stop(true, true).slideDown('fast');
          }, function() {
            $(this).children("ul.dropdown").stop(true, true).slideUp('fast');
          });

        var searchfieldCont = $("#searchfield_cont");

        searchfieldCont.hover(function() {
            if($(this).css('border-top-color') == 'rgb(0, 0, 136)') {
                $(this).css('border-top-color', '#35b');
            }
        }, function() {
            if($(this).css('border-top-color') == 'rgb(51, 85, 187)') {
                $(this).css('border-top-color', '#008');
            }
        });

        $("#searchfield").focusin(function() {
            searchfieldCont.css('border-top-color', '#F69C0E');
          });

        $("#searchfield").focusout(function() {
            searchfieldCont.css('border-top-color', '#008');
          });

        var height = $('.dag').css('height');
        $('.divider').css('height', height);

        $("div.uure,div.uuru").hover(function() {
            $(this).children("ul.huiswerk").stop(true, true).animate({top: '2px'}, {queue: false, duration: 'fast'}).fadeIn('fast');
            $(this).children("div.triangle").stop(true, true).animate({top: '2px'}, {queue: false, duration: 'fast'}).fadeIn('fast');
          }, function() {
            $(this).children("ul.huiswerk").stop(true, true).animate({top: '20px'}, {queue: false, duration: 'fast'}).fadeOut('fast');
            $(this).children("div.triangle").stop(true, true).animate({top: '20px'}, {queue: false, duration: 'fast'}).fadeOut('fast');
          });

        $('div.uure, div.uuru, div.uuri').each(function() {
          var divClass = $(this).attr('class');
          if($('ul',this).length) {
            var huiswerk = $(this).children('ul.huiswerk').children('li:first').css('border-left-color');
            $(this).css('border-left-color', huiswerk);
          }
        });
      });

      document.createElement('header');
      document.createElement('footer');
      
    </script>
  </head>

  <body>

    <header>

      <nav>
        <ul id="menu">
          <li class="menu"><a class="header" id="home-button" href="/">Startpagina</a></li>
          <li class="menu"><a class="header" href="">Vakken</a>
            <ul class="dropdown">
              <li><a class="menu-item" href="/">Grieks</a></li>
              <li><a class="menu-item" href="/">Geschiedenis</a></li>
              <li><a class="menu-item" href="/">Frans</a></li>
              <li><a class="menu-item" href="/">Wiskunde</a></li>
              <li><a class="menu-item" href="/">Meer...</a></li>
            </ul>
          </li>
          <li class="menu"><a class="header" id="home-button" href="">De School</a>
            <ul class="dropdown">
              <li><a class="menu-item" href="/">menu item</a></li>
              <li><a class="menu-item" href="/">menu item</a></li>
              <li><a class="menu-item" href="/">menu item</a></li>
              <li><a class="menu-item" href="/">menu item</a></li>
            </ul>
          </li>
          <li class="menu"><a class="header" href="/nieuws">Nieuws</a></li>
          <li class="menu"><a class="header" href="">Contact</a></li>
        </ul>
      </nav>

      <div id="searchfield_cont">
        <form>
          <input type="text" id="searchfield" placeholder="Zoek..." />
        </form>
      </div>

      <div id="settingicon" class="header">
        <img src="../media/img/gear.png" alt="Instellingen">
        <ul class="dropdown" id="settingdrop">
          <li><a class="menu-item" href="/">menu item</a></li>
          <li><a class="menu-item" href="/">menu item</a></li>
          <li><a class="menu-item" href="/">menu item</a></li>
          <li><a class="menu-item" href="/">menu item</a></li>
        </ul>
      </div>

      <p class="clear"></p>
      <h1><span id="first-letter">C</span>YGNUS GYMNASIUM</h1>
      <img src="http://cygy.aweonweb.com/media/img/zwaan.png" />
      <p class="clear"></p>
    </header>



    <div id="wrapper">
      <div class="item">

        <h2>Rooster</h2>

        <div id="rooster">
        <div id="meldingen">
            <h3>Belangrijke mededelingen:</h3>
            <ul id="belangrijk">
              <li>Donderdag geen les</li>
              <li>Donderdag is er geen les i.v.m. stakingen, houd hier rekening mee!</li>
            </ul>
        </div>
          <div id="nummers">
		    		<div class="uuru">1</div>
		    		<div class="uure">2</div>
		    		<div class="uuru">3</div>
		    		<div class="uuri"> </div>
		    		<div class="uure">4</div>
		    		<div class="uuru">5</div>
		    		<div class="uuri"> </div>
		    		<div class="uure">6</div>
		    		<div class="uuru">7</div>
		    		<div class="uuri"> </div>
		    		<div class="uure">8</div>
		    		<div class="uuru">9</div>
          </div>

          <div class="divider"></div>

          <div class="dag">
				    <p class="dag">Maandag</p>
				
			    		<div class="uure">
					      <p class="vak"><span class="bold">MA</span> RAM <span class="right">8:25-9:20</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
                  <li class="huiswerkitem opdr">En doe ook maar een grote opdracht</li>
					        <li class="huiswerkitem">Maak opgave zus en zo</li>
                  <li class="huiswerkitem">Maak opgave zus en zo</li>
					      </ul>
					    </div>
				
					    <div class="uuru">
					      <p class="vak"><span class="bold">MA</span> RAM <span class="right">9:20-10:10</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
                  <li class="huiswerkitem so">En doe ook maar een grote opdracht</li>
					        <li class="huiswerkitem">Maak opgave zus en zo</li>
                  <li class="huiswerkitem">Maak opgave zus en zo</li>
					      </ul>
					    </div>
				
					    <div class="uure">
					      <p class="vak"><span class="bold">FA</span> VIF <span class="right">10:10-11:00</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
					        <li class="huiswerkitem so">SO over verzin maar wat</li>
					      </ul>
					    </div>
				
					    <div class="uuri">
					      <p class="vak">Pauze <span class="right">11:00-11:20</span></p>	  
					    </div>
					    
					    <div class="uuru">
					      <p class="vak"><span class="bold">GS</span> RHG <span class="right">11:20-12:10</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
					        <li class="huiswerkitem pw">PW over deze en die shizzle</li>
					      </ul>
					    </div>

					    <div class="uure">
					      <p class="vak"><span class="bold">WIB</span> BRW <span class="right">12:10-13:00</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
                  <li class="huiswerkitem opdr">En doe ook maar een grote opdracht</li>
					        <li class="huiswerkitem">Maak opgave zus en zo</li>
                  <li class="huiswerkitem">Maak opgave zus en zo</li>
					      </ul>
					    </div>

					    <div class="uuri">
					      <p class="vak">Pauze <span class="right">13:00-13:30</span></p>
					    </div>

					    <div class="uuru">
					      <p class="vak"><span class="bold">EN</span> HEE <span class="right">13:30-14:20</span></p>
					    </div>

					    <div class="uure">
					      <p class="vak"><span class="bold">NE</span> MIN <span class="right">14:20-15:10</span></p>
					    </div>

					    <div class="uuri">
					      <p class="vak">Pauze <span class="right">15:10-15:20</span></p>
					    </div>

					    <div class="uuru">
					      <p class="vak"><span class="bold">NE</span> MIN <span class="right">15:20-16:10</span></p>
					    </div>

					    <div class="uuri">
					      <p class="vak"><span class="bold">-</span> <span class="right">16:20-17:00</span></p>
					    </div>
          </div>


          <div class="divider"></div>

          <div class="dag">
				    <p class="dag">Dinsdag</p>
				
			    		<div class="uure">
					      <p class="vak"><span class="bold">NA</span> NYN <span class="right verkort">8:25-9:10</span></p>
					    </div>
				
					    <div class="uuru">
					      <p class="vak"><span class="bold">SC</span> HAS <span class="right verkort">9:10-9:50</span></p>
					    </div>
				
					    <div class="uure">
					      <p class="vak valtuit"><span class="bold">GR</span> BOK <span class="right verkort">9:50-10:30</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
                  <li class="huiswerkitem">Maak opdracht 27C</li>
					      </ul>
					    </div>

					    <div class="uuri">
					      <p class="vak">Pauze <span class="right">10:30-10:50</span></p>
					    </div>

					    <div class="uuri">
					      <p class="vak"><span class="bold">-</span> <span class="right">10:50-11:30</span></p>
					    </div>

					    <div class="uure">
					      <p class="vak"><span class="bold">WIB</span> BRW <span class="right verkort">11:30-12:10</span></p>
					    </div>

					    <div class="uuri">
					      <p class="vak">Pauze <span class="right">12:10-12:40</span></p>
					    </div>

					    <div class="uuru">
					      <p class="vak"><span class="bold">WI</span> BRW <span class="right verkort">12:40-13:20</span></p>
					    </div>

					    <div class="uure">
					      <p class="vak"><span class="bold">GS</span> RHG <span class="right verkort">13:20-14:00</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
                  <li class="huiswerkitem">Maak &sect;3.4</li>
					      </ul>
					    </div>

					    <div class="uuru">
					      <p class="vak"><span class="bold">GS</span> RHG <span class="right verkort">14:00-14:40</span></p>
					    </div>

					    <div class="uure">
					      <p class="vak"><span class="bold">LOB</span> MIN <span class="right verkort">14:40-15:20</span></p>
					    </div>
          </div>

          <div class="divider"></div>

          <div class="dag">
				    <p class="dag">Woensdag</p>
				
			    		<div class="uure">
					      <p class="vak"><span class="bold">MA</span> RAM <span class="lokaal">S09</span> <span class="right">8:25-9:20</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
                  <li class="huiswerkitem opdr">En doe ook maar een grote opdracht</li>
					        <li class="huiswerkitem">Maak opgave zus en zo</li>
                  <li class="huiswerkitem">Maak opgave zus en zo</li>
					      </ul>
					    </div>
				
					    <div class="uuru">
					      <p class="vak"><span class="bold">MA</span> RAM <span class="lokaal">S09</span> <span class="right">9:20-10:10</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
                  <li class="huiswerkitem so">En doe ook maar een grote opdracht</li>
					        <li class="huiswerkitem">Maak opgave zus en zo</li>
                  <li class="huiswerkitem">Maak opgave zus en zo</li>
					      </ul>
					    </div>
				
					    <div class="uure">
					      <p class="vak"><span class="bold">FA</span> VIF <span class="lokaal">S09</span> <span class="right">10:10-11:00</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
					        <li class="huiswerkitem so">SO over verzin maar wat</li>
					      </ul>
					    </div>
				
					    <div class="uuri">
					      <p class="vak">Pauze <span class="right">11:00-11:20</span></p>	  
					    </div>
					    
					    <div class="uuru">
					      <p class="vak"><span class="bold">GS</span> RHG <span class="lokaal">S09</span> <span class="right">11:20-12:10</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
					        <li class="huiswerkitem pw">PW over deze en die shizzle</li>
					      </ul>
					    </div>

					    <div class="uure">
					      <p class="vak"><span class="bold">WIB</span> BRW <span class="lokaal">S09</span> <span class="right">12:10-13:00</span></p>

                <div class="triangle"></div>
					      <ul class="huiswerk">
                  <li class="huiswerkitem opdr">En doe ook maar een grote opdracht</li>
					        <li class="huiswerkitem">Maak opgave zus en zo</li>
                  <li class="huiswerkitem">Maak opgave zus en zo</li>
					      </ul>
					    </div>

					    <div class="uuri">
					      <p class="vak">Pauze <span class="right">13:00-13:30</span></p>
					    </div>

					    <div class="uuru">
					      <p class="vak"><span class="bold">EN</span> HEE <span class="lokaal">S09</span> <span class="right">13:30-14:20</span></p>
					    </div>

					    <div class="uure">
					      <p class="vak"><span class="bold">NE</span> MIN <span class="lokaal">S09</span> <span class="right">14:20-15:10</span></p>
					    </div>

					    <div class="uuri">
					      <p class="vak">Pauze <span class="right">15:10-15:20</span></p>
					    </div>


					    <div class="uuru">
					      <p class="vak"><span class="bold">NE</span> MIN <span class="lokaal">S09</span> <span class="right">15:20-16:10</span></p>
					    </div>

					    <div class="uuri">
					      <p class="vak"><span class="bold">-</span> <span class="right">16:20-17:00</span></p>
					    </div>
          <p class="clear"></p>
			  </div>

          </div>

        <div class="clear"></div>
      </div>
    </div>

    <footer>
      <div id="center">
        Cygnus Gymnasium
      </div>
    </footer>

  </body>
</html>
