{% extends 'base.html' %}
{% load i18n %}

{# COMMENTS ARE TODO #}

{% block content %}
<article>
  <div class="item">

    <h1>{% trans "Schedule" %}</h1>

    <div id="rooster">
      <div class="meldingen">
        <div id="meldingenlinks">
          <h3>{% trans "Important announcements" %}</h3>
          <ul class="belangrijk">
            {% for announcement in announcements %}
              <li>{{ announcement.content }}</li>
            {% endfor %}
          </ul>
        </div>
        <div id="legend">
          <h3>Legenda</h3>
          <ul id="legendul">
            {% for homework_type in legend %}
            <li class="huiswerkitem legend{% cycle 'left' 'right' %}" style="border-color: {{ homework_type.color }};">homework_type.name</li>
            {% endfor %}
            <div class="clear"></div>
            <li class="huiswerkitem" id="valtuitlegend">{% trans "This hour is cancelled" %}</li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>

      <div id="nummers">
        {# Make this dynamic! #}
        <div class="uuru"><p class="vak">1</p></div>
        <div class="uure"><p class="vak">2</p></div>
        <div class="uuru"><p class="vak">3</p></div>
        <div class="uuri"> </div>
        <div class="uure"><p class="vak">4</p></div>
        <div class="uuru"><p class="vak">5</p></div>
        <div class="uuri"> </div>
        <div class="uure"><p class="vak">6</p></div>
        <div class="uuru"><p class="vak">7</p></div>
        <div class="uuri"> </div>
        <div class="uure"><p class="vak">8</p></div>
        <div class="uuru"><p class="vak">9</p></div>
      </div>

      <div class="divider"></div>

      {% for day in lesson_lists %}
        <div class="dag">
          <p class="dag">{{ day.name }}</p>

          {% for lesson in day %}
            {% if lesson.is_break %}
              <div class="uuri">
                <p class="vak">
                  <span class="bold">{% trans "break" %}</span>
            {% else %}
              <div class="{% cycle 'uuru' 'uure' %}">
                <p class="vak">
                  <span class="bold">{{ lesson.course.topic }}</span>
            {% endif %}
                  <span class="right">{{ lesson.start_time }} - {{ lesson.end_time }}</span>
                </p>

              <div class="triangle"></div>
              <ul class="huiswerk">
                {% for item in lesson.homework %}
                  <li class="huiswerkitem" style="border-color: {{ item.homework_type.color }};">{{ item.content }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}

          {% ifequal lesson.day_of_week "Fri" %}
            <div id="weekend">
              <span>Weekend</span>
            </div>
          {% endifequal %}
        </div>

        <div class="divider"></div>
      </div>
    {% endfor %}

    <div class="clear"></div>

    {# this... #}
    <div id="komend">
      <h3>{% trans "Coming homework" %}</h3>
      <ul class="belangrijk">
        <li class="huiswerkitem pw"><span class="italic">21/6</span>&nbsp;&nbsp;<span class="bold">WiB:</span> PW H3 en H4</li>
        <li class="huiswerkitem so"><span class="italic">22/6</span>&nbsp;&nbsp;<span class="bold">EN:</span> SO Units 86, 87, 113-120</li>
      </ul>
    </div>
  </div>
</article>
{% endblock %}
