{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">
  <h2>All Your Courses</h2>
  <p>On this page are listed all the courses that you're a member of. Courses which you're not a member of can be found by using the searchfunction.</p>
	<p>In the <span class="bold">Menu</span> column you can check the boxes of the courses that you would like to be fast accesible through the Courses dropdownmenu in the navigationbar. Push the button to save!</p>

	<form action="">
		<ul id="courses">
			<li class="head">
				<span class="coursename">Coursename</span>
				<span class="menu">Menu</span>
				<span class="year">Year</span>
				<div class="clear"></div>
			</li>
			<li class="evencourse">
				<a class="course" href="">
					<span class="coursename">Central</span>
					<span class="year">All</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			    </span>
			</li>		
			<li class="oddcourse">
				<a class="course" href="">
					<span class="coursename">Maths</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="evencourse">
				<a class="course" href="">
					<span class="coursename">English</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
					<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="oddcourse">
				<a class="course" href="">
					<span class="coursename">Sience</span>	
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="evencourse">
				<a class="course" href="">
					<span class="coursename">P.E.</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="oddcourse">
				<a class="course" href="">
					<span class="coursename">French</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="evencourse">
				<a class="course" href="">
					<span class="coursename">Dutch</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="oddcourse">
				<a class="course" href="">
					<span class="coursename">History</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="evencourse">
				<a class="course" href="">
					<span class="coursename">Biology</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="oddcourse">
				<a class="course" href="">
					<span class="coursename">Latin</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="evencourse">
				<a class="course" href="">
					<span class="coursename">Art</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="oddcourse">
				<a class="course" href="">
					<span class="coursename">Greek</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="evencourse">
				<a class="course" href="">
					<span class="coursename">Biology</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="oddcourse">
				<a class="course" href="">
					<span class="coursename">State of the art Freaking long coursename</span>
					<span class="year">4</span>
					<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>
			<li class="evencourse">
				<a class="course" href="">
					<span class="coursename">Tutor</span>
					<span class="year">All</span>
				<div class="clear"></div>
				</a>
				<span class="checkbox">
				  <input type="checkbox" name="checkbox"/>
			  </span>
			</li>						
		</ul>
		<input type="submit" name="Submit" class="course" value="Save my menu" />
	</form> 	
</div>
{% endblock %}
