{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">
  <h2>All Your Courses</h2>
  <p>On this page are listed all the courses that you're a member of. Courses which you're not a member of can be found by using the searchfunciton.</p>
	<p>In the <span class="bold">Menu</span> column you can check the boxes for the courses that you would like to be fast accesible through the Courses dropdownmenu in the navigationbar.</p>

  <ul id="courses">
		<li class="head">
			<span class="coursename">Coursename</span>
			<span class="menu">Menu</span>
			<span class="year">Year</span>
			<div class="clear"></div>
		</li>
		<li class="even">
			<a class="course" href="">
				<span class="coursename">Central</span>
			  <input type="checkbox" name="checkbox"/>
				<span class="year">All</span>
				<div class="clear"></div>
			</a>
		</li>		
		<li class="odd">
			<a class="course" href="">
				<span class="coursename">Maths</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="even">
			<a class="course" href="">
				<span class="coursename">English</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="odd">
			<a class="course" href="">
				<span class="coursename">Sience</span>
				<input type="checkbox" name="checkbox"/>		
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="even">
			<a class="course" href="">
				<span class="coursename">P.E.</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="odd">
			<a class="course" href="">
				<span class="coursename">French</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="even">
			<a class="course" href="">
				<span class="coursename">Dutch</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="odd">
			<a class="course" href="">
				<span class="coursename">History</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="even">
			<a class="course" href="">
				<span class="coursename">Biology</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="odd">
			<a class="course" href="">
				<span class="coursename">Latin</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="even">
			<a class="course" href="">
				<span class="coursename">Art</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="odd">
			<a class="course" href="">
				<span class="coursename">Greek</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="even">
			<a class="course" href="">
				<span class="coursename">Biology</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="odd">
			<a class="course" href="">
				<span class="coursename">Latin</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">4</span>
				<div class="clear"></div>
			</a>
		</li>
		<li class="even">
			<a class="course" href="">
				<span class="coursename">Tutor</span>
				<input type="checkbox" name="checkbox"/>
				<span class="year">All</span>
			<div class="clear"></div>
			</a>
		</li>						
  </ul>
</div>
{% endblock %}
