{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">
  
  <header id="courseheader" style="background-image: url(/media/img/ariadne_1.jpg);">
    <h2>Grieks</h2>
  </header>
 
  <p>Ipsum dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
  <a id="question" href="#">Questions?</a>
  
  <ul id="coursemenu">
    <li class="coursemenu-item">
      <label for="infopages" class="course">{% trans "All infopages" %}</label>
      <input id="infopages" name="infopages" class="course" type="checkbox">
    </li>
    <li class="coursemenu-item">
      <label for="links" class="course">{% trans "All Links" %}</label>
      <input id="links" name="links" class="course" type="checkbox">
    </li>
    <li class="coursemenu-item">
      <label for="assigments" class="course">{% trans "All Assigments" %}</label>
      <input id="assigments"name="assigments" class="course" type="checkbox">
    </li>
    <li class="coursemenu-item">
      <label for="questions" class="course">{% trans "All Questions" %}</label>
      <input id="questions" name="questions" class="course" type="checkbox">
    </li>
  </ul>
  
</div>   

<div class="item">
  <ul id="letters">
    <li class="odd">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/img/document.png">
        <span class="left">Naam van document</span>
        <div class="clear"></div>
      </a>
    </li>
    <li class="even">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/img/text.png">
        <span class="left">Naam van document</span>
        <div class="clear"></div>
      </a>
    </li>
    <li class="odd">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/img/link.png">
        <span class="left">Website</span>
        <div class="clear"></div>
      </a>
    </li>
  </ul>
</div>

{% endblock %}
