{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="item">
  <header id="courseheader" style="background-image: url(/media/img/ariadne_1.jpg);">
    <h2>Grieks</h2>
  </header>
  <p>Ipsum dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit dolor sit amet, consectetur <a href="">adipiscing</a> elit. Nam imperdiet fermentum quam at vehicula. Etiam scelerisque laoreet turpis, in cursus erat interdum a. Curabitur eget nisi sed eros aliquet tincidunt nec lacinia lorem. Nullam at urna ac nibh rhoncus suscipit.</p>
</div>

<div class="item">
  <ul id="letters">
    <li class="odd">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/img/document.png">
        <span class="left">Naam van document</span>
        <div class="clear"></div>
      </a>
    </li>
    <li class="even">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/img/text.png">
        <span class="left">Naam van document</span>
        <div class="clear"></div>
      </a>
    </li>
    <li class="odd">
      <a class="lettername" href="">
        <img class="fileicon" src="/media/web.png">
        <span class="left">Website</span>
        <div class="clear"></div>
      </a>
    </li>
  </ul>
</div>

{% endblock %}
