{% extends 'base.html' %}
{% load i18n %}

{# COMMENTS ARE TODO #}

{% block content %}
<article>
  <div class="item">

    <h2>{% trans "Schedule" %}</h2>

    <div id="rooster">
      <div class="meldingen">
        <div id="meldingenlinks">
          <h3>{% trans "Important announcements" %}</h3>
          <ul class="belangrijk">
            {% for announcement in announcements %}
              <li>{{ announcement.content }}</li>
            {% empty %}
              <li>{% blocktrans %}No announcements today{% endblocktrans%}
            {% endfor %}
          </ul>
        </div>
        <div id="legend">
          <h3>Legenda</h3>
          <ul id="legendul">
            {% for homework_type in legend %}
            <li class="huiswerkitem legend{% cycle 'left' 'right' %}" style="border-color: {{ homework_type.color }};">{{ homework_type.abbr }}</li>
            {% endfor %}
            <div class="clear"></div>
            <li class="huiswerkitem" id="valtuitlegend">{% trans "This hour is cancelled" %}</li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>

      <div id="nummers">
        {% for period in period_range %}
        <div class="{% if forloop.counter|divisibleby:2 %}uure{% else %}uuru{% endif %}"><p class="vak">{{ period }}</p></div>
        {% endfor %}
      </div>

      {% for day in lesson_lists %}
        <div class="divider"></div>
        <div class="dag">
            <p class="dag">{{ day.0 }}</p>

          {% for lesson in day|slice:"1:" %}
            <div class="{% if forloop.counter|divisibleby:2 %}uure{% else %}uuru{% endif %}">
              <div class="leraarles">
                <span class="bold">{{ lesson.course.topic }}</span>
                {{ lesson.course.teacher }}
              </div>
              <div class="time">{{ lesson.start_time }} - {{ lesson.end_time }}</div>
              <div class="lokaal">{{ lesson.classroom }}</div>
              <div class="clear"></div>

            {% if lesson.homework %}
              <div class="triangle"></div>
                <ul class="huiswerk">
                {% for item in lesson.homework %}
                  <li class="huiswerkitem" style="border-color: {{ item.homework_type.color }};">{{ item.content }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
          {% endfor %}

          {% for name in day|slice:"0:1" %}
            {% ifequal name "Friday" %}
              <script type="text/javascript">
                var vrijdag = true;
              </script>
              <div id="weekend">
                <span>Weekend</span>
              </div>
            {% else %}
              <script type="text/javascript">
                var vrijdag = false;
              </script>
            {% endifequal %}
          {% endfor%}

        </div>
    {% endfor %}
    </div>

    <div class="clear"></div>

    <div id="komend">
      <h3>{% trans "Coming homework" %}</h3>
      <ul class="belangrijk">
        {% for hw in coming_homework %}
          <li class="huiswerkitem" style="border-color: {{ hw.homework_type.color }};"><span class="italic">{{ hw.due_date|date:'d/m' }}</span>&nbsp;&nbsp;<span class="bold">{{ hw.lesson.course.topic }}: </span>{{ hw.content }}</li>
        {% empty %}
          <li class="huiswerkitem">Oh yeah, no homework!</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>
{% endblock %}
